@charset "utf-8";html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul , li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* a{outline:none;behavior:expression(this.onFocus=this.blur());} */
img{vertical-align:top;}
input , textarea{border:1px solid #ccc;}
.common_form {
  min-width: 1020px;
}
.lottery_top {
  height: 54px;
  padding: 12px 25px 0;
}
.order_left {
  float: left;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #717171;
}
.order_left select {
  border: 1px solid #e1e1e1;
  font-size: 14px;
  background: #fff;
  color: #000;
  outline: 0;
  width: auto;
  padding-right: 20px;
  border-radius: 3px;
  font-weight: 800;
}
.record_right {
  float: left;
}
.order_search {
  width: 120px;
  height: 29px;
  border-radius: 5px;
  border: 1px solid #ff3838;
  background: #ff3838;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  box-sizing: border-box;
}
.lottery_dep {
  height: 50px;
  line-height: 25px;
  margin: 0px 25px;
  font-size: 18px;
  color: #717171;
  font-weight: bold;
}
.ChooseLocation span {
  cursor: pointer;
}
.ChooseLocation span.active {
  color: #ff3838;
}

.trend-body #LotteryListDiv {
  margin: 0 25px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  position: relative;
}
tr.record_dep_nav {
  background: #efefef;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#LotteryListDiv table tr th:nth-of-type(1) {
	border-top-left-radius: 3px;
}

#LotteryListDiv table tr th:nth-last-of-type(1) {
	border-top-right-radius: 3px;
}

#LotteryListDiv table tr th {
	font-size: 15px;
	color: #717171;
	border-bottom: 1px solid #cbcbcb;
}

#LotteryListDiv table tr th > table tr + tr th  {
	border-bottom: none;
}

#LotteryListDiv table tr th + th{
	border-left: 1px solid #cbcbcb;
}
th.lottery_dep_nav_menu {
  height: 30px;
  text-align: center;
  font-weight: bold;
}
.common_form table td, .common_form table th {
  vertical-align: middle;
}
.record_dep_list_txt {
  height: 30px;
}
td.record_dep_list_txt {
  text-align: center;
  font-size: 13px;
  color: #3e3a39;
  border-bottom: 1px solid #dddddd;
}
.miss_ball {
  color: #bbb;
}
.ball {
  position: relative;
  z-index: 2;
  font-size: 15px;
  color: #fff;
  border: 1px #ff3838 solid;
  background: #ff3838;
  border-radius: 18px;
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
}
.order_search:hover {
  color: #ff3838;
  background-color: #fff;
}
/* .record_dep_main tbody tr:hover {
  background-color: #ffefd4;
  color: #000;
} */

.order_dep_list:nth-child(2n){
  background: #f2f2f2;
}
.order_dep_list:hover {
  background-color: #ffefd4;
  color: #000;
}
.scroll-wrapper   {
  overflow-y: scroll;
}

.trend-statistics {
  border-top: 1px solid #cbcbcb;
}
#canvas {
  position: absolute;
}
.bg_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 2;
  text-align: center;
  background: rgba( 0, 0, 0, .8 ) url(../images/loading.gif) 50% 50% no-repeat;
  color: #FFF;
  top: 0;
  left: 0;
  cursor: wait;
}
.ladder-piece {
	background-image:url(../images/ladder_piece.png)!important;
	background-repeat:no-repeat;
	display:inline-block;
	text-shadow:0 0 0 #080808
}
.ladder-piece-img_bet_odd {
	width:50px;
	height:46px;
	background-position:-469px -61px;
	margin-bottom:2px
}
.ladder-piece-img_bet_even {
	width:50px;
	height:46px;
	background-position:-402px -397px;
	margin-bottom:2px
}
.ladder-piece-img_bet_3line {
	width:50px;
	height:46px;
	background-position:-282px -397px;
	margin-bottom:2px
}
.ladder-piece-img_bet_4line {
	width:50px;
	height:46px;
	background-position:-342px -397px;
	margin-bottom:2px
}
.ladder-piece-img_bet_left {
	width:56px;
	height:46px;
	background-position:-469px -5px;
	margin-bottom:2px
}
.ladder-piece-img_bet_right {
	width:56px;
	height:46px;
	background-position:-469px -117px;
	margin-bottom:2px
}
.ladder-piece-img_bet_10 {
	width:52px;
	height:48px;
	background-position:-344px -339px
}
.ladder-piece-img_bet_00 {
	width:52px;
	height:48px;
	background-position:-405px -281px
}
.ladder-piece-img_bet_01 {
	width:52px;
	height:48px;
	background-position:-282px -339px
}
.ladder-piece-img_bet_11 {
	width:52px;
	height:48px;
	background-position:-406px -339px
}
.ladder-piece-periods-00 {
	width:45px;
	height:42px;
	background-position:-538px -444px
}
.ladder-piece-periods-01 {
	width:45px;
	height:42px;
	background-position:-471px -402px
}
.ladder-piece-periods-10 {
	width:45px;
	height:42px;
	background-position:-588px -444px
}
.ladder-piece-periods-11 {
	width:45px;
	height:42px;
	background-position:-638px -444px
}