body {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
}

#vue {
  height: 100%;
}

.huakuang .hk-bg-1 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.huakuang .hk-content {
  width: 77.77778vw;
  margin: 0px auto;
  padding: 37.03704vw 0px 0px;
  position: absolute;
  z-index: 4;
  left: 0px;
  right: 0px;
  top: 0px;
}

.huakuang .hk-box-2 {
  height: 100vw;
}

.huakuang .hk-box-2 img {
  width: 100%;
}

.huakuang .hk-saoma-box {
  margin: 1.85185vw 0px 0px;
  display: flex;
  justify-content: flex-end;
  font-size: 2.77778vw;
}

.huakuang .hk-saoma-box .hk-erweima {
  margin: 0px 0px 0px 2.77778vw;
  width: 11.11111vw;
  height: 11.11111vw;
}

.huakuang .hk-saoma-box .hk-erweima img {
  width: 100%;
}

.huakuang .swiper1 {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.huakuang .swiper1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full {
  position: absolute;
  top: 3.7037vw;
  right: 3.7037vw;
  width: 9.25926vw;
  z-index: 3;
  opacity: 0.5;
}
