$vm_base: 1080;

@function _vw($px) {
    @return ($px / $vm_base) * 100vw;
}

body{
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}

#vue{
    height: 100%;
}
.huakuang{
    .hk-bg-1{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
    }
    .hk-content{
        width: _vw(840);
        margin: 0px auto;
        padding:_vw(400) 0px 0px;
        position: absolute;
        z-index: 4;
        left: 0px;
        right: 0px;
        top: 0px;
    }
    .hk-box-2{
        height: _vw(1080);
        img{
            width: 100%;
        }
    }
    .hk-saoma-box{
        margin: _vw(20) 0px 0px;
        display: flex;
        justify-content: flex-end;
        font-size: _vw(30);
        .hk-erweima{
            margin: 0px 0px 0px _vw(30);
            width: _vw(120);
            height: _vw(120);
            // border: 1px solid red;
            img{
                width: 100%;
            }
        }
    }
    .swiper1{
        height: 100vh;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.full {
    position: absolute;
    top: _vw(40);
    right: _vw(40);
    width: _vw(100);
    z-index: 3;
    opacity: 0.5;
}