<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>澳发彩票13245 123 222 0000  </title>

    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="vue">

    
    <div class="box_1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6 flex_1">
                    <img src="image/logo_1.png" alt="" srcset="">
                </div>
                <div class="col-md-4 col-sm-4 flex_2 hidden-xs">
                    <div class="center_1">
                        <div>官方网站</div>
                        <div>WWW.2805.COM</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="flex_3 pull-right">
                        <ul class="btn_1">
                            <li>立即注册</li>
                            <li>代理登录</li>
                            <li>加入收藏</li>
                        </ul>
                        <div class="service">
                            <img src="image/fuwu.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container box_2">
            <div>
                <div class="row list">
                    <div class="col-lg-12 title_1">
                        <img src="image/quanxian.png" alt="">
                        本站路线
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路一</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路二</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路三</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路四</span>
                            <div class="label_1">急速</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路五</span>
                            <div class="label_1">急速</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路六</span>
                            <div class="label_1">急速</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路一</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路二</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路三</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路四</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路五</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>澳发线路六</span>
                        </a>
                    </div>
                </div>
                
                <!-- 域名认证 -->
                <div class="row yuMingRenZheng">
                    <div class="col-lg-12">
                        <div class="title_2">
                            <div>域名认证</div>
                            <div>DOMAIN NAME AUTHENTICTION</div>
                        </div>
                        <div class="tishi_1">
                            <span></span>
                            <span>提示：请在下方输入域名，验证是否为我公司官方域名</span>
                        </div>
                        <div class="input_1">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">http://</span>
                                <input type="text" class="form-control" v-model="url" aria-describedby="basic-addon1" @keyup.enter="attestation()">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" @click="attestation()" type="button">验证</button>
                                </span>
                            </div>
                        </div>
                        <div class="tishi_2">
                            <span v-if="err" class="err">{{err}}</span>
                            <span v-if="chenggong" class="chenggong">
                                <!-- 认证成功 -->
                                {{chenggong}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row list">
                    <div class="col-lg-12 title_1">
                        <img src="image/huojian.png" alt="">
                        快速导航
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/renyuanguanl.png" alt="" srcset="">
                            <span>免费开户</span>
                            <div class="label_1">HOT</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/huodong.png" alt="" srcset="">
                            <span>活动大厅</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/phone.png" alt="" srcset="">
                            <span>手机下注</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/hongbao.png" alt="" srcset="">
                            <span>抢红包</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/dailijiameng.png" alt="" srcset="">
                            <span>代理加盟</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/kefu.png" alt="" srcset="">
                            <span>客服中心</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/qiandai.png" alt="" srcset="">
                            <span>优惠大厅</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/zuixingyouhui.png" alt="" srcset="">
                            <span>最新优惠</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/APPxiaz.png" alt="" srcset="">
                            <span>APP下载</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/kefu.png" alt="" srcset="">
                            <span>在线客服</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/chongzhi.png" alt="" srcset="">
                            <span>快速充值</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/vip.png" alt="" srcset="">
                            <span>VIP系统</span>
                        </a>
                    </div>
                </div>

                <div class="row list">
                    <div class="col-lg-12 title_1">
                        <img src="image/tuijian.png" alt="">
                        推荐浏览器
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.google.cn/intl/zh-CN/chrome/">
                            <img src="image/google.png" alt="" srcset="">
                            <span>谷歌浏览器</span>
                            <div class="label_1">热</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.baidu.com/s?wd=百度浏览器">
                            <img src="image/baidu.png" alt="" srcset="">
                            <span>百度浏览器</span>
                            <div class="label_1">热</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.firefox.com.cn/">
                            <img src="image/huofu.png" alt="" srcset="">
                            <span>火狐浏览器</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.360.cn/">
                            <img src="image/360.png" alt="" srcset="">
                            <span>360浏览器</span>
                            <div class="label_1">热</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://pc.uc.cn/">
                            <img src="image/uc.png" alt="" srcset="">
                            <span>UC浏览器</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.maxthon.cn/custom/">
                            <img src="image/aoyou.jpg" alt="" srcset="">
                            <span>傲游浏览器</span>
                        </a>
                    </div>
                </div>

                <div class="row list">
                    <div class="col-lg-12 title_1">
                        <img src="image/aixin.png" alt="">
                        常用网站
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.boc.cn/">
                            <img src="image/yinhang/zhongguo.png" alt="" srcset="">
                            <span>中国银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.icbc.com.cn/icbc/">
                            <img src="image/yinhang/gongshang.png" alt="" srcset="">
                            <span>工商银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.ccb.com/cn/home/indexv3.html">
                            <img src="image/yinhang/jianshe.png" alt="" srcset="">
                            <span>建设银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.abchina.com/cn/">
                            <img src="image/yinhang/nongye.png" alt="" srcset="">
                            <span>农业银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.bankcomm.com/BankCommSite/default.shtml">
                            <img src="image/yinhang/jiaotong.png" alt="" srcset="">
                            <span>交通银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/yinhang/zhaoshang.png" alt="" srcset="">
                            <span>招商银行</span>
                        </a>
                    </div>
                    
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.cmbchina.com/">
                            <img src="image/yinhang/youzheng.png" alt="" srcset="">
                            <span>邮政银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://www.cebbank.com/">
                            <img src="image/yinhang/guangda1.png" alt="" srcset="">
                            <span>光大银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/yinhang/xingye.png" alt="" srcset="">
                            <span>兴业银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.cib.com.cn/cn/index.html">
                            <img src="image/yinhang/guangfa.png" alt="" srcset="">
                            <span>广发银行</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.alipay.com/">
                            <img src="image/yinhang/zhifubao.png" alt="" srcset="">
                            <span>支付宝</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://weixin.qq.com/">
                            <img src="image/yinhang/weixin.png" alt="" srcset="">
                            <span>微信支付</span>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="">
                            <img src="image/wangyi.png" alt="" srcset="">
                            <span>网易新闻</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://news.163.com/">
                            <img src="image/baidu1.png" alt="" srcset="">
                            <span>百度新闻</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://news.qq.com/">
                            <img src="image/tentxunxinwen.jpg" alt="" srcset="">
                            <span>腾讯新闻</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://news.ifeng.com/">
                            <img src="image/fenghuang.jpg" alt="" srcset="">
                            <span>凤凰咨询</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://landing.toutiao.com/">
                            <img src="image/toutiao.png" alt="" srcset="">
                            <span>今日头条</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="http://news.cctv.com/">
                            <img src="image/cctv.jpg" alt="" srcset="">
                            <span>CCTV新闻</span>
                        </a>
                    </div>
                    
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.baidu.com/">
                            <img src="image/baidu1.png" alt="" srcset="">
                            <span>百度</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.google.cn/">
                            <img src="image/google.png" alt="" srcset="">
                            <span>谷歌</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.sogou.com/">
                            <img src="image/logo_2.png" alt="" srcset="">
                            <span>搜狗</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.163.com/">
                            <img src="image/wangyi2.jpg" alt="" srcset="">
                            <span>网易</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.sina.com.cn/">
                            <img src="image/xinlang.png" alt="" srcset="">
                            <span>新浪</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 item">
                        <a href="https://www.360.cn/">
                            <img src="image/360_1.png" alt="" srcset="">
                            <span>360</span>
                        </a>
                    </div>
                    
                </div>

            </div>
        </div>

    </div>

</div>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="vue/vue.js"></script>
    <script src="userList.js"></script>
    
    <script>
        new Vue({
            el:"#vue",
            data() {
                return {
                    url:"",
                    err:"",
                    chenggong:"",
                }
            },
            methods: {
                attestation(){
                    if(!this.url){
                        this.err="请输入要检测的域名"
                    }else if(this.url.indexOf('.')==-1 ){
                        this.err="请输入要检测的域名"
                    }else {
                        var url=this.url.toLowerCase().replace('http://','').replace('https://','')//.replace('www.','').replace('.com','').replace('.cn','');
                        var url_2=this.url.toLowerCase()
                        var isok=false;
                            userList.forEach(item => {
                                var item_1=item.replace('http://','').replace('https://','')//.replace('www.','').replace('.com','').replace('.cn','')
                                if(item.indexOf(url)!=-1 || url_2.indexOf(item_1)!=-1 ){
                                    isok=true
                                }
                            });
                        if(isok){
                            this.err='';
                            this.chenggong="此域名通过认证，欢迎访问网站"
                        }else{
                            this.err="此域名未通过官方认证，请勿浏览！";
                            this.chenggong=""
                        }
                    }
                }
            },
        })
    </script>
</body>
</html>