body{
	margin:0;
	padding: 0;
	background: #1F1616;
}
.container{
	width:640px;
	margin:0 auto;
	position:relative;
	padding:0;
	background: #1F1616;
	
}
.ui{
	background:url('./image/ui.png') no-repeat;
	background-size:2048px 1024px;
}

.top{
	height:208px;
	background-position: -1266px 0;
	text-align: center;
}
.top>.notice{
	position: absolute;
	width:178px;
	height:42px;
	left: 0;
	top:6px;
	background-position: -806px -691px;
}
.top>.notice>p{
	font-size:18px; 
	color:#ffb0b0;
	text-align: left;
	padding-left: 20px;
	height: 18px;
	line-height:6px;

}
.top>.haoyun{
	position: absolute;
	width:96px;
	height:46px;
	right:87px;
	top:87px;
	background-position: -1619px -491px;
}
.top>.baoxi{
	position: absolute;
	width:108px;
	height:46px;
	left:61px;
	top:148px;
	font-size:18px; 
	color:#6b4242;
}
.xiajiantou{
	background: url(./image/ui.png) no-repeat;
    background-position: -2024px -83px;
    width: 27px;
    height: 13px;
    position: absolute;
    top: 27px;
    left: 112px;
}
.top>.jishi{
	position: absolute;
	width:130px;
	height:46px;
	right:61px;
	top:148px;
	font-size:18px; 
	color:#6b4242;
}
.top>.jishi>p>span{
	color: #b17d7d;
}
.yuanbao{
	background: url(./image/sprite_dealer.png) no-repeat;
    background-position: -96px -290px;
    width: 59px;
    height: 48px;
    top: 35px;
    left: 185px;
    position: absolute;
}
.caishen{
	height:96%;
	width:42%;
	background-position:-805px -422px;
	display: inline-block;
}

.main{
	position: relative;
	text-align:center;
	height: 828px;
}

.zhuanpan{
	width:625px;
	height:625px;
	background-position: 0 0;
	display: inline-block;
	margin-top:-16px;
	position: absolute;
	right: 6px;
}
.zhuanpan>.circle1,.zhuanpan>.circle2,.zhuanpan>.circle3{color: #dc8f8b;}

.zhuanpan>.circle2{margin-top: 108px;}
.zhuanpan>.circle3{margin-top: 78px;}
/*转盘上的数字*/

.xiazhu{
	position: relative;
	width:100%;
}

.xiazhu span{
	color: #fced90;
	font-size: 20px; 
	display:none;
	position: absolute;
}
.xiazhu #zhu{
	display: block;
    top: -189px;
    left: 138px;
    width: 101px;
    height: 79px;
}
.xiazhu #shu{
	display: block;
    top: -220px;
    left: 260px;
    width: 101px;
    height: 93px;
}
.xiazhu #niu{
	display: block;
    top: -206px;
    left: 384px;
    width: 96px;
    height: 100px;
}
.xiazhu #hu{
	display: block;
	top: -106px;
    right: 49px;
    width: 94px;
	height: 95px;
	z-index: 11;
}
.xiazhu #tu{
	display: block;
    top: 8px;
    right: 27px;
    width: 94px;
    height: 104px;
}
.xiazhu #long{
	display: block;
    top: 129px;
    right: 62px;
    width: 78px;
    height: 104px;
}
.xiazhu #she{
	display: block;
    top: 228px;
    right: 148px;
    width: 91px;
    height: 104px;
}
.xiazhu #ma{
	display: block;
    top: 249px;
    left: 267px;
    width: 91px;
    height: 104px;
}
.xiazhu #yang{
    display: block;
    top: 224px;
    left: 144px;
    width: 92px;
    height: 90px;
}
.xiazhu #hou{
	display: block;
    top: 136px;
    left: 53px;
    width: 92px;
    height: 90px;
}
.xiazhu #ji{
	display: block;
    top: 11px;
    left: 21px;
    width: 102px;
    height: 100px;
}
.xiazhu #gou{
	display: block;
    top: -111px;
    left: 49px;
    width: 93px;
	height: 100px;
	z-index: 11;
}
.xiazhu #fu{
	display: block;
    top: -111px;
    left: 250px;
    width: 126px;
    height: 80px;
}
.xiazhu #lu{
	display: block;
    top: -33px;
    right: 139px;
    width: 84px;
    height: 114px;
}
.xiazhu #shou{
	display: block;
    top: 138px;
    right: 186px;
    width: 102px;
    height: 81px;
}
.xiazhu #xi{
	display: block;
    top: 138px;
    left: 186px;
    width: 119px;
    height: 80px;
}
.xiazhu #cai{
    display: block;
    top: -32px;
    left: 142px;
    width: 80px;
    height: 114px;
}
.xiazhu #jingtong{
	display: block;
    top: 4px;
    left: 249px;
    width: 57px;
    height: 112px;
}
.xiazhu #yunv{
	display: block;
    top: 4px;
	left: 322px;
	width: 57px;
    height: 112px;
}
.touxiang #touxiang_1 img{
	position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
	bottom: 176px;
	left: 292px;
	border: 4px solid #dea34d;
}
.touxiang #touxiang_1 p{
	position: absolute;
	bottom: 114px;
    left: 321px;
    color: #735858;
    font-size: 24px;
}
.touxiang #touxiang_2 img{
	position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
	bottom: 200px;
	left: 147px;
	border: 4px solid #dea34d;
}
.touxiang #touxiang_2 p{
	position: absolute;
	bottom: 140px;
    left: 159px;
    color: #735858;
    font-size: 24px;
}
.touxiang #touxiang_3 img{
	position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
	bottom: 279px;
	left: 30px;
	border: 4px solid #dea34d;
}
.touxiang #touxiang_3 p{
	position: absolute;
	bottom: 217px;
    left: 41px;
    color: #735858;
    font-size: 24px;
}
.touxiang #touxiang_4 img{
	position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
	bottom: 279px;
	right: 30px;
	border: 4px solid #dea34d;
}
.touxiang #touxiang_4 p{
	position: absolute;
	bottom: 217px;
    right: 41px;
    color: #735858;
    font-size: 24px;
}
.touxiang #touxiang_5 img{
	position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
	bottom: 192px;
	right: 137px;
	border: 4px solid #dea34d;
}
.touxiang #touxiang_5 p{
	position: absolute;
	bottom: 134px;
    right: 114px;
    color: #735858;
    font-size: 24px;
}
.xiazhu span:nth-child(1)
{
	display: block;
	left:30px;
	top:-0px;
}

.leftblock{
	width:134px;
	height:168px;
	position: absolute;
	background-position: -1077px -489px;
	left:7px;
	top:9px;
	z-index: 10;
}

.leftblock>.circle_left{
	width:42px;
	height:40px;
	position: absolute;
	background-position: -2002px -42px;
	left:95px;
	top:-3px;
}
.leftblock>.text_left{
	color: #fac289;
	width:42px;
	height:40px;
	position: absolute;
	left:45px;
	top:53px;
	transform:rotate(-51deg);
}
.leftblock>.text_left1{
	font-size: 20px;
	color: #25180d;
	position: absolute;
	left:10px;
	top:52px;
}
.leftblock>.text_left2{
	font-size: 20px;
	color: #25180d;
	width:42px;
	height:40px;
	position: absolute;
	left:45px;
	top:8px;
}
.rightblock{
	width:134px;
	height:168px;
	position: absolute;
	background-position: -1212px -489px;
	right:10px;
	top:9px;
	z-index: 10;
}
.rightblock>.circle_right{
	width:42px;
	height:40px;
	position: absolute;
	background-position: -2002px 0px;
	left:-3px;
	top:-7px;
}
.rightblock>.text_right{
	color: #fac289;
	width:42px;
	height:40px;
	position: absolute;
	left:49px;
	top:52px;
	transform:rotate(54deg);
}

.rightblock>.text_right1{
	font-size:20px;
	color: #25180d;
	position: absolute;
	left:45px;
	top:6px;
}
.rightblock>.text_right2{
	font-size: 20px;
	color: #25180d;
	width:42px;
	height:40px;
	position: absolute;
	left:87px;
	top:49px;
}
.rightblock>.text_right3{
	font-size: 20px;
	color: #25180d;
	width:42px;
	height:40px;
	position: absolute;
	left:96px;
	top:92px;
}


.zhuanpan>.user1>img{width: 72px;height: 72px;position: absolute;left: 22px;top: 476px;}
.zhuanpan>.user2>img{width: 72px;height: 72px;position: absolute;right: 22px;top: 476px;}
.zhuanpan>.user3>img{width: 72px;height: 72px;position: absolute;left: 128px;top:563px;}
.zhuanpan>.user4>img{width: 72px;height: 72px;position: absolute;right: 119px;top: 560px;}
.zhuanpan>.user5>img{width: 72px;height: 72px;position: absolute;right: 278px;top:591px;}

.bottom{
	width:640px;
	height:108px;
	background-position: -1266px -210px;
	position: absolute;
	bottom: -103px;
}

.balanceinfo{
	padding-left:30px;
	font-size:18px;
	width:165px;
}

.balanceinfo p{
	margin:0;
	padding:0;
	color:#a57272;
	padding-left: 18px;
	padding-top:20px;
}

.balance{
	background-position: -1832px -729px;
	width:165px;
	height:34px;
	margin-top:10px;	
	padding-left:10px;
	line-height: 30px;
	color:#a57272;
	position: relative;
}
.balance>span{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	color: #e3b2b2;
	margin-top:8px;
}
.paybutton{
	position: absolute;
	width:48px;
	height:48px;
	right:0;
	top:-6px;
	background-position: -127px -669px;
	
}
.balanceload_jd{
	position: absolute;
    width: 50px;
    height: 84px;
    right: 328px;
    top: 34px;
    background-position: -983px -689px;
    color: #561e1e;
    opacity: 0.3;
}
.balanceload>.balanceload_100{
	position: absolute;
	width:86px;
	height:80px;
	right:330px;
	top:16px;
	background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.jindou{
	background: url(./image/ui.png) no-repeat;
    background-position: -125px -714px;
    position: absolute;
    width: 56px;
    height: 50px;
    right: 330px;
    top: -68px;
}
.fz{
	background:url('./image/ui.png') no-repeat;
	position: absolute;
	width:86px;
	height:80px;
	left: -30px;
    top: -54px;
	background-position: -1950px -468px;
	color: #561e1e;
}
.fz p{
	position: absolute;
    left: 30px;
    top: 38px;
}
.balanceload>.balanceload_100>div{
	margin-top: 55px;
	text-align: center;
}
.balanceload>.balanceload_1000{
	position: absolute;
	width:86px;
	height:80px;
	right:230px;
	top:16px;
	background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.balanceload>.balanceload_1000>div{
	margin-top: 55px;
	text-align: center;
}
.balanceload>.balanceload_10000{
	position: absolute;
	width:86px;
	height:80px;
	right:130px;
	top:16px;
	background-position: -1950px -468px;
	opacity: 0.3;
	color: #561e1e;
}
.balanceload>.balanceload_10000>div{
	margin-top: 55px;
	text-align: center;
}

.clearbtn{
	position: absolute;
	width:76px;
	height:74px;
	right:36px;
	top:18px;
	background-position: -1350px -687px;
}

/* 弹框 */
#tankuang{
	display: none;
}
.hengfu{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 623px;
    height: 453px;
    top: 286px;
    left: 8px;
	background-position: -628px 28px;
	z-index: 1316;
}
.zhezhao{
	position: absolute;
    width: 100%;
    height: 111%;
    background: black;
    opacity: 0.5;
	top: 0;
	z-index: 10;
}
.kjbj{
	background: url(./image/ui.png) no-repeat;
	width: 400px;
	height: 200px;
	background-position: -630px -425px;
    z-index: 10;
}
#guanbi{
	color: yellow;
    font-size: 28px;
    position: absolute;
    top: 266px;
    right: 58px;
    z-index: 1101;
}
.denglong1{
    background: url(./image/ui.png) no-repeat;
	position: absolute;
    width: 168px;
    height: 346px;
    left: 45px;
    top: 315px;
    background-position: -630px -425px;
	z-index: 1317;
	/* animation:myfirst1 2s infinite;
	/* animation-direction:alternate; 
	animation-iteration-count:1; */
	
}
.donghua .denglong1{
	animation:myfirst1 2s ;
}
@keyframes myfirst1
{
	0%   {  top:-33px;opacity: 0;}
	25%  { top:390px ;}
	100% { top:315px;}
}
.denglong2{
    background: url(./image/ui.png) no-repeat;
	position: absolute;
    width: 168px;
    height: 346px;
    left: 247px;
    top: 315px;
    background-position: -630px -425px;
	z-index: 1317;
	/* animation:myfirst2 2s infinite;
	animation-direction:alternate;
	animation-iteration-count:1; */
}
.donghua .denglong2{
	animation:myfirst2 2s ;
}
@keyframes myfirst2
{
	0%   {  top:-33px;opacity: 0;}
	25%  {top:-33px;opacity: 0;}
	50%{ top:390px ;}
	100% { top:315px;}
}
.denglong3{
    background: url(./image/ui.png) no-repeat;
	position: absolute;
    width: 168px;
    height: 346px;	
    left: 445px;
    top: 315px;
    background-position: -630px -425px;
	z-index: 1317;
	/* animation:myfirst3 2s ;
	animation-direction:alternate;
	animation-iteration-count:1;
	animation-timing-function:cubic-bezier(0, 1.06, 0.94, 0.92) */
}
.donghua .denglong3{
	animation:myfirst3 2s ;
}
@keyframes myfirst3
{
	0%   {  top:-33px;opacity: 0;}
	25%  {top:-33px;opacity: 0;}
	50%  {top:-33px;opacity: 0;}
	80%  {top:390px ; }
	100% { top:315px;}
}
.kjbj1{
	position: absolute;
    width: 60px;
    height: 113px;
    left: 55px;
    top: 196px;
    background: linear-gradient(to bottom, #ffff92 , #d9d930); 
}
.kjbj2{
	position: absolute;
    width: 60px;
    height: 113px;
    left: 55px;
    top: 196px;
    background: linear-gradient(to bottom, #ffff92 , #d9d930); 
}
.kjbj3{
	position: absolute;
	width: 60px;
	height: 114px;
	left: 55px;
	top: 196px;
	background: linear-gradient(to bottom, #ffff92 , #d9d930); 
}
.kaijiang1{
	background: url(./image/11.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 125px;
	top: 194px;
	left: 54px;
	
}
.donghua .kaijiang1{
	animation: up1 3s cubic-bezier(0.25,0.1,0.25,1)  ;
}
@keyframes up1{
	0%{
		background-position: 0px 0px;
	}
	25%{ 
		background-position: 0px 0px; 
	}
	50%{  
		background-position: 0px 0px; 
	}
	70%{ 
		 background-position: 0px 0px; 
	}
	80%{ 
		background-position: 0px 0px; 
   }
	100%{
		background-position: -867px 0px;
	}
}
.kaijiang2{
	background: url(./image/22.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 125px;
	top: 194px;
	left: 54px;
	/* animation: up2 3s ease-out ; */
}
.donghua .kaijiang2{
	animation: up2 3s cubic-bezier(0.25,0.1,0.25,1)   ;
}
@keyframes up2{
	0%{
		background-position: 0px 0px;
	}
	25%{ 
		background-position: 0px 0px; 
	}
	50%{  
		background-position: 0px 0px; 
	}
	70%{ 
		 background-position: 0px 0px; 
	}
	80%{ 
		background-position: 0px 0px; 
   }
	100%{
		background-position: -867px 0px;
	}
}
.kaijiang3{
	background: url(./image/44.png) no-repeat;
	position: absolute;
	width: 65px;
	height: 125px;
	top: 194px;
	left: 54px;	
	/* animation: up3 3s ease-out ; */
	/* animation-iteration-count:3; */
}
.donghua .kaijiang3{
	animation: up3 3s cubic-bezier(0.25,0.1,0.25,1) ;
}
@keyframes up3{
	0%{
		background-position: 0px 0px;
	}
	25%{ 
		background-position: 0px 0px; 
	}
	50%{  
		background-position: 0px 0px; 
	}
	70%{ 
		 background-position: 0px 0px; 
	}
	80%{ 
		background-position: 0px 0px; 
   }
	100%{
		background-position: -867px 0px;
	}
}
.kjbg1{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 65px;
    height: 192px;
    left: -2px;
    top: -73px;
    background-position: -1430px 75px;
 
}
/* 五福开奖定位 */
.wfj{
	background-position: -62px 0px;
}
.fuj{
	background-position: -248px 0px;
}
.luj{
	background-position: -64px 0px;
}
.shouj{
	background-position: -126px 0px;
}
.caij{
    background-position: -186px 0px;
}
.xij{
	background-position: -311px 0px;
}

/* 金玉开奖定位 */
.jtj{
	background-position: -123px 0px;

}
.yvj{
	background-position: -62px 0px;
}

/* 生肖开奖定位 */
.shuj{
	background-position: -64px 0px;
}
.zhuj{
	background-position: -124px 0px;
}
.maj{
	background-position: -187px 0px;
}
.tuj{
	background-position: -249px 0px;
}
.niuj{
	background-position: -309px 0px;
}
.yangj{
	background-position: -372px 0px;
}
.jj{
	background-position: -434px 0px;
}
.gouj{
	background-position: -496px 0px;
}
.longj{
    background-position: -559px 0px;
}
.huj{
	background-position: -619px 0px;
}
.shej{
	background-position: -679px 0px;
}
.houj{
	background-position: -745px 0px;
}
.sxj{
	background-position: -805px 0px;
}
/* .kj_qs{
	position: absolute;
    top: 689px;
    color: yellow;
    z-index: 1401;
	left: 235px;
	font-size: 20px;
} */

/* 生肖金豆飞入定位 */
.shuf {
    position: absolute;
	top: -798px !important;
    left: 281px !important;
	animation: shuf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes shuf {
	0%{
		top: 0px;
		right: -100px;
		opacity: 1;
	}
	50%{
		top: -798px !important;
        left: 281px !important;
		 
		opacity: 1 ;
	}
	70%{
		top: -798px !important;
        left: 281px !important;
		 
		opacity: 1 ;
	}
	80%{
		top: -798px !important;
        left: 281px !important;
		 
		opacity: 1 ;
	}
	100%{
		top: -798px !important;
        left: 281px !important;
		 
		opacity: 0 ;
	}
}
.niuf {
	position: absolute;
    top: -775px !important;
    left: 402px !important;
	animation: niuf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes niuf {
	0%{
		top: 0px;
	    right: -100px;
	    opacity: 1;
	}
	50%{
	    top: -775px !important;
        left: 402px !important;
		 
		opacity: 1;
	}
	70%{
	    top: -775px !important;
        left: 402px !important;
		 
		opacity: 1;
	}
	80%{
	    top: -775px !important;
        left: 402px !important;
		 
		opacity: 1;
	}
	100%{
	    top: -775px !important;
        left: 402px !important;
		 
		opacity: 0;
	}
}
.huf {
	position: absolute;
	top: -683px !important;
    left: 489px !important;
	animation: huf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes huf {
	0%{
		top: 0px;
	   right: 0px;
	   opacity: 1;
	}
	50%{
		top: -683px !important;
		left: 489px !important;
		 
		opacity: 1;
	}
	70%{
		top: -683px !important;
		left: 489px !important;
		 
		opacity: 1;
	}
	90%{
		top: -683px !important;
		left: 489px !important;
		 
		opacity: 1;
	}
	100%{
		top: -683px !important;
		left: 489px !important;
		 
		opacity: 0;
	}
}
.tuf {
	position: absolute;
	top: -559px !important;
    left: 520px !important;
	animation: tuf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes tuf {
	0%{
		top: 0px;
	   right: 0px;
	   opacity: 1;
	}
	50%{
		top: -559px !important;
		left: 520px !important;
		 
		opacity: 1;
	}
	70%{
		top: -559px !important;
		left: 520px !important;
		 
		opacity: 1;
	}
	90%{
		top: -559px !important;
		left: 520px !important;
		 
		opacity: 1;
	}
	100%{
		top: -559px !important;
		left: 520px !important;
		 
		opacity: 0;
	}
}
.longf {
	position: absolute;
	top: -447px !important;
    left: 475px !important;
	animation: longf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes longf {
	0%{
		top: 0px;
	    right: 0px;
	    opacity: 1;
	}
	50%{
		top: -447px !important;
		left: 475px !important;
		 
		opacity: 1;
	}
	70%{
		top: -447px !important;
		left: 475px !important;
		 
		opacity: 1;
	}
	90%{
		top: -447px !important;
		left: 475px !important;
		 
		opacity: 1;
	}
	100%{
		top: -447px !important;
		left: 475px !important;
		 
		opacity: 0;
	}
}
.shef {
	position: absolute;
	top: -354px !important;
	left: 389px !important;
	animation: shef 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes shef {
	0%{
		top: 0px;
	    right: 0px;
	    opacity: 1;
	}
	50%{
		top: -354px !important;
		left: 389px !important;
		 
		opacity: 1;
	}
	70%{
		top: -354px !important;
		left: 389px !important;
		 
		opacity: 1;
	}
	90%{
		top: -354px !important;
		left: 389px !important;
		 
		opacity: 1;
	}
	100%{
		top: -354px !important;
		left: 389px !important;
		 
		opacity: 0;
	}
}
.maf {
	position: absolute;
	top: -333px !important;
    left: 262px !important;
	animation: maf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes maf {
	0%{
		top: 0px;
	    right: 0px;
	    opacity: 1;
	}
	50%{
		top: -333px !important;
		left: 262px !important;
		 
		opacity: 1;
	}
	70%{
		top: -333px !important;
		left: 262px !important;
		 
		opacity: 1;
	}
	90%{
		top: -333px !important;
		left: 262px !important;
		 
		opacity: 1;
	}
	100%{
		top: -333px !important;
		left: 262px !important;
		 
		opacity: 0;
	}
}
.yangf {
	position: absolute;
	top: -371px !important;
    left: 148px !important;
	animation: yangf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes yangf {
	0%{
		top: 0px;
	    right: 0px;
	    opacity: 1;
	}
	50%{
		top: -371px !important;
		left: 148px !important;
		 
		opacity: 1;
	}
	70%{
		top: -371px !important;
		left: 148px !important;
		 
		opacity: 1;
	}
	90%{
		top: -371px !important;
		left: 148px !important;
		 
		opacity: 1;
	}
	100%{
		top: -371px !important;
		left: 148px !important;
		 
		opacity: 0;
	}
}
.houf {
	position: absolute;
	top: -463px !important;
    left: 65px !important;
	animation: houf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes houf {
	0%{
		top: 0px;
	    right: 0px;
	    opacity: 1;
	}
	50%{
		top: -463px !important;
		left: 65px !important;
		 
		opacity: 1;
	}
	70%{
		top: -463px !important;
		left: 65px !important;
		 
		opacity: 1;
	}
	90%{
		top: -463px !important;
		left: 65px !important;
		 
		opacity: 1;
	}
	100%{
		top: -463px !important;
		left: 65px !important;
		 
		opacity: 0;
	}
}
.jif {
	position: absolute;
	top: -585px !important;
    left: 31px !important;
	animation: jif 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes jif {
	0%{
		top: 0px;
	    right: 0px;
        opacity: 1; 	 
	 }
	 50%{
		top: -585px !important;
		left: 31px !important;
		 
		opacity: 1;
	}
	70%{
		top: -585px !important;
		left: 31px !important;
		 
		opacity: 1;
	}
	90%{
		top: -585px !important;
		left: 31px !important;
		 
		opacity: 1;
	}
	100%{
		top: -585px !important;
		left: 31px !important;
		 
		opacity: 0;
	}
}
.gouf {
	position: absolute;
	top: -709px !important;
    left: 81px !important;
	animation: gouf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes gouf {
	0%{
		top: 0px;
	    right: 0px;
	    opacity: 1;
	}
	50%{
		top: -709px !important;
        left: 81px !important;
		 
		opacity: 1;
	}
	70%{
		top: -709px !important;
        left: 81px !important;
		 
		opacity: 1;
	}
	90%{
		top: -709px !important;
        left: 81px !important;
		 
		opacity: 1;
	}
	100%{
		top: -709px !important;
        left: 81px !important;
		 
		opacity: 0;
	}
}
.zhuf {
	position: absolute;
	top: -784px !important;
    left: 172px !important;
	animation: zhuf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes zhuf {
	0%{
		top: 0px;
	    right: 0px;
	    opacity: 1;
	}
	50%{
		top: -784px !important;
		left: 172px !important;
		 
		opacity: 1;
	}
	70%{
		top: -784px !important;
		left: 172px !important;
		 
		opacity: 1;
	}
	90%{
		top: -784px !important;
		left: 172px !important;
		 
		opacity: 1;
	}
	100%{
		top: -784px !important;
		left: 172px !important;
		 
		opacity: 0;
	}
}
/* 五福金豆飞入定位 */
.fuf {
    position: absolute;
	top: -697px !important;
    left: 274px !important;
	animation: fuf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes fuf {
	0%{
		top: 0px;
	    right: -100px;
	    opacity: 1;
	}
	50%{
	    top: -697px !important;
        left: 274px !important;
		 
		opacity: 1;
	}
	70%{
	    top: -697px !important;
        left: 274px !important;
		 
		opacity: 1;
	}
	90%{
	    top: -697px !important;
        left: 274px !important;
		 
		opacity: 1;
	}
	100%{
	    top: -697px !important;
        left: 274px !important;
		 
		opacity: 0;
	}
}
.luf {
    position: absolute;
	top: -608px !important;
    left: 411px !important;
	animation: luf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes luf {
	0%{
		top: 0px;
	    right: -100px;
	    opacity: 1;
	}
	50%{
		top: -608px !important;
		left: 411px !important;
		 
		opacity: 1;
	}
	70%{
		top: -608px !important;
		left: 411px !important;
		 
		opacity: 1;
	}
	90%{
		top: -608px !important;
		left: 411px !important;
		 
		opacity: 1;
	}
	100%{
		top: -608px !important;
		left: 411px !important;
		 
		opacity: 0;
	}
}
.shouf {
    position: absolute;
	top: -458px !important;
    left: 349px !important;
	animation: shouf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes shouf {
	0%{
		top: 0px;
	   right: -100px;
	   opacity: 1;
	}
	50%{
	    top: -458px !important;
        left: 349px !important;
		 
		opacity: 1;
	}
	70%{
	    top: -458px !important;
        left: 349px !important;
		 
		opacity: 1;
	}
	90%{
	    top: -458px !important;
        left: 349px !important;
		 
		opacity: 1;
	}
	100%{
	    top: -458px !important;
        left: 349px !important;
		 
		opacity: 0;
	}
}
.xif {
    position: absolute;
	top: -460px !important;
    left: 202px !important;
	animation: xif 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes xif {
	0%{
		top: 0px;
	    right: -100px;
	    opacity: 1;
	}
	50%{
		top: -460px !important;
		left: 202px !important;
		 
		opacity: 1;
	}
	70%{
		top: -460px !important;
		left: 202px !important;
		 
		opacity: 1;
	}
	90%{
		top: -460px !important;
		left: 202px !important;
		 
		opacity: 1;
	}
	100%{
		top: -460px !important;
		left: 202px !important;
		 
		opacity: 0;
	}
}
.caif {
    position: absolute;
	top: -606px !important;
    left: 143px !important;
	animation: caif 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes caif {
	0%{
		top: 0px;
	   right: -100px;
	   opacity: 1;
	}
	50%{
		top: -606px !important;
		left: 143px !important;
		 
		opacity: 1;
	}
	70%{
		top: -606px !important;
		left: 143px !important;
		 
		opacity: 1;
	}
	90%{
		top: -606px !important;
		left: 143px !important;
		 
		opacity: 1;
	}
	100%{
		top: -606px !important;
		left: 143px !important;
		 
		opacity: 0;
	}
}
/* 金玉金豆飞入定位 */
.jintongf {
    position: absolute;
	top: -566px !important;
    left: 234px !important;
	animation: jintongf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes jintongf {
	0%{
		top: 0px;
	 	right: -100px;
		opacity: 1;
	}
	50%{
		top: -566px !important;
		left: 234px !important;
		 
		opacity: 1;
	}
	70%{
		top: -566px !important;
		left: 234px !important;
		 
		opacity: 1;
	}
	90%{
		top: -566px !important;
		left: 234px !important;
		 
		opacity: 1;
	}
	100%{
		top: -566px !important;
		left: 234px !important;
		 
		opacity: 0;
	}
}
.yunvf {
    position: absolute;
	top: -565px !important;
    left: 320px !important;
	animation: yunvf 1s ;
	animation-fill-mode: forwards;
	pointer-events: none;
}
@keyframes yunvf {
	0%{
		top: 0px;
	    right: -100px;
	    opacity: 1;
	}
	50%{
	    top: -565px !important;
        left: 320px !important;
		 
		opacity: 1;
	}
	70%{
	    top: -565px !important;
        left: 320px !important;
		 
		opacity: 1;
	}
	90%{
	    top: -565px !important;
        left: 320px !important;
		 
		opacity: 1;
	}
	100%{
	    top: -565px !important;
        left: 320px !important;
		 
		opacity: 0;
	}
}
/*金豆选中高亮 */
.active {
	opacity: 1 !important;
	animation:huandong  0.1s;
	animation-fill-mode: forwards;
  } 
  @keyframes  huandong {
	  0%{
		  top:16
	  }
	  100%{
		top: 6px;
      }
  }
  /* 选择下注金额 */
  .diy_tk{
	position: absolute;
    width: 539px;
    height: 538px;
    top: -877px;
    left: 26px;
    background: #4a292a;
	border-radius: 10px;
	z-index: 11;
}
.diy_gb{
	float: right;
	width: 60px;
    height: 40px;
	background: #ff8054;
	color: white;
	border-radius: 10px;
	margin-right: 5px;
	margin-top: 5px;
	text-align: center;
	padding-top: 10px;
    font-size: 20px;
}
.xzje_txt{
	width: 100%;
	height: 50px;
	background: #ff8054;
}
.xzje_txt p{
	text-align: center;
	padding: 0;
	font-size: 28px;
	color: white;
	padding-top: 10px;
}
.xiazhu_1{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 37px;
    top: 80px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_1>div{
	margin-top: 52px;
    margin-left: 36px;
}
.xiazhu_5{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 172px;
    top: 80px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_5>div{
	margin-top: 52px;
    margin-left: 36px;
}
.xiazhu_10{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 299px;
    top: 80px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_10>div{
	margin-top: 52px;
    margin-left: 32px;
}
.xiazhu_20{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    right: 32px;
    top: 79px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_20>div{
	margin-top: 52px;
	margin-left: 32px;
}
.xiazhu_50{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 37px;
    top: 209px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_50>div{
	margin-top: 52px;
    margin-left: 32px;
}
.xiazhu_100{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 170px;
    top: 209px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_100>div{
	margin-top: 52px;
    margin-left: 30px;
}
.xiazhu_200{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 298px;
    top: 209px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_200>div{
	margin-top: 52px;
    margin-left: 30px;
}
.xiazhu_300{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 427px;
    top: 208px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_300>div{
	margin-top: 52px;
    margin-left: 30px;
}
.xiazhu_500{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 38px;
    top: 336px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_500>div{
	margin-top: 52px;
    margin-left: 30px;
}
.xiazhu_700{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 170px;
    top: 336px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_700>div{
	margin-top: 52px;
    margin-left: 30px;
}
.xiazhu_1000{
    background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 297px;
    top: 336px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_1000>div{
	margin-top: 52px;
    margin-left: 22px;
}
.xiazhu_2000{
	background: url(./image/ui.png) no-repeat;
    position: absolute;
    width: 86px;
    height: 80px;
    left: 426px;
    top: 336px;
    background-position: -1950px -468px;
	color: #561e1e;
	opacity: 0.3;
}
.xiazhu_2000>div{
	margin-top: 52px;
    margin-left: 22px;
}
.quxiao{
	width: 50%;
    height: 50px;
    background: #fda957;
    bottom: 0;
    position: absolute;
}
.quxiao>p{
	text-align: center;
    font-size: 25px;
    color: red;
    padding: 0;
    margin-top: 11px;
}
.quxiao:hover{
	bottom:5px;
	color: pink;
}
.queren{
    width: 50%;
    height: 50px;
    background: #ff8549;
    bottom: 0;
    position: absolute;
    left: 50%;
}
.queren>p{
	text-align: center;
    font-size: 25px;
    color: #ffffff;
    padding: 0;
    margin-top: 11px;
}
.queren:hover{
	bottom:5px;
	color: pink;
}
/* leftblock_tk弹框 */
.leftblock_tk{
	position: absolute;
    width: 500px;
    height: 700px;
    background: #4a292a;
    z-index: 99;
    left: 84px;
}
.leftblock_tk_header{
	width: 100%;
	height: 50px;
	background: #ff8054;
	padding:0;
	margin:0;
	font-size: 25px;
	color: white;
	padding-top: 12px;
}
.leftblock_jy{
	position: absolute;
    width: 95px;
    height: 50px;
    /* background: #ba2a1f; */
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 66px;
	left: 202px;
	color: yellow;
}

.leftblock_jt{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 141px;
    left: 56px;
}
.leftblock_yn{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 141px;
    left: 353px;
}
.hengxiang1{
	width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    top: 218px;
}
.leftblock_sx{
	position: absolute;
    width: 95px;
    height: 50px;
    /* background: #ba2a1f; */
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 218px;
	left: 202px;
	color: yellow;
}
.hengxiang3{
	width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    top: 288px;
}
.leftblock_zhu{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 299px;
    left: 56px;
}
.leftblock_shu{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 299px;
    left: 207px;
}
.leftblock_niu{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 299px;
    left: 353px;
}
.leftblock_hu{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 383px;
    left: 56px;
}
.leftblock_tu{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 383px;
    left: 207px;
}
.leftblock_long{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 383px;
    left: 353px;
}
.leftblock_she{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 468px;
    left: 56px;
}
.leftblock_ma{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 468px;
    left: 207px;
}
.leftblock_yang{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 468px;
    left: 353px;
}
.leftblock_hou{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 553px;
    left: 56px;
}
.leftblock_ji{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 553px;
    left: 207px;
}
.leftblock_gou{
	position: absolute;
    width: 95px;
    height: 50px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 11px;
    top: 553px;
    left: 353px;
}
.leftblock_quxiao{
	width: 35%;
    height: 50px;
    background: #fda957;
    bottom: 0;
    position: absolute;
}
.leftblock_quxiao>p{
	text-align: center;
    font-size: 25px;
    color: red;
    padding: 0;
    margin-top: 11px;
}
.xiazhujine{
	height: 47px;
    border: 1px solid #fff;
    width: 30%;
    bottom: 1px;
    position: absolute;
    left: 174px;
    background: #fff;
}
.xiazhujine input{
	height: 44px;
    width: 100%;
    font-size: 24px;
	text-align: center;
	border: 0px;
	outline-color: invert ;
	outline-style: none ;
	outline-width: 0px ;
	border: none ;
	border-style: none ;
	text-shadow: none ;
	-webkit-appearance: none ;
	-webkit-user-select: text ;
	outline-color: transparent ;
	box-shadow: none;
}
.leftblock_queren{
    width: 35%;
    height: 50px;
    background: #ff8549;
    bottom: 0;
    position: absolute;
    right:0;
}
.leftblock_queren>p{
	text-align: center;
    font-size: 25px;
    color: #ffffff;
    padding: 0;
    margin-top: 11px;
}
.rightblock_tk{
	position: absolute;
    width: 500px;
    height: 700px;
    background: #4a292a;
    z-index: 99;
    left: 84px;
}
.rightblock_tk_header{
	width: 100%;
	height: 50px;
	background: #ff8054;
	padding:0;
	margin:0;
	font-size: 25px;
	color: white;
	padding-top: 12px;
}
/*  */
.rightblock_jy{
	position: absolute;
    width: 90px;
    height: 42px;
    font-size: 27px;
    border-radius: 5px;
    padding-top: 2px;
    top: 66px;
    left: 202px;
    color: yellow;
}

.rightblock_jt{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 110px;
    left: 56px;
}
.rightblock_yn{
	position: absolute;
	width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
	padding-top: 4px;
    top: 110px;
    left: 353px;
}
.rightblock_wf{
    position: absolute;
    width: 95px;
    height: 50px;
    font-size: 27px;
    border-radius: 5px;
    padding-top: 2px;
    top: 160px;
    left: 202px;
    color: yellow;
}
.rightblock_fu{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 206px;
    left: 56px;
}
.rightblock_lu{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 206px;
    left: 208px;
}
.rightblock_shou{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 206px;
    left: 355px;
}
.rightblock_xi{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 270px;
    left: 56px;
}
.rightblock_cai{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 270px;
    left: 208px;
}
.rightblock_sx{
	position: absolute;
    width: 95px;
    height: 50px;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 320px;
    left: 202px;
    color: yellow;
}
.rightblock_zhu{
	position: absolute;
	width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 370px;
    left: 56px;
}
.rightblock_shu{
	position: absolute;
	width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 370px;
    left: 207px;
}
.rightblock_niu{
	position: absolute;
	width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 370px;
    left: 353px;
}
.rightblock_hu{
	position: absolute;
	width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 438px;
    left: 56px;
}
.rightblock_tu{
	position: absolute;
	width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 438px;
    left: 207px;
}
.rightblock_long{
	position: absolute;
	width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 438px;
    left: 353px;
}
.rightblock_she{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 508px;
    left: 56px;
}
.rightblock_ma{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 508px;
    left: 207px;
}
.rightblock_yang{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 508px;
    left: 353px;
}
.rightblock_hou{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 578px;
    left: 56px;
}
.rightblock_ji{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 578px;
    left: 207px;
}
.rightblock_gou{
	position: absolute;
    width: 90px;
    height: 42px;
    background: #ffc792;
    font-size: 28px;
    border-radius: 5px;
    padding-top: 4px;
    top: 578px;
    left: 353px;
}
.rightblock_quxiao{
	width: 35%;
    height: 50px;
    background: #fda957;
    bottom: 0;
    position: absolute;
}
.rightblock_quxiao>p{
	text-align: center;
    font-size: 25px;
    color: red;
    padding: 0;
    margin-top: 11px;
}
.rightblock_queren{
    width: 35%;
    height: 50px;
    background: #ff8549;
    bottom: 0;
    position: absolute;
    right: 0;
}
.rightblock_queren>p{
	text-align: center;
    font-size: 25px;
    color: #ffffff;
    padding: 0;
    margin-top: 11px;
}
.hengxiang{
	width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    top: 160px;
}
.hengxiang3{
	width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    top: 325px;
}
/* leftblock_jy_active */
.leftblockjyactive{
	background: #a0231d;
}
.diygaoliang{
	opacity: 1;
}
.确认下注{
	width: 500px;
    height: 280px;
    position: absolute;
    background: #422122;
    z-index: 100;
    left: 84px;
	top: 131px;
	display: block;
}
.确认下注 p{
	font-size: 23px;
	color: white;
}
.确认下注 p span{
	padding-left: 25px;
}
.确认遮罩{
	width: 100%;
	height: 100%;
	background: #1F1616;
}
.确认下注头部{
	width: 100%;
    height: 50px;
    background: #ff8054;
    font-size: 28px;
    color: #040404;
    font-weight: bold;
}
.querenxz_quxiao{
	width: 50%;
    height: 50px;
    background: #fda957;
    bottom: 0;
    position: absolute;
}
.querenxz_quxiao>p{
	text-align: center;
    font-size: 25px;
    color: red;
    padding: 0;
    margin-top: 11px;
}
.querenxz_queren{
    width: 50%;
    height: 50px;
    background: #ff8549;
    bottom: 0;
    position: absolute;
    right: 0;
}
.querenxz_queren>p{
	text-align: center;
    font-size: 25px;
    color: #ffffff;
    padding: 0;
    margin-top: 11px;
}
/* 下拉开奖 */
.xlkaijiang{
	width: 100%;
	height: 400px;
	background: #bb945a;
	position: absolute;
	z-index: 15;
	animation: xlkaijiang 0.5s;
}
@keyframes xlkaijiang{
	0%{
		height: 0;
		display: none
	}
	100%{
		height: 394px;
		display: block;
	}
}
table, td, th{
  border:1px solid black;
}
table tr th {
	width: 122px;
	height: 50px;
	font-size: 20px;
}
table tr td {
	font-size: 20px;
	height: 30px;
	padding-top: 7px;
}
.van-toast{
	width: 85px;
	height: 45px;
}
.van-toast__text{
	font-size: 25px;
}