

// $color:#ec0909;

:root {
    --var1:#ec0909;
    // --default: #ec0909;
    // --blue: #000000;
    // --indigo: #6610f2;
    // --purple: #6f42c1;
    // --pink: #e83e8c;
    // --red: #dc3545;
}

// @function color($color-name) {
//     @return var(--color-#{$color-name});
// }
$color:#ec0909;

$colorList:(
    (class:'ec0909',color:#ec0909),
    (class:'df4f1a',color:#df4f1a),
    (class:'14bd58',color:#14bd58),  
    (class:'4169E1',color:#4169E1),  
    (class:'d09700',color:#d09700),  
    (class:'8A2BE2',color:#8A2BE2),  
    (class:'FF4500',color:#FF4500),
    (class:'ec0000',color:#ec0000),
    (class:'213862',color:#213862)
);
// @include bgcolor;
@mixin bgcolor {
    background: #ec0909;
    @for $i from 1 through length($colorList) {
        $item:  nth($colorList, $i );
        .C_#{map-get($item, class)} & {
            background-color: map-get($map: $item, $key:color )
        }
    }
}
// @include textcolor;
@mixin textcolor {
    color: #ec0909;
    @for $i from 1 through length($colorList) {
        $item:  nth($colorList, $i );
        .C_#{map-get($item, class)} & {
            color: map-get($map: $item, $key:color )
        }
    }
}

// @include border-full;
@mixin border-full($width , $type:'') {
    color: #ec0909;
    @for $i from 1 through length($colorList) {
        $item:  nth($colorList, $i );
        .C_#{map-get($item, class)} & {
            @if($type==''){
                border:$width solid map-get($map: $item, $key:color )
            }@else{
                border-#{$type}:$width solid map-get($map: $item, $key:color );
            }
        }
    }
}





// $color:var(--var1);


// document.body.style.setProperty('--var1','#ffffff');

$vm_base: 375; 

@function  _vw($px) {
    // @return round( ($px / $vm_base) * 100vw * 10000) / 10000;
    @return ($px / $vm_base) * 100vw ;
}



// rem 单位换算：定为 50px 
// $vm_fontsize: 50; // iPhone 6尺寸的根元素大小基准值
// @function rem($px) {
//      @return ($px / $vm_fontsize ) * 1rem;
// }
// // 根元素大小使用 vw 单位
// $vm_design: 750;
// html {
//     font-size: ($vm_fontsize / ($vm_design / 2)) * 100vw; 
//     // 同时，通过Media Queries 限制根元素最大最小值
//     @media screen and (max-width: 320px) {
//         font-size: 64px;
//     }
//     @media screen and (min-width: 540px) {
//         font-size: 108px;
//     }
// }
// // body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
// body {
//     max-width: 540px;
//     min-width: 320px;
// }

