<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>时间转换</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://momentjs.cn/downloads/moment.js"></script>
    <style>
        #vue{
            width: 1200px;
            margin: 0px auto;
        }
        .title{
            margin: 30px 0px 0px;
        }
        .input_1{
            margin: 10px auto;
        }
        .bold{
            font-weight: bold;
        }
        .time2{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div id="vue">
        <el-row>
            <el-col :span="24">现在美国时间：<span class="bold">{{time1 | f_time(num)}}</span></el-col>
            <el-col :span="24">时差（小时）</el-col>
            <el-col :span="24">
                    <el-input-number v-model="num" :min="-24" :max="24" label="描述文字"></el-input-number>
            </el-col>
            <el-col :span="24" class="title">请在下方输入时间</el-col>
            <el-col :span="24" class="input_1">
                <el-input v-model="time2" placeholder="格式 2019.12.10 14:33 或者 2019-12-10 14:33 之类的就可以"></el-input>
            </el-col>
            <el-col :span="24" class="bold time2">
                {{time2 | f_time(num)}}
            </el-col>
        </el-row>
    </div>
    
    <script>
        if ('serviceWorker' in navigator) {
            // window.addEventListener('load', function() {
            //     navigator.serviceWorker.register('/sw.js').then(function(registration) {
            //         console.log('ServiceWorker registration successful with scope: ', registration.scope);
            //     }, function(err) {
            //         // registration failed :(
            //         console.log('ServiceWorker registration failed: ', err);
            //     });
            // });
        }
        new Vue({
            el:"#vue",
            data() {
                return {
                    time1:"",
                    time2:"",
                    num:-12
                }
            },
            filters:{
                f_time(time,num){
                    var date = new Date(time);
                        date.setHours(date.getHours() + num )
                    if(moment(date).isValid()){
                        var t = moment(date).format('YYYY.MM.DD HH:mm')
                        return t
                    }else{
                        return ''
                    }
                }
            },
            computed: {
                
            },
            methods: {
               
            },
            mounted() {
                setInterval(() => {
                    this.time1 = new Date();                    
                }, 1000);
            },
        })
    </script>
</body>
</html>