<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section id="vue">
        <ul class="list-1">
            <li v-for="(item, index) in initList" :key="index">
                <div v-for="(item2, index2) in item" :key="index2">
                    {{item2.t ? item2.t : ''}}
                    <span v-if="item2.n">和x{{item2.n}}</span>
                </div>
            </li>
        </ul>
        <button @click="添加(1)">添加1</button>
        <button @click="添加(2)">添加2</button>
        <button @click="添加(3)">添加3</button>
        <button @click="重新开始()">重新开始</button>
        <button @click="撤回()">撤回</button>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $.getJSON("https://kkj.135hk.site/data/xg.json?1608374351969", '',
            function (data, textStatus, jqXHR) {
                console.log(data)
            }
        );
        axios.get('https://kkj.135hk.site/data/xg.json?1608374351969')
        .then(res => {
            console.log(res)
        })
        .catch(err => {
            console.error(err); 
        })
        var initList = []
        for (let index = 0; index < 20; index++) {
            initList.push([{t:0,n:0},{t:0,n:0},{t:0,n:0},{t:0,n:0},{t:0,n:0},{t:0,n:0}])
        }
        new Vue({
            el:'#vue',
            data() {
                return {
                    initList:initList,
                    上一条:1,   //数据第一条为和是设置为庄赢
                    记录:[],
                }
            },
            methods: {
                重新开始(){
                    this.initList = []
                    for (let index = 0; index < 20; index++) {
                        this.initList.push([{t:0,n:0},{t:0,n:0},{t:0,n:0},{t:0,n:0},{t:0,n:0},{t:0,n:0}])
                    }
                },
                撤回(){
                    this.重新开始()
                    this.记录.forEach(element => {
                        this.添加(element,true)
                    });
                },
                添加(data,撤回=false){
                    let 和 = false
                    if(!撤回){
                        this.记录.push(data)
                    }
                    if(data==3){
                        和 = true
                        data = this.上一条
                    }
                    this.上一条 = data

                    var index = 0
                    var index2 = 0
                    for(var i=0;i<this.initList.length;i++) {
                        if(this.initList[i].find(x=>x.t==0) && this.initList[i+1][0].t==0 ){
                            index = i
                            index2 = this.initList[i].findIndex(x=>x.t==0)
                            break
                        }
                    }
                    
                    if(index2!=0 && this.initList[index][index2-1].t!=data){
                        index++
                        index2 = 0
                    }

                    // if(index2!=0 && this.initList[index+1].find(x=>x.t)){
                    //     index2=0
                    // }

                        // console.log(this.initList[index+1].find(x=>x.t),this.initList[index][index2-1].t,this.initList[index][index2-1].t!=data)
                    if(index2!=0 && this.initList[index][index2-1].t!=data && this.initList[index+1].find(x=>x.t)){
                        console.log('111111111')
                        index2=0
                    }

                    if(index2==0 && index!=0 && this.initList[index-1][0].t==data){
                        console.log(123)
                        let newList =  this.initList[index-1].slice()
                            newList = newList.reverse()
                            console.log(newList)
                        let lastIndex = newList.findIndex(x=>x.t==data)
                            index2 = 5 - lastIndex < 6 ? 5 - lastIndex : index2

                        if(和){
                            index2++
                        }
                        let initList_2 = this.initList.slice().reverse()
                        let lastIndex_2 = initList_2.findIndex(x=>x.find(x=>x.t==data))
                        lastIndex_2 = this.initList.length - lastIndex_2
                        if(和){
                            index = lastIndex_2<20 ? lastIndex_2 : index
                            index =index - 1
                        }else{
                            index = lastIndex_2<20 ? lastIndex_2 : index
                            console.log(123)
                        }
                    }else{
                        console.log('没有放在第一个')
                    }

                    
                    console.log('最后',index,index2)
                    if(和){
                        console.log('和')
                        if(index==0 && index2==0){
                            console.log('和1')
                            this.initList[index][index2].t = data
                            this.initList[index][index2].n=1
                        }else{
                            console.log('和2')
                            this.initList[index][index2-1].n = this.initList[index][index2-1].n ? this.initList[index][index2-1].n + 1 : 1
                        }
                    }else{
                        this.initList[index][index2].t = data
                    }
                    
                }
            },
            mounted() {
                let list = [1,1,1,1,1,1,1,2,2,2,2,2,2,2,1,1,1,1,1]
                for (let index = 0; index < list.length; index++) {
                    // initList[index] = list[index]
                    this.添加(list[index])
                }
            },
        })


    </script>
</body>
</html>