<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="vue" v-cloak>
        <div class="form">
            <div class="header" v-if="!noHeader">
                <span>用户登录</span>
                <i class="el-icon-close" @click="close()"></i>
            </div>
            <div class="box_1">
                <el-form :model="user" ref="user" >
                    <el-form-item prop="uid" size="medium" :rules="[{ required: true, message: '请输入手机号码或用户名', trigger: 'blur' }]">
                        <el-input v-model="user.uid" placeholder="请输入手机号码或用户名" :clearable="true" @keyup.enter.native="submitForm()"></el-input>
                    </el-form-item>
                    <el-form-item prop="pwd" v-if="!isPhone" :rules="[{ required: true, message: '请输入密码', trigger: 'blur' }]">
                        <el-input type="password" v-model="user.pwd" placeholder="请输入密码" @keydown.enter.native="submitForm()"></el-input>
                    </el-form-item>
                    <el-form-item prop="code" :rules="[{ required: true, message: '请输入验证码', trigger: 'blur' }]" v-if="!isPhone">
                        <div class="验证码">
                            <el-input v-model="user.code" placeholder="验证码" @focus="codeFocus()" @keydown.enter.native="submitForm()"></el-input>
                            <img @click="changeCode()" :src="codeUrl" alt="" srcset="">
                        </div>
                    </el-form-item>
                    <el-form-item label="" v-if="isPhone" prop="sms" :rules="[{ required: true, message: '请输入短信验证码', trigger: 'blur' }]">
                        <div class="phone">
                            <el-input v-model="user.sms" placeholder="短息验证码" @keydown.enter.native="submitForm()"></el-input>
                            <el-button type="primary" @click="getSms()">
                                {{时间>0 ? 时间+'s' : '获取短息验证码'}}
                            </el-button>
                        </div>
                    </el-form-item>
                    <el-form-item class="btn_1">
                        <el-button type="danger" style="width:100%" @click="submitForm('ruleForm')">提交</el-button>
                    </el-form-item>
                    <div class="text-right text_1" v-show="!noFooter">
                        还没有账号？{{visibilityState}}
                        <a href="javascript:;" class="红色字体" @click="跳转注册()">
                            点击注册
                        </a>
                    </div>
                </el-form>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- <script src="js/jsencrypt/bin/jsencrypt.js"></script> -->
    <script src="js/jsencrypt.js"></script>
    <script src="js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <script src="index.js"></script>
</body>
</html>