// @media (max-width: 1200px) {
//     html{
//         font-size: calc(100vw / 375 * 100) ;
//     }
// }
// @media (min-width: 1200px) {
//     html{
//         font-size: calc(1200px / 375 * 100);
//     }
// }
[v-cloak] {
    display: none;
}
body{
    margin: 0px ;
    // font-size: 0.16rem;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
.cont_1200{
    width: 1200px;
    margin: auto;
}
.m_1200{
    min-width: 1200px;
}
.shoujiShow{
    display: none;
}

.bg_1{
    // background: url('../image/bg1.png') no-repeat center 0;
    background: url('../image/bg1_2.png') no-repeat center 0;
    height: 672px;
    position: relative;
    div{
        position: absolute;
        top: 512px;
        width: 100%;
        text-align: center;
        color: #fffddd;
        font-size: 22px;
    }
}
.box_2{
    background-image: url('../image/bg2.jpg');
    background-position:  center 0;
    background-repeat: no-repeat;
    height: 920px;
    .djs {
        text-align: center;
        width: 831px;
        height: 189px;
        padding-top: 90px;
        margin: 0 auto 56px;
        background: url('../image/counting.png') center bottom no-repeat;
        position: relative;
    }
    .text {
        color: #505050;
        position: relative;
        top: -16px;
        font-size: 22px;
    }
    .time {
        color: #fff;
        display: flex;
        width: 505px;
        margin: 0px auto;
        line-height: 1;
        font-size: 64px;
        vertical-align: middle;
        padding-top: 20px;
        font-family: Arial;
        font-weight: bold;
        text-align: center;
        justify-content: space-between;
        span{
            width: 108px;
            height: 108px;
            line-height: 108px;
        }
    }
}


.mainbar {
    background: url('../image/mainbar.png') no-repeat center 0;
    height: 242px;
    position: relative;
    display: flex;
    .quanquan {
        width: 402px;
        color: #ffff88;
        padding-left: 44px;
        box-sizing: border-box;
    }
    h3 {
        margin-top: 66px;
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 10px;
    }
    h2{
        font-size: 28px;
        margin-top: -10px;
        b {
            font-size: 40px;
            color: #ffffaa;
            font-family: 'Arial Bold';
            text-shadow: 0 2px 3px #a22708;
        }
    }
    .inner{
        flex: 1;
        padding-top: 70px;
        white-space: nowrap;
    }
    .info_table{
        width: 100%;
        color: #a16d44;
        font-size: 16px;
        td{
            padding: 15px 0 15px 57px;
            line-height: 1;
        }
        b {
            color: #be1e09;
            font-size: 24px;
        }
    }
}
.buttons{
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 0;
    .btn_draw {
        border: none;
        width: 260px;
        height: 80px;
        margin: 0 12px;
        font-size: 24px;
        border-radius: 8px;
        color: #fffabd;
        cursor: pointer;
    }
    .btn_draw:disabled{
        background-image: linear-gradient(to bottom, #bababa, #9a9999);
        cursor: not-allowed;
        box-shadow: 0 2px 4px #aaa;
        color: #fff;
    }
    .red{
        background-image: linear-gradient(to bottom, #de221e, #c10b07);
    }
}

.announce{
    background-image: url('../image/zhongjiang.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    // 主要配合背景图片
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .list {
        margin: 0px 0px 0px 10px;
        width: 350px;
        overflow: hidden;
        white-space: nowrap;
        color: #8d4d26;
        font-size: 14px;
        height: 20px;
        
    }
}

.box_3{
    background: url(../image/bg3.jpg) no-repeat center 0;
    background-repeat: no-repeat;
    // height: 1100px;
    background-color: #f8c549;
    .medals{
        text-align: center;
    }
    .desc {
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        padding-top: 112px;
    }
    .items{
        display: flex;
        margin: 40px 0px 0px;
        li{
            width: calc(100% / 7);
        }
        .title_1{
            width: 156px;
            height: 156px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 16px auto;
            text-align: center;
            line-height: 156px;
        }
        $color:('',#ff6600,#ff1100,#249900,#0c38db,'','','');
        @for $i from 1 through 7 {
            li:nth-child(#{$i}) .title_1{
                background-image:url('../image/item-#{$i - 1}.png');
                color: nth($list: $color, $n: $i ) ;
            }
        }
        .money{
            background-color: #a00000;
    /* background-image: linear-gradient(to bottom, #7b1209, #90150a); */
            border: 1px solid #800000;
            height: 28x;
            line-height: 28px;
            width: 128px;
            display: inline-block;
            border-radius: 14px;
            color: #ffaf73;
            font-size: 14px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        }
    }
}

.rules{ 
    padding: 0px 34px 76px;
    margin: 253px 0px 0px;
    li{
        list-style-type: decimal;
        color: #fff;
        margin-bottom: 12px;
        line-height: 28px;
        font-size: 14px;
        margin-left: 2em;
    }
}

// 抽奖弹框
.tk{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    // overflow: auto;
    &.show{
        display: block;
    }
    &.active{
        .choujiang{
            transform: scale(0.75);
        }
    }
    .choujiang{
        transition: all 0.3s;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 753px;
        // height: 753px;
        height: 1000px;
        margin: auto;
        background: url(../image/dialog-bg1.png) no-repeat center 0;
        text-align: center;
        position: relative;
    }
    .close{
        width: 64px;
        height: 64px;
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 2;
        cursor: pointer;
    }
    .title{
        padding-top: 95px;
        margin-bottom: 68px;
        z-index: 1;
    }
    .drawing{
        margin-bottom: 20px;
    }
    .disc{
        position: relative;
        width: 318px;
        height: 318px;
        background: url(../image/drawing.png) no-repeat;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gundong{
        width: 156px;
        height: 156px;
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        li{
            width: 156px;
            height: 156px;
            line-height: 156px;
            background-size: 100%;
            transition: all 1s;
        }
        .a_f{
            background-image: url(../image/default-ball.png);
        }
        $color:('',#ff6600,#ff1100,#249900,#0c38db,'','','');
        @for $i from 1 through 7 {
            // li:nth-child(#{$i + 2}){
            .a_#{$i}{
                background-image:url('../image/item-#{$i - 1}.png');
                color: nth($list: $color, $n: $i );
            }
        }
    }
}
@keyframes rota-center-run {
    from,
    0%, 14% {
        background-image: url("../image/gray-back.png"); 
    }14.285%, 28% {
        background-image: url("../image/yellow-back.png"); 
    }28.571%, 42% {
        background-image: url("../image/red-back.png"); 
    }42.85714%, 57% {
        background-image: url("../image/green-back.png"); 
    }57.1428%, 71% { 
        background-image: url("../image/blue-back.png"); 
    }71.428%, 85% {
        background-image: url("../image/purplered-back.png"); 
    }85.714%, 99% {
        background-image: url("../image/purple-back.png"); 
    }100% {
        background-image: url("../image/gray-back.png"); 
    } 
}

.btn_once,
.btn_multi{
    background: url(../image/button-1.png);
    cursor: pointer;
    // background-color: transparent;
    border: none;
    width: 210px;
    height: 70px;
    font-size: 24px;
    z-index: 2;
    color: #7b2c16;
    span{
        margin-top: -14px;
        position: relative;
        display: block;
        font-weight: 700;
    }
    &:disabled {
        background-image: url(../image/button-disabled.png);
        cursor: not-allowed;
        color: #aaa;
    }
}
.rest{
    height: 50px;
    width: 280px;
    display: block;
    text-align: center;
    margin: auto;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    margin-top: 12px;
    z-index: 2;
    background-image: radial-gradient(circle at center, #da1a07 0, rgba(218, 26, 7, 0) 70px);
    b{
        color: #ffff55;
    }
}
.result_money {
    color: #fff;
    z-index: 2;
    font-size: 22px;
    margin-top: 9px;
}

.marquee-wrap {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 35px;
}
  
.marquee-list li {
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 20px;
    list-style: none;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
  
.animate-up {
    transition: all .5s ease-in-out;
    transform: translateY(-40px);
}



