html {
  font-size: calc(100vw / 375 * 100);
  height: 100%;
  overflow: hidden; }

body {
  font-size: 0.16rem;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

body.noScroll {
  overflow: hidden; }

body.swal2-height-auto {
  height: 100% !important; }

.pcShow {
  display: none; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

* {
  box-sizing: border-box; }

.cont_1200 {
  width: 100%;
  margin: auto; }

.m_1200 {
  min-width: 0px; }

.bg_1 {
  background-image: url("../image/shouji/pool-banner2.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 4rem;
  position: relative; }
  .bg_1 div {
    position: absolute;
    width: 1.4rem;
    background: #ef051f;
    text-align: center;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0px;
    font-size: 0.12rem;
    line-height: 0.22rem;
    top: 1.6rem;
    color: #fff; }

.box_2 {
  background-image: url(../image/shouji/bg02.png);
  margin-top: -0.26rem;
  background-size: auto 100%;
  padding: 0px 0px 0.35rem; }
  .box_2 .djs {
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 0px;
    margin: 0 auto 0px;
    position: relative; }
  .box_2 .text {
    top: 0px;
    font-size: 0.16rem;
    background-image: url(../image/shouji/hengxian.png);
    background-size: 150% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold; }
  .box_2 .time {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 0.3rem;
    line-height: 0.52rem;
    font-weight: bold;
    margin: 0.2rem 0px 0px; }
    .box_2 .time span {
      width: 0.54rem;
      height: 0.7rem;
      text-align: center;
      margin: 0px 0.07rem;
      background-size: 100% auto;
      background-repeat: no-repeat;
      position: relative; }
    .box_2 .time span:nth-child(1) {
      background-image: url(../image/shouji/days.png); }
    .box_2 .time span:nth-child(2) {
      background-image: url(../image/shouji/hrs.png); }
      .box_2 .time span:nth-child(2)::after {
        content: " ";
        display: inline-block;
        height: 0.5rem;
        width: 0.15rem;
        position: absolute;
        right: -0.15rem;
        background-size: 0.05rem auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../image/shouji/dian.png); }
    .box_2 .time span:nth-child(3) {
      background-image: url(../image/shouji/mins.png); }
      .box_2 .time span:nth-child(3)::after {
        content: " ";
        display: inline-block;
        height: 0.5rem;
        width: 0.15rem;
        position: absolute;
        right: -0.15rem;
        background-size: 0.05rem auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../image/shouji/dian.png); }
    .box_2 .time span:nth-child(4) {
      background-image: url(../image/shouji/mins.png); }
  .box_2 .mainbar {
    height: 1.9rem;
    background-image: url(../image/shouji/oprater.png);
    background-size: 100% auto;
    margin: 0.3rem 0.1rem 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 0.2rem 0px 0px; }
    .box_2 .mainbar .info_table {
      text-align: center;
      width: 100%;
      font-size: 0.12rem;
      color: #a16d44;
      white-space: nowrap; }
      .box_2 .mainbar .info_table b {
        color: #be1e09;
        font-size: 0.12rem; }
    .box_2 .mainbar .quanquan {
      text-align: center;
      color: #ff8;
      margin: 0.55rem 0px 0px; }
      .box_2 .mainbar .quanquan h3 {
        font-size: 0.14rem;
        margin: 0px; }
      .box_2 .mainbar .quanquan h2 {
        font-size: 0.2rem;
        margin: 0px; }

.buttons {
  text-align: center;
  font-size: 0;
  margin: 0.1rem 0px 0px; }
  .buttons .btn_draw {
    border: none;
    width: 1.3rem;
    height: 0.4rem;
    margin: 0 12px;
    font-size: 0.12rem;
    border-radius: 8px;
    color: #fffabd;
    cursor: pointer; }
  .buttons .btn_draw:disabled {
    background-image: linear-gradient(to bottom, #bababa, #9a9999);
    cursor: not-allowed;
    box-shadow: 0 2px 4px #aaa;
    color: #fff; }
  .buttons .red {
    background-image: linear-gradient(to bottom, #de221e, #c10b07); }

.announce {
  background-image: url("../image/shouji/BG03.png");
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 100% auto;
  padding: 0px 0.25rem 0px 0.75rem;
  height: 0.4rem;
  margin: 0.25rem 0px 0px;
  overflow: hidden; }
  .announce img {
    display: none; }
  .announce li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #8d4d26;
    font-size: 0.12rem;
    line-height: 0.4rem; }

.box_3 {
  color: #ffd7d7; }
  .box_3 .desc {
    background-image: url(../image/shouji/bg4.png);
    margin-top: -0.26rem;
    padding: 0.33rem 0px 0px; }
    .box_3 .desc img {
      display: block;
      width: 2.5rem;
      margin: 0px auto; }
    .box_3 .desc div {
      padding: 0.2rem 0.15rem;
      font-size: 0.12rem; }
  .box_3 .items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px;
    background-color: #b51117;
    background-image: url(../image/shouji/bg3.png);
    background-size: 100% auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    height: 3rem; }
    .box_3 .items .title_1 {
      width: 0.84rem;
      height: 0.84rem;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 3px auto;
      text-align: center;
      line-height: 0.84rem; }
    .box_3 .items li:nth-child(1) .title_1 {
      background-image: url("../image/item-0.png");
      color: ""; }
    .box_3 .items li:nth-child(2) .title_1 {
      background-image: url("../image/item-1.png");
      color: #ff6600; }
    .box_3 .items li:nth-child(3) .title_1 {
      background-image: url("../image/item-2.png");
      color: #ff1100; }
    .box_3 .items li:nth-child(4) .title_1 {
      background-image: url("../image/item-3.png");
      color: #249900; }
    .box_3 .items li:nth-child(5) .title_1 {
      background-image: url("../image/item-4.png");
      color: #0c38db; }
    .box_3 .items li:nth-child(6) .title_1 {
      background-image: url("../image/item-5.png");
      color: ""; }
    .box_3 .items li:nth-child(7) .title_1 {
      background-image: url("../image/item-6.png");
      color: ""; }
    .box_3 .items .money {
      display: inline-block;
      background-color: #93170c;
      display: inline-block;
      padding: 0px 0.1rem;
      border-radius: 14px;
      line-height: 0.25rem;
      font-size: 0.12rem;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

.box_4 {
  background: #b51117;
  padding: 1px 0px; }
  .box_4 img {
    display: block;
    width: 2.5rem;
    margin: 20px auto; }

.rules {
  margin: 0.05rem 0.05rem 0.1rem;
  padding: 0.35rem 0.15rem 0.15rem;
  background-image: url(../image/shouji/bg5.png);
  background-size: 100% 100%; }
  .rules li {
    margin-bottom: 12px;
    font-size: 0.14rem; }

.tk {
  overflow: auto;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5); }
  .tk.show {
    display: block; }
  .tk.active .choujiang {
    transform: scale(0.8); }
  .tk .choujiang {
    padding: 0px 0px 0.95rem;
    transition: all 0.3s;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0.6rem;
    bottom: 0px;
    width: 3.5rem;
    margin: auto;
    background-image: url(../image/dialog-bg1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center; }
  .tk .close {
    width: 0.32rem;
    height: 0.32rem;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 2;
    cursor: pointer; }
  .tk .title {
    padding-top: 0.46rem;
    z-index: 1; }
    .tk .title img {
      width: 1.2rem; }
  .tk .disc {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(../image/drawing.png);
    background-size: 100% auto;
    margin: 0.3rem auto 0px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .tk .gundong {
    width: 0.76rem;
    height: 0.76rem;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden; }
    .tk .gundong li {
      font-size: 0.12rem;
      width: 0.76rem;
      height: 0.76rem;
      line-height: 0.76rem;
      background-size: 100%;
      transition: all 1s; }
    .tk .gundong .a_f {
      background-image: url(../image/default-ball.png); }
    .tk .gundong .a_1 {
      background-image: url("../image/item-0.png");
      color: ""; }
    .tk .gundong .a_2 {
      background-image: url("../image/item-1.png");
      color: #ff6600; }
    .tk .gundong .a_3 {
      background-image: url("../image/item-2.png");
      color: #ff1100; }
    .tk .gundong .a_4 {
      background-image: url("../image/item-3.png");
      color: #249900; }
    .tk .gundong .a_5 {
      background-image: url("../image/item-4.png");
      color: #0c38db; }
    .tk .gundong .a_6 {
      background-image: url("../image/item-5.png");
      color: ""; }
    .tk .gundong .a_7 {
      background-image: url("../image/item-6.png");
      color: ""; }
  .tk .btn_once,
  .tk .btn_multi {
    background: url(../image/button-1.png);
    background-size: 100% 100%;
    background-position: center top;
    cursor: pointer;
    border: none;
    width: 1rem;
    height: 0.35rem;
    font-size: 0.12rem;
    z-index: 2;
    color: #7b2c16; }
    .tk .btn_once span,
    .tk .btn_multi span {
      margin-top: -0.04rem;
      position: relative;
      display: block;
      font-weight: bold; }
    .tk .btn_once:disabled,
    .tk .btn_multi:disabled {
      background-image: url(../image/button-disabled.png);
      cursor: not-allowed;
      color: #aaa; }
  .tk .rest {
    width: 2.25rem;
    line-height: 0.25rem;
    display: block;
    text-align: center;
    margin: auto;
    color: #fff;
    font-size: 0.12rem;
    margin-top: 0.03rem;
    z-index: 2;
    background-image: linear-gradient(90deg, transparent, #f74724, transparent); }
    .tk .rest b {
      color: #ffff55; }
  .tk .result_money {
    color: #fff;
    z-index: 2;
    font-size: 0.12rem;
    margin-top: 0.08rem; }

.marquee-wrap {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  overflow: hidden;
  margin-top: 30px; }

.marquee-list li {
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  font-size: 14px; }

.animate-up {
  transition: all .5s ease-in-out;
  transform: translateY(-30px); }

/*# sourceMappingURL=media.css.map */
