/* 提示框字体大小 */
.swal2-popup{
    font-size: 16px;
}

.back{
    /* display: none; */
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}