  .gameHot15, .gameHot17, .gameHot16,.gameHot19, .gameHot12 { display:none; }
    body{background-color:#fafafa;}
    @-webkit-keyframes gogogo {
    0%{left:0;top:0;}
    60%{left:5px;top:5px;}
    100%{left:-2px;top:-2px;}
}
@keyframes gogogo {
    0%{left:0;top:0;}
    60%{left:5px;top:5px;}
    100%{left:-2px;top:-2px;}
}
.finger{
 position: absolute;
 -webkit-animation:gogogo 0.6s infinite linear;
 animation:gogogo 0.6s infinite linear;
 margin:110px 0 0 38px;
 z-index:10;
 left:0;top:0;
}