@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?lax0xj');
  src: url('../fonts/icomoon.eot?lax0xj#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?lax0xj') format('truetype'), url('../fonts/icomoon.woff?lax0xj') format('woff'), url('../fonts/icomoon.svg?lax0xj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-game:before {
  content: "\e921";
}

.icon-gameSwitch:before {
  content: "\e922";
}

.icon-arrow-next:before {
  content: "\e923";
}

.icon-arrow-prev:before {
  content: "\e924";
}

.icon-23:before {
  content: "\e925";
}

.icon-22:before {
  content: "\e91f";
}

.icon-21:before {
  content: "\e920";
}

.icon-dice-1:before {
  content: "\e919";
}

.icon-dice-2:before {
  content: "\e91a";
}

.icon-dice-3:before {
  content: "\e91b";
}

.icon-dice-4:before {
  content: "\e91c";
}

.icon-dice-5:before {
  content: "\e91d";
}

.icon-dice-6:before {
  content: "\e91e";
}

.icon-20:before {
  content: "\e918";
}

.icon-19:before {
  content: "\e910";
}

.icon-18:before {
  content: "\e911";
}

.icon-game-animate:before {
  content: "\e90f";
}

.icon-shrink-down:before {
  content: "\e90e";
}

.icon-icon-remove:before {
  content: "\e90b";
}

.icon-dynamic-window:before {
  content: "\e90c";
}

.icon-max-window:before {
  content: "\e90d";
}

.icon-17:before {
  content: "\e90a";
}

.icon-16:before {
  content: "\e909";
}

.icon-13:before {
  content: "\e906";
}

.icon-14:before {
  content: "\e907";
}

.icon-15:before {
  content: "\e908";
}

.icon-12:before {
  content: "\e905";
}

.icon-7:before {
  content: "\e900";
}

.icon-8:before {
  content: "\e901";
}

.icon-9:before {
  content: "\e902";
}

.icon-10:before {
  content: "\e903";
}

.icon-11:before {
  content: "\e904";
}

.icon-1:before {
  content: "\e912";
}

.icon-2:before {
  content: "\e913";
}

.icon-3:before {
  content: "\e914";
}

.icon-4:before {
  content: "\e915";
}

.icon-5:before {
  content: "\e916";
}

.icon-6:before {
  content: "\e917";
}

@font-face {
  font-family: 'gamelogo';
  src: url('fonts/gamelogo.eot?77ogc7');
  src: url('fonts/gamelogo.eot?77ogc7#iefix') format('embedded-opentype'), url('../fonts/gamelogo.ttf?77ogc7') format('truetype'), url('fonts/gamelogo.woff?77ogc7') format('woff'), url('fonts/gamelogo.svg?77ogc7#gamelogo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gamelogo-"],
[class*=" gamelogo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gamelogo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gamelogo-game-vn-150:before {
  content: "\e95e";
  color: #19408f;
}

.gamelogo-game-vn-149:before {
  content: "\e95f";
  color: #001a49;
}

.gamelogo-game-vn-151:before {
  content: "\e95f";
  color: #001a49;
}

.gamelogo-game-id-150:before {
  content: "\e962";
  color: #19408f;
}

.gamelogo-game-type-18:before {
  content: "\e962";
  color: #19408f;
}

.gamelogo-game-id-149:before {
  content: "\e95d";
  color: #001a49;
}

.gamelogo-game-id-151:before {
  content: "\e95d";
  color: #001a49;
}

.gamelogo-game-type-17:before {
  content: "\e95d";
  color: #001a49;
}

.gamelogo-game-vn-21:before {
  content: "\e95b";
  color: #19408f;
}

.gamelogo-game-vn-23:before {
  content: "\e95c";
  color: #e99313;
}

.gamelogo-game-vn-145:before {
  content: "\e956";
  color: #8a3285;
}

.gamelogo-game-vn-146:before {
  content: "\e957";
  color: #e58322;
}

.gamelogo-game-vn-147:before {
  content: "\e958";
  color: #bb4642;
}

.gamelogo-game-vn-148:before {
  content: "\e959";
  color: #2e669c;
}

.gamelogo-game-vn-type-15:before {
  content: "\e95a";
  color: #c3201f;
}

.gamelogo-game-id-148:before {
  content: "\e951";
  color: #2e669c;
}

.gamelogo-game-id-147:before {
  content: "\e952";
  color: #bb4642;
}

.gamelogo-game-id-146:before {
  content: "\e953";
  color: #e58322;
}

.gamelogo-game-type-15:before {
  content: "\e954";
  color: #c3201f;
}

.gamelogo-game-id-145:before {
  content: "\e955";
  color: #8a3285;
}

.gamelogo-game-id-143:before {
  content: "\e93a";
  color: #e60012;
}

.gamelogo-game-id-125:before {
  content: "\e93b";
  color: #86af27;
}

.gamelogo-game-id-126:before {
  content: "\e93d";
  color: #1c439a;
}

.gamelogo-game-id-127:before {
  content: "\e93f";
  color: #1c439a;
}

.gamelogo-game-id-128:before {
  content: "\e941";
  color: #f39800;
}

.gamelogo-game-id-129:before {
  content: "\e942";
  color: #e4007f;
}

.gamelogo-game-id-130:before {
  content: "\e943";
  color: #e4007f;
}

.gamelogo-game-id-131:before {
  content: "\e944";
  color: #e4007f;
}

.gamelogo-game-id-132:before {
  content: "\e945";
  color: #86af27;
}

.gamelogo-game-id-133:before {
  content: "\e946";
  color: #1c439a;
}

.gamelogo-game-id-134:before {
  content: "\e948";
  color: #1c439a;
}

.gamelogo-game-id-135:before {
  content: "\e949";
  color: #1c439a;
}

.gamelogo-game-id-136:before {
  content: "\e94a";
  color: #e60012;
}

.gamelogo-game-id-137:before {
  content: "\e94b";
  color: #86af27;
}

.gamelogo-game-id-138:before {
  content: "\e94c";
  color: #86af27;
}

.gamelogo-game-id-139:before {
  content: "\e94d";
  color: #86af27;
}

.gamelogo-game-id-140:before {
  content: "\e94e";
  color: #e4007f;
}

.gamelogo-game-id-141:before {
  content: "\e94f";
  color: #e60012;
}

.gamelogo-game-id-142:before {
  content: "\e950";
  color: #e60012;
}

.gamelogo-game-id-121:before {
  content: "\e939";
  color: #337ab7;
}

.gamelogo-game-id-120:before {
  content: "\e937";
  color: #f39800;
}

.gamelogo-game-id-118:before {
  content: "\e938";
  color: #e60012;
}

.gamelogo-game-id-39:before {
  content: "\e900";
  color: #86af27;
}

.gamelogo-game-type-8-kr:before {
  content: "\e934";
  color: #f39800;
}

.gamelogo-game-type-7-kr:before {
  content: "\e935";
  color: #1c439a;
}

.gamelogo-game-id-23-kr:before {
  content: "\e932";
  color: #f39800;
}

.gamelogo-game-id-21-kr:before {
  content: "\e933";
  color: #1c439a;
}

.gamelogo-game-id-13-winer:before {
  content: "\e931";
  color: #1c439a;
}

.gamelogo-game-id-3-winer:before {
  content: "\e930";
  color: #86af27;
}

.gamelogo-game-type-14:before {
  content: "\e92a";
  color: #e7234e;
}

.gamelogo-game-id-101:before {
  content: "\e92c";
  color: #e7234e;
}

.gamelogo-game-id-102:before {
  content: "\e92d";
  color: #e7234e;
}

.gamelogo-game-id-mora:before {
  content: "\e928";
  color: #2bb17f;
}

.gamelogo-game-type-mora:before {
  content: "\e929";
  color: #2bb17f;
}

.gamelogo-game-id-35:before {
  content: "\e926";
  color: #e4007f;
}

.gamelogo-game-id-40:before {
  content: "\e927";
  color: #e60012;
}

.gamelogo-game-id-2:before {
  content: "\e925";
  color: #f39800;
}

.gamelogo-game-id-1:before {
  content: "\e901";
  color: #1c439a;
}

.gamelogo-game-id-4:before {
  content: "\e902";
  color: #e60012;
}

.gamelogo-game-id-5:before {
  content: "\e903";
  color: #e4007f;
}

.gamelogo-game-id-6:before {
  content: "\e904";
  color: #1c439a;
}

.gamelogo-game-id-7:before {
  content: "\e905";
  color: #86af27;
}

.gamelogo-game-id-8:before {
  content: "\e906";
  color: #e60012;
}

.gamelogo-game-id-9:before {
  content: "\e907";
  color: #1c439a;
}

.gamelogo-game-id-10:before {
  content: "\e908";
  color: #1c439a;
}

.gamelogo-game-id-12:before {
  content: "\e909";
  color: #1c439a;
}

.gamelogo-game-id-13:before {
  content: "\e90a";
  color: #86af27;
}

.gamelogo-game-id-14:before {
  content: "\e90b";
  color: #e60012;
}

.gamelogo-game-id-15:before {
  content: "\e90c";
  color: #e4007f;
}

.gamelogo-game-id-89:before {
  content: "\e90d";
  color: #86af27;
}

.gamelogo-game-id-16:before {
  content: "\e90e";
  color: #e4007f;
}

.gamelogo-game-id-88:before {
  content: "\e90f";
  color: #e60012;
}

.gamelogo-game-id-17:before {
  content: "\e910";
  color: #f39800;
}

.gamelogo-game-id-87:before {
  content: "\e911";
  color: #1c439a;
}

.gamelogo-game-id-18:before {
  content: "\e912";
  color: #e60012;
}

.gamelogo-game-id-21:before {
  content: "\e913";
  color: #19408f;
}

.gamelogo-game-id-23:before {
  content: "\e914";
  color: #e99313;
}

.gamelogo-game-id-24:before {
  content: "\e915";
  color: #1c439a;
}

.gamelogo-game-id-25:before {
  content: "\e916";
  color: #1c439a;
}

.gamelogo-game-id-26:before {
  content: "\e917";
  color: #86af27;
}

.gamelogo-game-id-27:before {
  content: "\e918";
  color: #866d55;
}

.gamelogo-game-id-28:before {
  content: "\e919";
  color: #1c439a;
}

.gamelogo-game-id-29:before {
  content: "\e91a";
  color: #86af27;
}

.gamelogo-game-id-30:before {
  content: "\e91b";
  color: #e60012;
}

.gamelogo-game-id-31:before {
  content: "\e91c";
  color: #86af27;
}

.gamelogo-game-id-34:before {
  content: "\e91d";
  color: #86af27;
}

.gamelogo-game-id-34-518:before {
  content: "\e91e";
  color: #86af27;
}

.gamelogo-game-id-36:before {
  content: "\e91f";
  color: #19408f;
}

.gamelogo-game-id-39-518:before {
  content: "\e920";
  color: #86af27;
}

.gamelogo-game-id-41:before {
  content: "\e921";
  color: #e99313;
}

.gamelogo-game-id-42:before {
  content: "\e922";
  color: #1c439a;
}

.gamelogo-game-id-66:before {
  content: "\e923";
  color: #1c439a;
}

.gamelogo-game-type-1:before {
  content: "\e924";
  color: #81a82b;
}

.gamelogo-game-type-3:before {
  content: "\e92b";
  color: #1ca940;
}

.gamelogo-game-type-4:before {
  content: "\e92e";
  color: #d31176;
}

.gamelogo-game-type-5:before {
  content: "\e92f";
  color: #2ea7e0;
}

.gamelogo-game-type-6:before {
  content: "\e936";
  color: #eab81a;
}

.gamelogo-game-type-7:before {
  content: "\e93c";
  color: #19408f;
}

.gamelogo-game-type-8:before {
  content: "\e93e";
  color: #e99313;
}

.gamelogo-game-type-9:before {
  content: "\e940";
  color: #601986;
}

.gamelogo-game-type-13:before {
  content: "\e947";
  color: #d61619;
}

/*浠ヤ笅渚濈収sprite鍦栭爢搴�*/

/*518鍒�*/
.gamelogo-game-id-518-1:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 0%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*518涓�*/
.gamelogo-game-id-518-3:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 4%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*518鍗�*/
.gamelogo-game-id-518-h:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 8%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*6600鍒�*/
.gamelogo-game-id-81:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 12%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*6600涓�*/
.gamelogo-game-id-82:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 16%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*6600鍗�*/
.gamelogo-game-id-6600-h:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 20%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*6600浜�*/
.gamelogo-game-id-83:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 24%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*6600six*/
.gamelogo-game-id-6600-six:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 28%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*82鍒�*/
.gamelogo-game-id-77:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 32%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*82涓�*/
.gamelogo-game-id-78:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 36%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*82鍗�*/
.gamelogo-game-id-76:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 40%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*82浜�*/
.gamelogo-game-id-80:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 44%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*82six*/
.gamelogo-game-id-82-six:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 48%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*899鍒�*/
.gamelogo-game-id-71:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 52%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*899涓�*/
.gamelogo-game-id-72:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 56%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*899鍗�*/
.gamelogo-game-id-70:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 60%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*899浜�*/
.gamelogo-game-id-79:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 64%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*899six*/
.gamelogo-game-id-899-six:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 68%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*BT鍒�*/
.gamelogo-game-id-74:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 72%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*BT涓�*/
.gamelogo-game-id-75:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 76%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*BT鍗�*/
.gamelogo-game-id-73:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 80%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*winer鍒�*/
.gamelogo-game-id-84:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 84%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*winer涓�*/
.gamelogo-game-id-85:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 88%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*winer浜�*/
.gamelogo-game-id-86:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 92%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*winer鍗�*/
.gamelogo-game-id-winer-h:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 96%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

/*winer鍏悎褰�*/
.gamelogo-game-id-winer-six:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 100%;
  background-size: 100%;
  background-image: url('../images/bt.png');
}

.game-infoInner[class*="gamelogo-game-id-"] {
  position: relative;
  width: 57px;
  height: 57px;
}

.game-current-logo[class*="gamelogo-game-id-"] {
  position: relative;
  width: 96px;
  height: 96px;
}