.div_loading {
  display:none;
  position:fixed;
  z-index:5000;
  top:0;
  left:0;
  height:100%;
  width:100%;
  text-align: center;
  /*background:rgba( 0, 0, 0, 0) url('loading.gif') 100% 100% no-repeat;*/
  background:rgba(0, 0, 0, 0);
}
.div_loading:before {
  content:'';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.div_loading_text {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 20px;
}
body.loading {
  overflow: hidden;
  cursor: wait;
}
body.loading .div_loading {
}
.div_road {
  position:absolute;
  top:0;
  left:0;
}
.div_bet {
  position:absolute;
  top:0;
  left:0;
  cursor:pointer
}