@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    vertical-align: middle;
}
.content{
	background: none;
	box-shadow: inherit
}
.top_background_infun{
	background: none;
}
.tooltip-inner {
    max-width: inherit;
    width: inherit;
    text-align: left;
}
body.ladder{
	padding: 0;
	margin: 0;
	background: url(../images/bg.jpg) repeat;
	font-family: arial,'Microsoft JhengHei';
	overflow: hidden;
}
body.ladder .main{
	width: 953px;
	padding: 0;
	margin: 0 auto;
}
body.ladder .main.allmain{
	position: absolute;
	height: 732px;
	top: 50%;
	left: 50%;
	margin-top: -366px;
	margin-left: -476.5px;
}
.game_info{
	width: 953px;
}
.game_top{
	width: 953px;
    height: 90px;
    background-image: url(../images/ladder_bg.png);
    background-position: -5px -808px;
	background-repeat: no-repeat;
    display: block;
	/*margin-top: 25px;*/
	margin-bottom: 5px;
	min-height: inherit;
}
.game_top .logo{
	float: left;
	width: 207px;
	margin-bottom: 5px;
}
.game_top .top-left img {
    max-width: inherit !important;
    max-height: inherit !important;
}
.game_top .logo img{
	width: 100%;
}
.game_top .name{
	width: inherit;
	padding-top: 12px;
}
.game_top .name_title{
	float: left;
	margin-left: 15px;
    margin-right: 15px;
}
.game_top .time{
	float: left;
	padding-right: 36px;
}
.game_top .time:after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    height: 46px;
    width: 19px;
    background: url(../images/room_img.png) no-repeat;
    background-position: -627px -246px;
}
.game_top .time_right{
	padding-left: 0px;
    margin-right: 0px;
}
.game-ladder .header .game-name{
	margin-left: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: #544935;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    /*text-shadow: 2px 2px 2px #AB5A5A;*/
    float: left;
    position: relative;
    line-height: 79px;
}
/*.game-ladder .header .game_name::before{
	content: '';
    position: absolute;
    top: 17px;
    left: 0;
    height: 14px;
    width: 15px;
    background: url(../images/room_img.png) no-repeat;
    background-position: -318px -84px;
}
.game-ladder .header .game_name::after{
	content: '';
    position: absolute;
    top: 17px;
    right: 0px;
    height: 14px;
    width: 15px;
    background: url(../images/room_img.png) no-repeat;
    background-position: -318px -84px;
}*/
.game-time{
	position: relative;
    margin-left: 0px;
    margin-top: 16px;
    /*background: url(../images/room_repeat_x.png) repeat-x;*/
    /*background-position: 0px -1569px;*/
    height: 46px;
    float: left;
    padding-right: 52px;
    padding-left: 14px;
    background: #3b3523;
    border-radius: 30px;
    border:1px solid #847B62; 
    box-shadow: 3px 3px 1px #7D7B7B inset;
}
.time-right {
    float: left;
    padding-left: 0px;
    margin-right: 5px;
    color: #fff;
    font-size: 12px;
    padding-top: 5px;
    font-family: '微软正黑体';
}
.time_mintxt {
    font-size: 15px;
    color: #000;
}
/*.time-count {
    float: left;
    font-family: Arial, '微软正黑体';
    font-size: 32px;
    color: #fad114;
    text-shadow: 2px 3px 3px #080808;
    margin-right: 0px;
    font-style: italic;
    font-weight: bold;
}*/
.time-icon {
    position: absolute;
    top: 2px;
    right: 0px;
    background: url(../images/room_img.png) no-repeat;
    background-position: -490px -264px;
    height: 41px;
    width: 41px;
    z-index: 1;
}
.time_count{
	margin-top: 24px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding-left: 118px;
    padding-top: 24px;
}
.period_now{
	margin-top: 38px;
    margin-left: 17px;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    padding-left: 52px;
    padding-top: 8px;
}
.ladder-piece-header-timer {
    width: 267px;
    height: 55px;
    background-position: -5px -368px;
}
.ladder-piece-header-period {
    width: 206px;
    height: 41px;
    background-position: -5px -317px;
}
.ladder-piece-header-show-bg {
    width: 160px;
    height: 22px;
    background-position: -277px -249px;
    color: #fff;
    line-height: 22px;
    padding: 0 5px;
}
.ladder-piece-header_mem_ico {
    width: 16px;
    height: 18px;
    background-position: -417px -5px;
    margin-left: 10px;
    margin-top: 2px;
}
.game_top .top-left{
	float: left;
    width: 230px;
    height: 65px;
    padding-left: 16px;
    padding-top: 9px
}
.game_top .top-left img{
	max-width: 157px;
	max-height: 60px;
}
.game_top .top-right{
	float: left;
	width:230px;
	height: 86px;
}
.game_top .top-center{
	float: left;
	width:493px;
	height: 86px;
	position: relative;
}
.game_top .top-right ul{
	padding: 0;
	margin: 11px 0 0 15px;
}
.game_top .top-right ul li{
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 47px;
	height: 47px;
	background-image: url(../images/ladder_piece.png);
	cursor: pointer;
}
.game_top .top-right ul li.top-right-list-1{
	background-position: -538px -288px;
}
.game_top .top-right ul li.top-right-list-1:hover{
	background-position: -538px -340px;
}
.game_top .top-right ul li.top-right-list-1:active{
	background-position: -538px -392px;
}
.game_top .top-right ul li.top-right-list-1.none{
	background-position: -538px -236px;
	cursor: default;
}
.game_top .top-right ul li.top-right-list-2{
	background-position: -590px -288px;
}
.game_top .top-right ul li.top-right-list-2:hover{
	background-position: -590px -340px;
}
.game_top .top-right ul li.top-right-list-2:active{
	background-position: -590px -392px;
}
.game_top .top-right ul li.top-right-list-2.none{
	background-position: -590px -236px;
	cursor: default;
}
.game_top .top-right ul li.top-right-list-3{
	background-position: -645px -80px;
}
.game_top .top-right ul li.top-right-list-3:hover{
	background-position: -645px -132px;
}
.game_top .top-right ul li.top-right-list-3:active{
	background-position: -645px -184px;
}
.game_top .top-right ul li.top-right-list-3.none{
	background-position: -663px -28px;
	cursor: default;
}
.game_top .top-right ul li.top-right-list-4{
	background-position: -645px -288px;
}
.game_top .top-right ul li.top-right-list-4:hover{
	background-position: -645px -340px; 
}
.game_top .top-right ul li.top-right-list-4:active{
	background-position: -645px -392px;
}
.game_top .top-right ul li.top-right-list-4.none{
	background-position: -645px -236px;
	cursor: default;
}
.game_top .top-center .top-info-box{
	position: absolute;
	top: 6px;
	left: 50px;
	width: 428px;
	height: 30px;
	background: #734417;
	border: 2px solid #430707;
	border-radius: 10px;
	box-shadow: -1px 1px 2px #c58556;
}
.game_top .top-center .top-info-box #MemberAct{
	margin-top: 2px;
	margin-left: 5px;
}
.game_top .top-center .top-info-box .MemberMoney-title{
	color: #fff;
	display: inline-block;
	padding-top: 2px;
	padding-left: 26px;
}
.game_top .top-center .top-info-box #MemberMoney{
	margin-top: 2px;
	margin-left: 5px;
	text-align: right;
}
.game_top .header-menu{
	padding: 0;
	margin: 0;
	width: 169px;
	float: right;
	margin-top: 15px;
}
.game_top .header-menu ul{
	padding: 0;
	margin: 0;
	width: 100%;
}
.game_top .header-menu ul li{
	padding: 0;
	margin: 0;
	display:inline-block;
	width: 49px;
	height: 49px;
	background-image: url(../images/spritesheet2.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.game_top .header-menu ul li + li{
	margin-left: 11px;
}
.game_top .header-menu ul li.menu-announcement{
	background-position: -5px -5px;
}
.game_top .header-menu ul li.menu-announcement:hover{
	background-position: -123px -5px;
}
.game_top .header-menu ul li.menu-announcement:active{
	background-position: -64px -5px;
}
.game_top .header-menu ul li.menu-nav{
	background-position: -5px -64px;
}
.game_top .header-menu ul li.menu-nav:hover{
	background-position: -123px -64px;
}
.game_top .header-menu ul li.menu-nav:active{
	background-position: -64px -64px;
}
.game_top .header-menu ul li.menu-list{
	background-position: -5px -123px;
}
.game_top .header-menu ul li.menu-list:hover{
	background-position: -123px -123px;
}
.game_top .header-menu ul li.menu-list:active{
	background-position: -64px -123px;
}
.content.Close{
	background: url(../images/ladder_bg.png) no-repeat;
}
.game-ladder .content{
	margin-bottom:5px;
	background-image: url(../images/ladder_bg.png);
    background-repeat: no-repeat;
    display: block;
    width: 953px;
    height: 444px;
    background-position: -5px -5px;
}
.game-ladder .content .content-left{
	width: 215px;
    height: 422px;
    margin: 11px 0 0 7px;
    float: left;
}
.game-ladder .content .content-left .ladder-CurrentlyTitle{
	width: 118px;
    height: 24px;
    background-position: -5px -5px;
    background-image: url(../images/ladder_piece.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 49px;
    position: relative;
}
.game-ladder .content .content-left .ladder-CurrentlyTitle span.ladder-CurrentlyTitle-history{
	position: absolute;
	right: -5px;
    top: -4px;
}
.game-ladder .content .content-left .ladder-Currentlyselect{
	display: block;
	padding-left: 20px;
	padding-top: 9px;
}
.game-ladder .content .content-left .ladder-Currentlyselect select{
	border:1px solid #462f23;
	background: #3d2207;
	color: #ffffff;
	box-shadow: 1px -1px 3px #A05A11 inset;
	width: 174px;
	padding: 0 5px;
}
.game-ladder .content .content-left .ladder-CurrentlyList{
	padding: 0;
	margin: 0px 5px 5px;
	/*background: #fff;*/
	/*display: none;*/
}
.game-ladder .content .content-left .ladder-CurrentlyList ul{
	width: 100%;
	padding: 0;
	margin: 7px auto;
	overflow: auto;
	max-height:384px;
}
.game-ladder .content .content-left .ladder-CurrentlyList ul li{
	width: 100%;
	padding: 0 5px;
	margin: 0;
	border-bottom: 1px solid #d0c2b2;
	line-height:26px;
	font-size: 14px;
}
.game-ladder .content .content-left .ladder-CurrentlyList ul li.total{
	border-top: 1px solid #aaa;
	border-bottom: none;
}
.game-ladder .content .content-left .ladder-CurrentlyList ul li.bet_t_s{
	border-bottom: none;
} 
.game-ladder .content .content-left .ladder-CurrentlyList ul li.bet_t_s span,
.game-ladder .content .content-left .ladder-CurrentlyList ul li.bet_t_s span:first-child{
	color: #ffb400;
	font-weight: bold;
	font-size: 16px;
}
.game-ladder .content .content-left .ladder-CurrentlyList ul li span{
	width: 50%;
	display: inline-block;
	text-align: right;
	color: #fff;
	text-shadow: 0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000,
    0px 0px 1px #000;
	/*font-weight: bold;*/
}
.game-ladder .content .content-left .ladder-CurrentlyList ul li span:first-child{
	text-align: left;
	color: #fff;
	font-weight: 100;
	text-shadow: 0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000, 
    0px 0px 1px #000,
    0px 0px 1px #000;
}
.game-ladder .content .content-right{
	width: 720px;
	height:423px;
	margin: 10px 0 0 4px;
	float: left;
}
.game-ladder .content .content-right .ladder-content{
	float:left;
	width: 501px;
	height: 427px;
	padding: 0;
	margin: 0;
}
.game-ladder .content .content-right .ladder-content .ladder-box{
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
}
.game-ladder .content .content-right .ladder-content .ladder-box canvas#LadderCanvas{ 
    display: inline-block;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content{
	position:relative;
	margin-top: 66px;
	height: 13px;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-vs{
	position: absolute;
	background-image: url(../images/ladder_piece.png);
    background-repeat: no-repeat;
    display: block;
	top: -30px;
	left: 50%;
	margin-left: -59px;
	width: 117px;
    height: 47px;
    background-position: -5px -453px;
    padding-top: 22px;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-vs .ladder-distribution-vs-title{
	position: absolute;
	width: 108px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	top: -22px;
	left: 50%;
	margin-left: -54px;
	color: #fff;
	font-size:13px;
	background: #3b3523;
	border-top-right-radius:4px; 
	border-top-left-radius:4px; 
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-vs .ladder-distribution-vs-odd,
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-vs .ladder-distribution-vs-even{
	float: left;
	width: 36px;
	line-height: 27px;
	text-align:center;
	font-size: 13px;
	margin-left: 4px;
	color: #106de1;
	font-weight: bold;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-vs .ladder-distribution-vs-even{
	float: right;
	margin-right: 4px;
	color: #d63e35;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-vs-remark{
	text-align: center;
	color: #eee;
    font-size: 14px;
    padding-top: 18px;
    display: block;
    text-shadow: 0px 0px 4px #302003, 
    0px 0px 4px #302003, 
    0px 0px 4px #302003, 
    0px 0px 4px #302003, 
    0px 0px 4px #302003, 
    0px 0px 4px #302003, 
    0px 0px 4px #302003, 
    0px 0px 4px #302003, 
    0px 0px 4px #302003,
    0px 0px 4px #302003;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-oddPer,
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-evenPer{
	float: left;
	width: 210px;
	height: 11px;
	text-align: right;
	margin-top: 2px;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-evenPer{
	float: right;
	text-align: left;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-oddPer>span{
	display: inline-block;
	vertical-align: top;
	height: 11px;
	background: url(../images/bet_odd_bar.png) no-repeat left;
}
.game-ladder .content .content-right .ladder-content .ladder-distribution-content .ladder-distribution-evenPer>span{
	display: inline-block;
	vertical-align: top;
	height: 11px;
	background: url(../images/bet_even_bar.png) no-repeat right;
}
.clottery-go{
	height: 60px;
	text-align: center;
}
.clottery-go span{
	margin: 9px 0 21px;
    line-height: 26px;
    padding: 0px 10px;
    color: #fff;
    text-align: center;
    /*display: inline-block;*/
    background: #B68F5A;
    border-radius: 30px;
    border: 1px solid #7c5014;
    display: none;
}
.ladder-top{
	padding: 0 15px 0 22px;
	margin-bottom: 33px;
}
.ladder-piece-content-btn1 {
	float: left;
    width: 102px;
    height: 28px;
    background-position: -538px -38px;
    margin-right: 10px;
    cursor: pointer;
}
.ladder-piece-content-btn1:hover{
	background-position: -538px -71px;
}
.ladder-piece-content-btn1:active{
	background-position: -538px -104px;
}
.ladder-piece-content-btn2 {
	float: left;
    width: 102px;
    height: 28px;
    margin-right: 10px;
    background-position: -538px -137px;
    cursor: pointer;
}
.ladder-piece-content-btn2:hover{
	background-position: -538px -170px;
}
.ladder-piece-content-btn2:active{
	background-position: -538px -203px;
}
.ladder-piece-content-btn3 {
	float: left;
    width: 102px;
    height: 28px;
    background-position: -716px -6px;
    margin-right: 10px;
    cursor: pointer;
}
.ladder-piece-content-btn3:hover{
	background-position: -716px -39px;
}
.ladder-piece-content-btn3:active{
	background-position: -716px -72px;
}
.sound-switch{
	float: right;
	margin-top: 4px;
    margin-right: 10px;
}
.ladder-piece-sound-off {
    width: 34px;
    height: 23px;
    background-position: -485px -203px;
    cursor: pointer;
}
.ladder-piece-sound-off:hover {
    background-position: -447px -236px;
}
.ladder-piece-sound-off.active {
    background-position: -447px -236px;
}
.ladder-piece-sound-on {
    width: 30px;
    height: 23px;
    background-position: -491px -236px;
    cursor: pointer;
    margin-right: 5px;
}
.ladder-piece-sound-on:hover{
	background-position: -467px -269px;
}
.ladder-piece-sound-on.active {
    background-position: -467px -269px;
}
.ladder-mask{
	position: absolute;
	top: 0;
	margin-top: 68px;
	left: 50%;
	margin-left: -233.5px;
	color: #fad114;
	padding-top: 20px;
	background-image: url(../images/ladder_bg.png);
    background-repeat: no-repeat;
    display: block;
	width: 467px;
    height: 127px;
    background-position: -457px -657px;
}
.openlost{
	color: #000;
	display:block;
	padding-top: 16px;
}
.openlost .PeriodsCloseTime{
	font-weight: bold;
}
.ladder-mask .clottery-now,
.ladder-mask .clottery-previous{
	display: block;
	line-height: 27px;
}
.ladder-mask .clottery-now{
	color: #fff;
}
.game-ladder .content .content-right .ladder-history{
	float: left;
    width: 210px;
    height: 422px;
    padding: 0;
    margin: 0px 0 0 6px;
}
.game-ladder .content .content-right .ladder-history .ladder-historyTitle{
	background-image: url(../images/ladder_piece.png);
    background-repeat: no-repeat;
	display: inline-block;
	width: 118px;
    height: 24px;
    background-position: -277px -281px;
    margin: 0 0 0 46px;
}
.game-ladder .content .content-right .ladder-history .ladder-historyNum, 
.game-ladder .content .content-right .ladder-history .ladder-historyResult {
    background-image: url(../images/ladder_piece.png);
    background-repeat: no-repeat;
	display: inline-block;
	width: 54px;
    height: 20px;
    background-position: -469px -173px;
    margin: 11px 19px 5px 26px;
}
.game-ladder .content .content-right .ladder-history .ladder-historyResult{
	width: 62px;
    background-position: -413px -203px;
}
.game-ladder .content .content-right .ladder-history .historyTable-wrap{
	/*background: url(../images/bg_history_tr.png) repeat-y;*/
    height: 338px;
    width: 100%;
    position: relative;
    overflow-y: auto;
}
.game-ladder .content .content-right .ladder-history .historyTable-wrap table{
	width: 100%;
	border-collapse: collapse;
}
.game-ladder .content .content-right .ladder-history .historyTable-wrap table tr{
	border-bottom: 1px solid #d0c2b2;
}
.game-ladder .content .content-right .ladder-history .historyTable-wrap table tr td{
	width: 100px;
	text-align: center;
	font-size: 12px;
	padding: 5px 0;
}
.historyTable-wrap-period{
	color: #fff;
}
.historyTable-wrap-scale{
	background: #be1a20;
	width:92%;
	height: 10px;
	margin-left:4%;
	position: relative;
	margin-top: 0px;
	border: 2px solid #fff;
	border-radius: 15px;
}
.historyTable-wrap-scale .historyTable-wrap-scale-o{
	position: absolute;
	background:#2895b6;
	height:100%;
	top:0;
	left: 0;
	border-top-left-radius:15px; 
	border-bottom-left-radius:15px; 
}
.historyTable-wrap-scale .historyTable-wrap-scale-o::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background:#fff;
	width: 10px;
	height: 18px;
	border:2px solid #a8a8a8; 
	top:-6px;
	right: 0;
	margin-right: -5px;
	border-radius: 15px;
}
.historyTable-icon{
	text-align: left;
}
.historyTable-resultIcon-00{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/img_bet_l3em.png) no-repeat center;
}
.historyTable-resultIcon-01{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/img_bet_l4om.png) no-repeat center;
}
.historyTable-resultIcon-10{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/img_bet_r3om.png) no-repeat center;
}
.historyTable-resultIcon-11{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/img_bet_r4em.png) no-repeat center;
}
.game-ladder .foot{
	background-image: url(../images/ladder_bg.png);
    background-repeat: no-repeat;
    display: block;	
    width: 953px;
    height: 188px;
    background-position: -5px -459px;
}
.betting-box{
	position: relative;
	text-align: center;
}
.betting-box-mask{
	position: absolute;
    width: 932px;
    line-height: 168px;
    height: 168px;
    top: 9px;
    left: 11px;
    bottom: 0;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,.8);
    font-size: 16px;
    border-radius: 10px;
}
ul.betting-area{
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 897px;
	margin-top: 23px;
}
ul.betting-area li{
	float: left;
	width: 145px;
	margin: 0 3px;
	padding: 0 8px;
	height: 141px;
	background-image: url(../images/ladder_bg.png);
    background-repeat: no-repeat;
	background-position: -5px -657px;
}
ul.betting-area li.endxladder-area{
	width: 287px;
	background-position: -160px -657px;

}
ul.betting-area li span.title{
	width: 122px;
	height: 28px;
	display: inline-block;
	background-image: url(../images/ladder_piece.png);
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
}
ul.betting-area li.end-area span.title{
	background-position: -5px -121px;
}
ul.betting-area li.ladder-area span.title{
	background-position: -132px -453px;
}
ul.betting-area li.start-area span.title{
	background-position: -264px -453px;
}
ul.betting-area li.endxladder-area span.title{
	width: 251px;
	 background-position: -137px -121px;
}
ul.betting-area li.total-area span.title{
	background-position: -535px -5px;
}
.game-ladder .foot ul.betting-area li input[type='text']{
	width: 80%;
	border: 1px solid #9c8642;
	border-radius: 4px;
	padding: 2px 5px;
	text-align: center;
	box-shadow: -1px 1px 2px 0px #aaa inset;
	color: #5d2114;
	font-size: 12px;
}
.game-ladder .foot ul.betting-area li .ladder-odds{
	font-size: 12px;
	display: block;
	color: #5d2114;
	line-height: 15px;
	font-family: 'Microsoft JhengHei';
}
.game-ladder .foot ul.betting-area li input.total-Betting{
	width: 120px;
    height: 30px;
    background-position: -396px -453px;
    color: #c9c9c9;
    margin-top: 3px;
    margin-bottom: 4px;
}
.game-ladder .foot ul.betting-area li .btn{
	width: 61px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.cancel_btn {
    background-position: -133px -5px;
}
.cancel_btn:hover {
    background-position: -275px -5px;
}
.cancel_btn:active {
    background-position: -204px -5px;
}
.confirm_btn {
    background-position: -5px -45px;
}
.confirm_btn:hover {
    background-position: -147px -45px;
}
.confirm_btn:active {
    background-position: -76px -45px;
}


.ladder-piece {
    background-image: url(../images/ladder_piece.png) !important;
    background-repeat: no-repeat;
    display: inline-block;
    text-shadow: 0px 0px 0px #080808;
}

.ladder-piece-img_bet_odd {
    width: 50px;
    height: 46px;
    background-position: -469px -61px;
    margin-bottom: 2px;
}
.ladder-piece-img_bet_even {
    width: 50px;
    height: 46px;
    background-position: -402px -397px;
    margin-bottom: 2px;
}
.ladder-piece-img_bet_3line {
    width: 50px;
    height: 46px;
    background-position: -282px -397px;
    margin-bottom: 2px;
}
.ladder-piece-img_bet_4line {
    width: 50px;
    height: 46px;
    background-position: -342px -397px;
    margin-bottom: 2px;
}
.ladder-piece-img_bet_left {
    width: 56px;
    height: 46px;
    background-position: -469px -5px;
    margin-bottom: 2px;
}
.ladder-piece-img_bet_right {
    width: 56px;
    height: 46px;
    background-position: -469px -117px;
    margin-bottom: 2px;
}
.ladder-piece-img_bet_10 {
    width: 52px;
    height: 48px;
    background-position: -344px -339px;
}
.ladder-piece-img_bet_00 {
    width: 52px;
    height: 48px;
    background-position: -405px -281px;
}
.ladder-piece-img_bet_01 {
    width: 52px;
    height: 48px;
    background-position: -282px -339px;
}
.ladder-piece-img_bet_11 {
    width: 52px;
    height: 48px;
    background-position: -406px -339px;
}
.ladder-piece-periods-00{
	width: 45px;
	height: 42px;
    background-position: -538px -444px;
}
.ladder-piece-periods-01{
	width: 45px;
	height: 42px;
    background-position: -471px -402px;
}
.ladder-piece-periods-10{
	width: 45px;
	height: 42px;
    background-position: -588px -444px;
}
.ladder-piece-periods-11{
	width: 45px;
	height: 42px;
    background-position: -638px -444px;
}

.historyTable-wrap .mCSB_scrollTools{
	    margin: 5px 0;
}

.historyTable-wrap .mCSB_outside + .mCSB_scrollTools {
    right: 0px;
}


/*-------*/
.leftfix{
	float: left;
}
.rightfix{
	float: right;
}
.txt-left{
	text-align: left;
}
.txt-center{
	text-align: center;
}
.txt-right{
	text-align: right;
}




.mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}
.historyTable-wrap .mCSB_outside + .mCSB_scrollTools {
    right: -5px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: url(../images/scrollbar.jpg) repeat-y;
	border-radius: 16px;
}
.mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 10px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #1f331d;
}

span.ui-state-default {
    border: none;
    background: #3d2207;
    background-position: -10px -1437px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    box-shadow: -1px 1px 2px #452709 inset;
}
.ui-selectmenu-button span.ui-icon {
    right: 7px;
    width: 18px;
    height: 17px;
    left: auto;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    background: url(../images/select_arrow.png) no-repeat;
}
.ui-selectmenu-button.ui-state-hover span.ui-icon{
	background: url(../images/select_arrow_hover.png) no-repeat;
}
.ui-selectmenu-button:active span.ui-icon{
	background: url(../images/select_arrow_active.png) no-repeat;
}

ul.ui-widget-content {
    background: #3d2207;
    border: 1px solid #372620;
    border-radius: 0; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: 0px;
}

ul.ui-widget-content .ui-state-focus {
    background: #0f3754;
    color: #fad114;
    width: 100%;
    border-radius: 0;
    border: 1px solid #fff;
}
ul.ui-widget-content {
    max-height: 300px;
}

#ZgWindow .Windows.big,#ZgWindow .Windows .Cnn{
	background: url(../images/road_bg.jpg);
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#ZgWindow .Windows.GoLottery .WinTitle, #ZgWindow .Windows.GoOrder .WinTitle, #ZgWindow .Windows.GoReport .WinTitle, #ZgWindow .Windows.Details_Content .WinTitle, #ZgWindow .Windows.ChaseDetails_Content .WinTitle,#ZgWindow .Windows .WinTitle{
	background: url(../images/road_bg.jpg);
}
#ZgWindow .Windows.GoLottery .Cnn, #ZgWindow .Windows.GoOrder .Cnn, #ZgWindow .Windows.GoReport .Cnn, #ZgWindow .Windows.Details_Content .Cnn, #ZgWindow .Windows.ChaseDetails_Content .Cnn{/*,#ZgWindow .Windows.big .WinContent*/
	background: url(../images/road_bg.jpg);
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#ZgWindow .Windows .WinContent{
	border: none;
	background: none;
}
.common_form{
	background: none;
	height: inherit;
}
.order_top,.report_top,.lottery_top{
	background: rgba(255,255,255,.8);
}
.record_dep_closet{
	background: #fff;
	padding: 13px 0;
}
.record_dep{
	margin:0;
	padding: 0 15px;
}
.record_dep_closet .order_select_all{
	margin-top: 13px;
}
#Not_order_list,#OrderReportDiv{
	background: #fff;
}
.report_footer{
	margin-top: 0;
	background: #edecec;
	border-top: 1px solid #cfbeac;
}
.order_chi ul {
    border-top: 1px solid #56382a;
    border-left: 1px solid #56382a;
    border-bottom: 1px solid #a88777;
    border-right: 1px solid #a88777;
}
.order_chi ul li {
    border-left: 1px solid #56382a;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b654b+0,60360d+100 */
	background: rgb(155,101,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(155,101,75,1) 0%, rgba(96,54,13,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(155,101,75,1) 0%,rgba(96,54,13,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(155,101,75,1) 0%,rgba(96,54,13,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b654b', endColorstr='#60360d',GradientType=0 ); /* IE6-9 */
	line-height: 24px;
}
.order_chi ul li:hover{
	background: rgb(155,101,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(155,101,75,1) 0%, rgba(96,54,13,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(155,101,75,1) 0%,rgba(96,54,13,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(155,101,75,1) 0%,rgba(96,54,13,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b654b', endColorstr='#60360d',GradientType=0 ); /* IE6-9 */
	opacity: .9
}
.order_chi ul li.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#57320f+0,8a5941+100 */
	background: rgb(87,50,15); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(87,50,15,1) 0%, rgba(138,89,65,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(87,50,15,1) 0%,rgba(138,89,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(87,50,15,1) 0%,rgba(138,89,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57320f', endColorstr='#8a5941',GradientType=0 ); /* IE6-9 */
}
.report_left select, .order_left select,.report_date_choice input[type='text']{
	border: 1px solid #cbb88e;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,f6f3ed+36,ede8dc+50,f6f3ed+64,fefefe+100 */
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(246,243,237,1) 36%, rgba(237,232,220,1) 50%, rgba(246,243,237,1) 64%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(246,243,237,1) 36%,rgba(237,232,220,1) 50%,rgba(246,243,237,1) 64%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(246,243,237,1) 36%,rgba(237,232,220,1) 50%,rgba(246,243,237,1) 64%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}
.order_search,.order_search:hover,.record_search,.record_search:hover, .order_search,.order_search:hover, .order_select_all,.order_select_all:hover{
	box-shadow: 0 2px 0 #d19401;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#facc60+0,fbc950+4,fac444+23,f4af09+88,f3ad05+96,efa903+100 */
	background: rgb(250,204,96); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,204,96,1) 0%, rgba(251,201,80,1) 4%, rgba(250,196,68,1) 23%, rgba(244,175,9,1) 88%, rgba(243,173,5,1) 96%, rgba(239,169,3,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(250,204,96,1) 0%,rgba(251,201,80,1) 4%,rgba(250,196,68,1) 23%,rgba(244,175,9,1) 88%,rgba(243,173,5,1) 96%,rgba(239,169,3,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(250,204,96,1) 0%,rgba(251,201,80,1) 4%,rgba(250,196,68,1) 23%,rgba(244,175,9,1) 88%,rgba(243,173,5,1) 96%,rgba(239,169,3,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#facc60', endColorstr='#efa903',GradientType=0 ); /* IE6-9 */
	opacity: .8;
}
.order_search:hover,.record_search:hover, .order_search:hover, .order_select_all:hover{
	opacity: 1
}
.order_search:active,.record_search:active, .order_search:active, .order_select_all:active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efa903+0,f3ad05+4,f4af09+12,fac444+77,fbc950+96,facc60+100 */
	background: rgb(239,169,3); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,169,3,1) 0%, rgba(243,173,5,1) 4%, rgba(244,175,9,1) 12%, rgba(250,196,68,1) 77%, rgba(251,201,80,1) 96%, rgba(250,204,96,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(239,169,3,1) 0%,rgba(243,173,5,1) 4%,rgba(244,175,9,1) 12%,rgba(250,196,68,1) 77%,rgba(251,201,80,1) 96%,rgba(250,204,96,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(239,169,3,1) 0%,rgba(243,173,5,1) 4%,rgba(244,175,9,1) 12%,rgba(250,196,68,1) 77%,rgba(251,201,80,1) 96%,rgba(250,204,96,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efa903', endColorstr='#facc60',GradientType=0 ); /* IE6-9 */

}
.record_dep_atten{
	font-size: 13px;
	background: #5f4238;
}
.record_dep_atten i{
	color:#ffb400;
}
tr.record_dep_nav{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4ebe2+0,ede4dd+31,e2d9d0+50,ece3dc+66,eee5dc+75,f5ece5+100 */
	background: rgb(244,235,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(244,235,226,1) 0%, rgba(237,228,221,1) 31%, rgba(226,217,208,1) 50%, rgba(236,227,220,1) 66%, rgba(238,229,220,1) 75%, rgba(245,236,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(244,235,226,1) 0%,rgba(237,228,221,1) 31%,rgba(226,217,208,1) 50%,rgba(236,227,220,1) 66%,rgba(238,229,220,1) 75%,rgba(245,236,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(244,235,226,1) 0%,rgba(237,228,221,1) 31%,rgba(226,217,208,1) 50%,rgba(236,227,220,1) 66%,rgba(238,229,220,1) 75%,rgba(245,236,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ebe2', endColorstr='#f5ece5',GradientType=0 ); /* IE6-9 */
}
th.record_dep_nav_menu {
    border-right: 1px solid #cfbeac;
    border-left: 1px solid #f8f5ef;
    border-top: 1px solid #cfbeac;
    border-bottom: 1px solid #cfbeac;
    color: #000;
}
.report_date{
	border: 1px solid #ccc;
    border-radius: 4px;
    background: #fdf8f2;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.report_date:before{
	display: none;
}
.report_date:after{
	display: none;
}
.report_date_small_chi ul li, ul.record_dep_list_btn_choice li,.report_date_small_chi ul li:hover, ul.record_dep_list_btn_choice li:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b644b+0,61360e+100 */
	background: rgb(155,100,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(155,100,75,1) 0%, rgba(97,54,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(155,100,75,1) 0%,rgba(97,54,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(155,100,75,1) 0%,rgba(97,54,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b644b', endColorstr='#61360e',GradientType=0 ); /* IE6-9 */
	line-height: 17px;
	
}
.report_date_small_chi ul li:hover, ul.record_dep_list_btn_choice li:hover{
	opacity: .9;
}
.report_date_small_chi ul li:active, ul.record_dep_list_btn_choice li:active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#57320f+0,8a5941+100 */
	background: rgb(87,50,15); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(87,50,15,1) 0%, rgba(138,89,65,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(87,50,15,1) 0%,rgba(138,89,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(87,50,15,1) 0%,rgba(138,89,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57320f', endColorstr='#8a5941',GradientType=0 ); /* IE6-9 */
}

.report_date_small_chi ul li a, ul.record_dep_list_btn_choice li a{
	color: #fff;
}
.report_date_small_chi ul li:hover a,ul.record_dep_list_btn_choice li:hover a,ul.record_dep_list_btn_choice li:active a,ul.record_dep_list_btn_choice li:active a{
	color: #fff;
}
.report_date_small_chi ul, ul.record_dep_list_btn_choice {
    border-top: 1px solid #56382a;
    border-left: 1px solid #a78676;
    border-bottom: 1px solid #a78676;
    border-right: 1px solid #56382a;
}
.report_date_small_chi ul{
	margin: 2px 0;
}
.report_date_small_chi ul li, ul.record_dep_list_btn_choice li {
    border-left: 1px solid #56382a;
}
.order_scorllbar,.lottery_scorllbar{
	background: #fff;
}
.report_scorllbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.order_scorllbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.lottery_scorllbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.Not_order_list_scorllbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.Chase_scorllbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.Chase_Details_scorllbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.bet_content_scorllbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d664d+0,905d45+22,714734+56,905d45+89,98624a+100 */
	background: rgb(157,102,77); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(157,102,77,1) 0%, rgba(144,93,69,1) 22%, rgba(113,71,52,1) 56%, rgba(144,93,69,1) 89%, rgba(152,98,74,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(157,102,77,1) 0%,rgba(144,93,69,1) 22%,rgba(113,71,52,1) 56%,rgba(144,93,69,1) 89%,rgba(152,98,74,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(157,102,77,1) 0%,rgba(144,93,69,1) 22%,rgba(113,71,52,1) 56%,rgba(144,93,69,1) 89%,rgba(152,98,74,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d664d', endColorstr='#98624a',GradientType=1 ); /* IE6-9 */

}
body.clottery-body{
	background: none;
}
.lottery_dep_closet{
	padding: 12px 0;
	background: #fff;
}
/*.lottery_dep_closet .lottery_dep {
    margin: 0px 15px;
    line-height: 20px;
    height: 20px;
}*/
#LotteryPager{
	margin-top: 0;
}
div.page_select_div{
	color: #333 !important;
}
body.trend-body{
	background: url(../images/road_bg.jpg);
}
.lottery_dep {
    margin: 0px;
    background: rgba(255,255,255,1);
    padding: 0 15px;
}
th.lottery_dep_nav_menu{
	border-right: 1px solid #cfbeac;
	border-left: 1px solid #f8f5ef;
	border-top:1px solid #cfbeac;
	border-bottom:1px solid #cfbeac;
}
th.lottery_dep_nav_menu .fiveunit tr:first-child .lottery_dep_nav_menu {
    border-bottom: 1px solid #cfbeac;
}
.shenblue{
	background:#5f4238;
}
#ZgWindow .Windows .WinTitle .tool > div:hover{
	background: none;
}
/*.lottery_dep {
    height: 52px;
    line-height: 52px;
}*/
#ZgWindow .Windows .Cn {
    box-shadow: 2px 7px 12px 3px rgba(0, 0, 0, 0.5);
}
#ZgWindow .Windows .WinTitle .title_string{
	text-shadow: 1px 1px 1px #000;
	font-weight: bold;
}
.glyphicon{
	text-shadow: 1px 1px 1px #000;
}
.record_dep_atten .fa{
	position: relative;

}
.fa-exclamation-circle:before {
    content: "\f06a";
    z-index: 2;
    position: relative;
}
.record_dep_atten .fa::after{
	content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    background: #fff;
    top: 1px;
    left: 4px;
    z-index: 0;
}
ul.report_sum li.amount {
    background-color: #fdf8f2;
    border-top: 1px solid #c5bcb3;
    border-left: 1px solid #c5bcb3;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
#report_bet_real_pl{
	color: #e7080b;
}
.record_dep_main tbody tr:nth-child(even) td {
    background-color: #f7f7f7;
}
.record_dep_main tbody tr:hover td {
    background-color: #53bb53;
    color: #FFF;
}
.record_dep{
	color:#2e2720;
}
.report_listin_defint,.report_listin_defint:hover{
	background: rgb(155,100,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(155,100,75,1) 0%, rgba(97,54,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(155,100,75,1) 0%,rgba(97,54,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(155,100,75,1) 0%,rgba(97,54,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b644b', endColorstr='#61360e',GradientType=0 ); /* IE6-9 */
}
.report_listin_defint:hover{
	opacity: .9;
}
.report_listin_defint:active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#57320f+0,8a5941+100 */
	background: rgb(87,50,15); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(87,50,15,1) 0%, rgba(138,89,65,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(87,50,15,1) 0%,rgba(138,89,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(87,50,15,1) 0%,rgba(138,89,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57320f', endColorstr='#8a5941',GradientType=0 ); /* IE6-9 */
}
.order_search i.fa,.record_search i.fa{
	text-shadow: 0px 2px 3px #333;
	top: -2px;
    position: relative;
}
.order_search,.record_search,.order_select_all  {
	text-shadow: 1px 1px 3px #333;
}
th.lottery_dep_nav_menu .fiveunit tr:first-child .lottery_dep_nav_menu:first-child{
	border-right: 1px solid #cfbeac;
}
#LotteryPager{
	border-top: 1px solid #cfbeac;
	background: #edecec;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
div.PageClass li.amount {
    background-color: #fdf8f2;
    border-radius: 5px;
    border-top: 1px solid #c5bcb3;
    border-left: 1px solid #c5bcb3;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #342d27;
    line-height: 21px;
}
div.PageClass select{
	border: 1px solid #cbb88e;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,f6f3ed+36,ede8dc+50,f6f3ed+64,fefefe+100 */
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(246,243,237,1) 36%, rgba(237,232,220,1) 50%, rgba(246,243,237,1) 64%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(246,243,237,1) 36%,rgba(237,232,220,1) 50%,rgba(246,243,237,1) 64%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(246,243,237,1) 36%,rgba(237,232,220,1) 50%,rgba(246,243,237,1) 64%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
div.PageClass li.ToFirst,div.PageClass li.ToFirst:hover{
	width:20px;
	height:20px;
	opacity: .9;
}
div.PageClass li.ToLast,div.PageClass li.ToLast:hover{
	width:20px;
	height:20px;
	opacity: .9;
}
div.PageClass li.ToPrev,div.PageClass li.ToPrev:hover{
	width:20px;
	height:20px;
	opacity: .9;
}
div.PageClass li.ToNext,div.PageClass li.ToNext:hover{
	width:20px;
	height:20px;
	opacity: .9;
}
div.PageClass li.ToFirst:hover,div.PageClass li.ToLast:hover,div.PageClass li.ToPrev:hover,div.PageClass li.ToNext:hover{
	opacity: 1;
}
div.PageClass li.ToPrev.disabled{
	opacity: 0.75;
}
div.PageClass li.ToNext.disabled{
	opacity: 0.75;
}
div.page_info{
	color: #2e2720;
}

.maintain-box{
	position: absolute;
	top: 76px;
	left: 240px;
	width: 469px;
	height: 196px;
	font-family: 'Microsoft YaHei';
}
.maintain-title{
	text-align: center;
	padding-top: 35px;
}
.maintain-title span{
	display: inline-block;
	position: relative;
	padding:0 45px;
	font-size: 24px;
	color: #3d2207;
	font-weight: bold;
}
.maintain-title span::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 29px;
	background: url(../images/close_title_before.png) no-repeat left;
}
.maintain-title span::after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 29px;
	background: url(../images/close_title_after.png) no-repeat right;
}
.maintain-content{
	color:#3d2207;
	font-size: 15px;
	font-weight: bold;
	padding: 20px 40px;
}
.maintain-img{
	position: absolute;
	width: 84px;
	height: 122px;
	background: url(../images/close_img.png) no-repeat;
	top: 286px;
    right: 224px;
}
.close-box{
	position: absolute;
    top: 0;
    margin-top: 77px;
    left: 50%;
    margin-left: -233.5px;
    color: #fad114;
    padding-top: 20px;
    background-image: url(../images/ladder_bg.png);
    background-repeat: no-repeat;
    display: block;
    width: 467px;
    height: 127px;
    background-position: -457px -657px;
	font-family: 'Microsoft YaHei';
}
.close-title{
	text-align: center;
	padding-top: 23px;
}
.close-title span{
	display: inline-block;
	position: relative;
	padding:0 45px;
	font-size: 24px;
	color: #3d2207;
	font-weight: bold;
}
.close-title span::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 29px;
	background: url(../images/close_title_before.png) no-repeat left;
}
.close-title span::after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 29px;
	background: url(../images/close_title_after.png) no-repeat right;
}
#ToDayPeriods-menu .mCSB_draggerContainer{
	background: none;
}
#ToDayPeriods-menu .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #834B2A;
}

#ToDayPeriods-menu .mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 4px;
    right: 0;
    height: auto;
}
.modal-content .modal-header {
	padding: 0 15px;
	height: 50px;
    border-bottom: none;
    color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#914d20+0,88471f+29,763e19+61,683717+100 */
	background: rgb(145,77,32); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(145,77,32,1) 0%, rgba(136,71,31,1) 29%, rgba(118,62,25,1) 61%, rgba(104,55,23,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(145,77,32,1) 0%,rgba(136,71,31,1) 29%,rgba(118,62,25,1) 61%,rgba(104,55,23,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(145,77,32,1) 0%,rgba(136,71,31,1) 29%,rgba(118,62,25,1) 61%,rgba(104,55,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#914d20', endColorstr='#683717',GradientType=0 ); /* IE6-9 */
}
.modal-title{
	line-height: 50px;
}
.modal-header .close{
	width: 26px;
	height: 26px;
	background: url(../images/pop_close_btn.png) no-repeat;
	background-position: -5px -5px;
	margin-top: 10px;
	opacity: 1;
	text-indent: -9999px;
	position: absolute;
    top: 0;
    right: 10px;
}
.modal-header .close:hover{
	background-position: -77px -5px;
}
.modal-header .close:active{
	background-position: -41px -5px;
}
.btn-primary{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0490fb+0,0292f8+3,058ff8+5,0291f6+8,058ff4+13,038df1+15,0587e7+33,0373c5+77,0570be+90,026fc0+92,046eb9+95,056dbc+97,0a71b9+100 */
	background: rgb(4,144,251); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(4,144,251,1) 0%, rgba(2,146,248,1) 3%, rgba(5,143,248,1) 5%, rgba(2,145,246,1) 8%, rgba(5,143,244,1) 13%, rgba(3,141,241,1) 15%, rgba(5,135,231,1) 33%, rgba(3,115,197,1) 77%, rgba(5,112,190,1) 90%, rgba(2,111,192,1) 92%, rgba(4,110,185,1) 95%, rgba(5,109,188,1) 97%, rgba(10,113,185,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(4,144,251,1) 0%,rgba(2,146,248,1) 3%,rgba(5,143,248,1) 5%,rgba(2,145,246,1) 8%,rgba(5,143,244,1) 13%,rgba(3,141,241,1) 15%,rgba(5,135,231,1) 33%,rgba(3,115,197,1) 77%,rgba(5,112,190,1) 90%,rgba(2,111,192,1) 92%,rgba(4,110,185,1) 95%,rgba(5,109,188,1) 97%,rgba(10,113,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(4,144,251,1) 0%,rgba(2,146,248,1) 3%,rgba(5,143,248,1) 5%,rgba(2,145,246,1) 8%,rgba(5,143,244,1) 13%,rgba(3,141,241,1) 15%,rgba(5,135,231,1) 33%,rgba(3,115,197,1) 77%,rgba(5,112,190,1) 90%,rgba(2,111,192,1) 92%,rgba(4,110,185,1) 95%,rgba(5,109,188,1) 97%,rgba(10,113,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0490fb', endColorstr='#0a71b9',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#239ff9+0,209ffe+3,249df6+5,209df8+8,1e97f2+21,1b93ea+28,1890e7+36,1282d4+56,0b7acb+69,0670bd+90,0570c0+92,066eb7+97,1678c0+100 */
	background: rgb(35,159,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(35,159,249,1) 0%, rgba(32,159,254,1) 3%, rgba(36,157,246,1) 5%, rgba(32,157,248,1) 8%, rgba(30,151,242,1) 21%, rgba(27,147,234,1) 28%, rgba(24,144,231,1) 36%, rgba(18,130,212,1) 56%, rgba(11,122,203,1) 69%, rgba(6,112,189,1) 90%, rgba(5,112,192,1) 92%, rgba(6,110,183,1) 97%, rgba(22,120,192,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(35,159,249,1) 0%,rgba(32,159,254,1) 3%,rgba(36,157,246,1) 5%,rgba(32,157,248,1) 8%,rgba(30,151,242,1) 21%,rgba(27,147,234,1) 28%,rgba(24,144,231,1) 36%,rgba(18,130,212,1) 56%,rgba(11,122,203,1) 69%,rgba(6,112,189,1) 90%,rgba(5,112,192,1) 92%,rgba(6,110,183,1) 97%,rgba(22,120,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(35,159,249,1) 0%,rgba(32,159,254,1) 3%,rgba(36,157,246,1) 5%,rgba(32,157,248,1) 8%,rgba(30,151,242,1) 21%,rgba(27,147,234,1) 28%,rgba(24,144,231,1) 36%,rgba(18,130,212,1) 56%,rgba(11,122,203,1) 69%,rgba(6,112,189,1) 90%,rgba(5,112,192,1) 92%,rgba(6,110,183,1) 97%,rgba(22,120,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#239ff9', endColorstr='#1678c0',GradientType=0 ); /* IE6-9 */
}
.btn-primary:active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e71b9+0,056db8+3,0670bc+13,0b7acb+33,1f9bf4+87,219df8+95,229cf6+97,20a0fc+100 */
	background: rgb(14,113,185); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(14,113,185,1) 0%, rgba(5,109,184,1) 3%, rgba(6,112,188,1) 13%, rgba(11,122,203,1) 33%, rgba(31,155,244,1) 87%, rgba(33,157,248,1) 95%, rgba(34,156,246,1) 97%, rgba(32,160,252,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(14,113,185,1) 0%,rgba(5,109,184,1) 3%,rgba(6,112,188,1) 13%,rgba(11,122,203,1) 33%,rgba(31,155,244,1) 87%,rgba(33,157,248,1) 95%,rgba(34,156,246,1) 97%,rgba(32,160,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(14,113,185,1) 0%,rgba(5,109,184,1) 3%,rgba(6,112,188,1) 13%,rgba(11,122,203,1) 33%,rgba(31,155,244,1) 87%,rgba(33,157,248,1) 95%,rgba(34,156,246,1) 97%,rgba(32,160,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e71b9', endColorstr='#20a0fc',GradientType=0 ); /* IE6-9 */
}
.btn-danger{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e81212+0,e50f0f+24,d90706+59,d10101+91,d20202+97,d00000+100 */
	background: rgb(232,18,18); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(232,18,18,1) 0%, rgba(229,15,15,1) 24%, rgba(217,7,6,1) 59%, rgba(209,1,1,1) 91%, rgba(210,2,2,1) 97%, rgba(208,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(232,18,18,1) 0%,rgba(229,15,15,1) 24%,rgba(217,7,6,1) 59%,rgba(209,1,1,1) 91%,rgba(210,2,2,1) 97%,rgba(208,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(232,18,18,1) 0%,rgba(229,15,15,1) 24%,rgba(217,7,6,1) 59%,rgba(209,1,1,1) 91%,rgba(210,2,2,1) 97%,rgba(208,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81212', endColorstr='#d00000',GradientType=0 ); /* IE6-9 */
}
.btn-danger:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f62c2c+0,f12727+21,d70909+76,d10101+100 */
	background: rgb(246,44,44); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,44,44,1) 0%, rgba(241,39,39,1) 21%, rgba(215,9,9,1) 76%, rgba(209,1,1,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(246,44,44,1) 0%,rgba(241,39,39,1) 21%,rgba(215,9,9,1) 76%,rgba(209,1,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(246,44,44,1) 0%,rgba(241,39,39,1) 21%,rgba(215,9,9,1) 76%,rgba(209,1,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f62c2c', endColorstr='#d10101',GradientType=0 ); /* IE6-9 */
}
.btn-danger:active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d00000+0,db0d0d+35,ea1e1f+65,f62c2c+100 */
	background: rgb(208,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(208,0,0,1) 0%, rgba(219,13,13,1) 35%, rgba(234,30,31,1) 65%, rgba(246,44,44,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(208,0,0,1) 0%,rgba(219,13,13,1) 35%,rgba(234,30,31,1) 65%,rgba(246,44,44,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(208,0,0,1) 0%,rgba(219,13,13,1) 35%,rgba(234,30,31,1) 65%,rgba(246,44,44,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00000', endColorstr='#f62c2c',GradientType=0 ); /* IE6-9 */
}
.btn{
	outline: 0 !important;
	border: none !important;
}
.confirm-tr + .confirm-tr div{
	border-top: 1px solid #e4e4e4;
}
.confirm-tr .confirm-td{
	display: inline-block;
	width: 188px;
	padding: 0 15px;
	text-align: left;
	font-family: arial , 'Microsoft JhengHei';
	font-size: 14px;
    color: #1f1f1f;
}
.confirm-tr .confirm-td:first-child{
	width: 100px;
	text-align: center
}
.confirm-tr .confirm-td + .confirm-td{
	border-left: 1px solid #e4e4e4;
}

.MoneyDialog{
	position:absolute;
	width:100px;
	height:191px;
	text-align:center;
	background:#fff;
	border: solid 1px #333;
	display:none;
	border-radius:3px;
	z-index: 10;
}
.MoneyDialog:before{
	content:'';
	width:0px;
	height:0px;
	border-width:15px;
	border-style:solid;
	border-color:#333 transparent transparent transparent ;
	position:absolute;
	bottom:-30px;
	left:50%;
	margin-left: -15px;
}
.MoneyDialog:after{
	content:'';
	width:0px;
	height:0px;
	border-width:15px;
	border-style:solid;
	border-color:#fff transparent transparent transparent ;
	position:absolute;
	bottom:-29px;
	left:50%;
	margin-left: -15px;
}
.Money_ul{
	font-size:14px;
}
.Money_ul > li{
	position: relative;
	padding:3px 0;
	border-top:1px #CCC solid;
}
.Money_ul > li > .minus,
.Money_ul > li > .plus{
	position:absolute;
	font-size:19px;
	top:3px;
	cursor: pointer;
}
.Money_ul > li > .minus:active,
.Money_ul > li > .plus:active {
    color:#FF6600;
}
.Money_ul > li > .minus{
	left:3px;
}
.Money_ul > li > .plus{
	right:3px;
}
.Money_ul > li:first-child{
	border-top:none;
}



.float-nav{
	position: absolute;
	top: 196px;
	left: 0;
	background: #57803b;
	border-bottom: 2px solid #2f4b1c;
	padding-bottom: 18px;
	z-index: 10;
	display:none;
	font-size:14px;
}
.float-nav .float-nav-outer {
	position:relative;
	padding: 0;
	margin: 0;
	width: 100%;
	cursor: pointer;
}
.float-nav .float-nav-outer > .float-nav-inner{
	width: 70px;
	position: relative;
	padding-bottom: 1px;
	text-align: center;
	z-index: 1;
	background: #57803b;
}
.float-nav .float-nav-outer > .float-nav-inner::after{
	content: '';
	position: absolute;
	width: 56px;
	height: 1px;
	bottom: 0;
	left: 50%;
	margin-left: -28px;
	background: rgba(255,255,255,.2);
}
.float-nav .float-nav-outer > .float-nav-inner span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #FFF;
	border-radius: 20px;
	line-height: 38px;
	color: #FFF;
	text-align: center;
	margin: 10px 0;
}
.float-nav .float-nav-outer > ul.float-nav-list{
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	background: #fff;
	min-width: 90px;
	opacity:0;
	top:0;
	border:none;
	background: #f7e8ce;
	border-radius: 2px;
}
.float-nav .float-nav-outer > ul.float-nav-list li{
	text-align: center;
	padding: 0 15px;
	line-height: 28px;
	color: #0d456d;
	white-space: nowrap;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
	color:#3d2207;
}
.float-nav .float-nav-outer > ul.float-nav-list li:hover{
	background: #834b2a;
	color: #ffb400;
}
.float-nav .float-nav-outer:hover > .float-nav-inner{
	background: #3d2207;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.float-nav .float-nav-outer:hover  > .float-nav-inner::after{
	background: #3d2207;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.float-nav .float-nav-outer:hover  > .float-nav-inner span{
	border: 1px solid #fdb200;
	color: #fdb200;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
@media only screen and (max-width: 1100px) {
	.float-nav .float-nav-outer > .float-nav-inner {
		width: 30px;
	}
	.float-nav .float-nav-outer > .float-nav-inner span {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		line-height: 18px;
		margin: 5px 0;
		overflow: hidden;
	}
	.float-nav .float-nav-outer > .float-nav-inner::after {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
}