
.VDNOpenLottery {

  position: relative;

}

.VDNOpenLottery .VDNLotteryContent {

  position: relative;

  width:100%;

  z-index: 1;

}

.VDNLotteryContent .vtable {

  display : table;

  width : 100%;

}

.VDNLotteryContent .vtr {

  display : table-row;

}

.VDNLotteryContent .vtd {

  display : table-cell;

  vertical-align : middle;

}

.VDNLotteryContent > .vtable > .vtr > .vtd:nth-child(1) {

  width: 20%;

  border : 1px #CCC solid;

  text-align: center;

  border-left-width: 2px;

}

.VDNLotteryContent > .vtable > .vtr > .vtd:nth-child(2) {

  width: 80%;

  border:1px #CCC solid;

  border-right-width: 2px;

}

.VDNLotteryContent > .vtable > .vtr:first-child > .vtd {

  border-top-width:2px;

}

.VDNLotteryContent > .vtable > .vtr:last-child > .vtd {

  border-bottom-width:2px;

}

.mainVTable {

  /* border : 1px #e94335 solid; */

}

.itemVTable > .vtr > .vtd {

  text-align: center;

  width: 50%;

}

/* 大廳 */

.game-showFrame .VDNLotteryContent > .vtable > .vtr > .vtd {

  background: #FFF;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr > .vtd:nth-child(1) {

  color:#FFF;

  background: #e94335;

  border:1px #e94335 solid;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr > .vtd:nth-child(2) {

  border:1px #e94335 solid;

  border-right-width: 2px;

  color: #e94335;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:first-child {

  border-top-left-radius: 15px;

  border-top-width: 2px;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:last-child {

  border-top-right-radius: 15px;

  border-top-width: 2px;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr:last-child > .vtd:first-child {

  border-bottom-left-radius: 15px;

  border-bottom-width: 2px;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr:last-child > .vtd:last-child {

  border-bottom-right-radius: 15px;

  border-bottom-width: 2px;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr {

  visibility:hidden;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr:first-child {

  visibility:visible;

}

.game-showFrame .VDNLotteryContent:hover > .vtable > .vtr {

  visibility:visible;

}

.game-showFrame .VDNLotteryContent {

  position: absolute;

  margin-left :5px;

  top : -12px;

  height : 34px;

  overflow: hidden;

}

.game-showFrame .VDNLotteryContent .vtd {

  padding: 1px;

}

.game-showFrame .VDNLotteryContent:hover {

  height : auto;

  z-index: 2;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:first-child {

  font-size: 14px;

  border-bottom-left-radius: 15px;

  border-bottom-width: 2px;

}

.game-showFrame .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:last-child {

  border-bottom-right-radius: 15px;

  border-bottom-width: 2px;

}

.game-showFrame .VDNLotteryContent:hover > .vtable > .vtr:first-child > .vtd:first-child {

  border-bottom-left-radius: 0px;

  border-bottom-width: 1px;

}

.game-showFrame .VDNLotteryContent:hover > .vtable > .vtr:first-child > .vtd:last-child {

  border-bottom-right-radius: 0px;

  border-bottom-width: 1px;

}

.game-showFrame .cityItem {

  position: absolute;

  top: -10px;

  right: 0;

  margin-right: 6px;

}

.game-showFrame .cityItem menu menuitem {

  display: block;

  background: #BBB;

  color: #fff;

  font-size: 13px;

  letter-spacing: 1px;

  padding: 2px 10px;

  margin: 2px 0;

  cursor: pointer;

}

.game-showFrame .cityItem menu menuitem.active {

  background: #e94335;

}

#hall .game-showFrame .game-bot li.nowLot a {

  letter-spacing: 0;

}

/* 開獎中心 */

.VNDLotteryListDiv {

  padding: 0 25px;

}

.VNDLotteryListDiv .VNDOpenTitle {

  padding: 5px 0;

  background: #f2f2f2;

  text-align: center;

  color: #828282;

  font-weight: bold;

  border: 2px #BFBFBF solid;

  border-bottom: none;

  border-radius: 12px 12px 0 0;

}

.VNDLotteryListDiv .VNDOneItem {

  float: left;

  margin-bottom: 10px;

  width: 230px;

  margin-right: 5px;

  color: #828282;

}

.VNDLotteryListDiv .VDNOpenLottery .VDNLotteryContent {

  position: relative;

  width:100%;

}

.VNDLotteryListDiv .itemVTable > .vtr > .vtd {

  padding:5px 0;

}

.VNDLotteryListDiv .VDNLotteryContent > .vtable > .vtr:nth-child(even) > .vtd {

  background: #f2f2f2;

}

.VNDLotteryListDiv .VDNLotteryContent > .vtable > .vtr > .vtd > .vtable > .vtr > .vtd {

  border-right: 1px #BFBFBF solid;

  border-bottom: 1px #BFBFBF solid;

  height: 35px;

}

.VNDLotteryListDiv .VDNLotteryContent > .vtable > .vtr > .vtd > .vtable > .vtr > .vtd:last-child {

  border-right: none;

}

.VNDLotteryListDiv .VDNLotteryContent > .vtable > .vtr > .vtd > .vtable > .vtr:last-child > .vtd {

  border-bottom: none;

}

.VNDLotteryListDiv .VNDOpenfooter {

  padding: 5px 0;

  text-align: center;

  font-weight: bold;

  border: 2px #BFBFBF solid;

  border-top: none;

  border-radius: 0 0 12px 12px;

}

.VNDLotteryListDiv .VDNLookNumber {

  cursor: pointer;

  position: relative;

  z-index: 2;

  font-family:'arial';

  font-size: 14px;

  color: #fff;

  background: #c6c6c6;

  border-radius: 30px;

  width: 26px;

  height: 26px;

  line-height: 24px;

  text-align: center;

  margin: 0 auto;

  margin-right: 3px;

  padding: 3px 7px;

}

.VNDLotteryListDiv .VDNLookNumber:hover, .VNDLotteryListDiv .VDNLookNumber.active {

  background: #ff3838;

}

.VNDOneItem[data-active='0'] .VDNItemNumber number.first0, .VNDOneItem[data-active='1'] .VDNItemNumber number.first1, .VNDOneItem[data-active='2'] .VDNItemNumber number.first2, .VNDOneItem[data-active='3'] .VDNItemNumber number.first3, .VNDOneItem[data-active='4'] .VDNItemNumber number.first4, .VNDOneItem[data-active='5'] .VDNItemNumber number.first5, .VNDOneItem[data-active='6'] .VDNItemNumber number.first6, .VNDOneItem[data-active='7'] .VDNItemNumber number.first7, .VNDOneItem[data-active='8'] .VDNItemNumber number.first8, .VNDOneItem[data-active='9'] .VDNItemNumber number.first9 {

  font-family:'arial';

  font-size: 20px;

  color: #828282;

  background: #06fde8;

  border-radius: 30px;

}

.VNDOneItem[data-active='0'] .VDNItemNumber number.last0, .VNDOneItem[data-active='1'] .VDNItemNumber number.last1, .VNDOneItem[data-active='2'] .VDNItemNumber number.last2, .VNDOneItem[data-active='3'] .VDNItemNumber number.last3, .VNDOneItem[data-active='4'] .VDNItemNumber number.last4, .VNDOneItem[data-active='5'] .VDNItemNumber number.last5, .VNDOneItem[data-active='6'] .VDNItemNumber number.last6, .VNDOneItem[data-active='7'] .VDNItemNumber number.last7, .VNDOneItem[data-active='8'] .VDNItemNumber number.last8, .VNDOneItem[data-active='9'] .VDNItemNumber number.last9 {

  font-family:'arial';

  font-size: 20px;

  color: #828282;

  background: #13fd06;

  border-radius: 30px;

}

.VNDOneItem[data-active='0'] .VDNItemNumber number.first0.last0, .VNDOneItem[data-active='1'] .VDNItemNumber number.first1.last1, .VNDOneItem[data-active='2'] .VDNItemNumber number.first2.last2, .VNDOneItem[data-active='3'] .VDNItemNumber number.first3.last3, .VNDOneItem[data-active='4'] .VDNItemNumber number.first4.last4, .VNDOneItem[data-active='5'] .VDNItemNumber number.first5.last5, .VNDOneItem[data-active='6'] .VDNItemNumber number.first6.last6, .VNDOneItem[data-active='7'] .VDNItemNumber number.first7.last7, .VNDOneItem[data-active='8'] .VDNItemNumber number.first8.last8, .VNDOneItem[data-active='9'] .VDNItemNumber number.first9.last9 {

  font-family:'arial';

  font-size: 20px;

  color: #000;

  background: #fda706;

  border-radius: 30px;

}

/* PC下注區開獎 */

.game-record-detail .VDNOpenLottery .VNDOpenTitle {

  padding : 5px 10px;

  font-size: .875rem;

  padding: 5px 10px;

  margin: 15px 10px 0px 10px;

  color: #000;

  text-align:center;

  font-size:20px;

}

.game-record-detail .VDNOpenLottery .VNDOpenTitle span {

  color: #e94335;

}

.game-record-detail .VDNOpenLottery {

  width: 100%;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr > .vtd {

  background: #FFF;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr > .vtd:nth-child(1) {

  color:#FFF;

  background: #e94335;

  border:1px #e94335 solid;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr > .vtd:nth-child(2) {

  border:1px #e94335 solid;

  border-right-width: 2px;

  color: #e94335;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:first-child {

  border-top-left-radius: 15px;

  border-top-width: 2px;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:last-child {

  border-top-right-radius: 15px;

  border-top-width: 2px;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr:last-child > .vtd:first-child {

  border-bottom-left-radius: 15px;

  border-bottom-width: 2px;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr:last-child > .vtd:last-child {

  border-bottom-right-radius: 15px;

  border-bottom-width: 2px;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr {

  visibility:hidden;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr:first-child {

  visibility:visible;

}

.game-record-detail .VDNLotteryContent:hover > .vtable > .vtr {

  visibility:visible;

}

.game-record-detail .VDNLotteryContent {

  position: absolute;

  right: 0;

  left: 0;

  height: 34px;

  overflow: hidden;

  width: 80%;

  margin: 0 auto;

}

.game-record-detail .VDNLotteryContent .vtd {

  padding: 1px;

}

.game-record-detail .VDNLotteryContent:hover {

  height : auto;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:first-child {

  border-bottom-left-radius: 15px;

  border-bottom-width: 2px;

}

.game-record-detail .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:last-child {

  border-bottom-right-radius: 15px;

  border-bottom-width: 2px;

}

.game-record-detail .VDNLotteryContent:hover > .vtable > .vtr:first-child > .vtd:first-child {

  border-bottom-left-radius: 0px;

  border-bottom-width: 1px;

}

.game-record-detail .VDNLotteryContent:hover > .vtable > .vtr:first-child > .vtd:last-child {

  border-bottom-right-radius: 0px;

  border-bottom-width: 1px;

}

.game-record-detail .cityItem {

}

.game-record-detail .cityItem menu {

  display: -webkit-flex;

  display: flex;

  -webkit-align-items: center;

  align-items: center;

  -webkit-justify-content: center;

  justify-content: center;

  padding-inline-start: 0;

  margin: 0;

  margin-top:5px;

  margin-bottom:8px;

}

.game-record-detail .cityItem menu menuitem {

  display: block;

  background: #BBB;

  color: #fff;

  font-size: 16px;

  letter-spacing: 1px;

  padding: 2px 10px;

  margin: 2px 5px;

  cursor: pointer;

}

.game-record-detail .cityItem menu menuitem.active {

  background: #e94335;

}

/* 下注 */

.type15PlayDiv {

  display: none;

}

.type15PlayDiv:first-child {

  display: block;

}

.luckyButton {

  margin:0 auto

}

.VDNofficialPeriods {

  display: flex;

  margin: 10px 0;

}

.VDNofficialPeriods .itemDiv {

  width: 14.28%;

  border: 1px #e94335 solid;

}

.VDNofficialPeriods .itemDiv + .itemDiv {

  border-left:none;

}

.VDNofficialPeriods .itemDiv .title {

  background: #e94335;

  color: #FFF;

  padding: 5px;

}

.VDNofficialPeriods .itemDiv .content {

  padding: 5px;

  margin: 0px;

}

/* 新增 可輸入框 */

.addListDiv {

  display: flex;

  border: 1px #CCC solid;

  border-top: none;

  padding: 10px 30px;

  background: #EEE;

}

.addListDiv input[name='addLineNumber'] {

  text-align: center;

  width: 50px;

  margin-right: 10px;

}

.addListDiv .addListBtn {

}

/* 注單 */

.report_listin_form .VDNOpenLottery .VNDOpenTitle {

  padding : 5px 10px;

  font-size: .875rem;

  padding: 5px 10px;

  margin: 15px 10px 0px 10px;

  color: #000;

  text-align:center;

  font-size:20px;

}

.report_listin_form .VDNOpenLottery .VNDOpenTitle span {

  color: #e94335;

}

.report_listin_form .VDNOpenLottery {

  width: 30%;

}

.report_listin_form .VDNLotteryContent > .vtable > .vtr > .vtd {

  background: #FFF;

}

.report_listin_form .VDNLotteryContent > .vtable > .vtr > .vtd:nth-child(1) {

  color:#FFF;

  background: #e94335;

  border:1px #e94335 solid;

}

.report_listin_form .VDNLotteryContent > .vtable > .vtr > .vtd:nth-child(2) {

  border:1px #e94335 solid;

  border-right-width: 2px;

  color: #e94335;

}

.report_listin_form .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:first-child {

  border-top-left-radius: 15px;

  border-top-width: 2px;

}

.report_listin_form .VDNLotteryContent > .vtable > .vtr:first-child > .vtd:last-child {

  border-top-right-radius: 15px;

  border-top-width: 2px;

}

.report_listin_form .VDNLotteryContent > .vtable > .vtr:last-child > .vtd:first-child {

  border-bottom-left-radius: 15px;

  border-bottom-width: 2px;

}

.report_listin_form .VDNLotteryContent > .vtable > .vtr:last-child > .vtd:last-child {

  border-bottom-right-radius: 15px;

  border-bottom-width: 2px;

}

.report_listin_form .VDNLotteryContent {

  position: relative;

  width: 90%;

  margin: 0 auto;

}

.report_listin_form .VDNLotteryContent .vtd {

  padding: 1px;

}

.report_listin_form .VDNLotteryContent > .vtable > .vtr > .vtd > .vtable > .vtr > .vtd {

  height: 20px;

  line-height: 17px;

}

.report_listin_form .detailInfoDiv.gameType15 {

  display: flex;

}

.report_listin_form .detailInfoDiv.gameType15 > div:first-child {

  width :70%;

}

@media(max-width: 2060px) {

  .VNDLotteryListDiv .VNDOneItem {

      width: 19.6%;

  }

}

@media(max-width: 1720px) {

  .VNDLotteryListDiv .VNDOneItem {

      width:24%;

  }

}

@media(max-width: 1510px) {

  .VNDLotteryListDiv .VNDOneItem {

      width: 24.5%;

  }

}

@media(max-width: 1300px) {

  .VNDLotteryListDiv .VNDOneItem {

      width: 32.8%;

  }

}

@media(max-width: 1190px) {

  .VNDLotteryListDiv .VNDOneItem {

      width: 32.8%;

  }

}

@media(max-width: 1100px) {

  .VNDLotteryListDiv .VNDOneItem {

      width: 32.6%;

  }

}