/*---------- 作者信息 ---------*/
/*四川尚狐网络*/
/*http://www.shangfox.com*/

/*---------- base ---------*/
* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: arial, "Microsoft Yahei";
    font-size: 12px;
    width: 100%;
    min-width: 1000px;
}

body {
    font-family: arial, "Microsoft Yahei";
    font-size: 12px;
    width: 100%;
    background: none
}

img {
    border: none;
}

a {
    color: #888;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0px;
}

p {
    margin: 0;
    padding: 0;
}


/* 通用 */
.header {
    width: 100%;
    z-index: 999;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 4%;
}

.header .box {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header .box .logo {
    float: left;
    width: 100%;
}

.header .box .navs {
    float: left;
    width: 100%;
    padding: 0 50px 0;
}

.header .box .navs a {
    float: left;
    width: 16.666%;
    text-align: center;
}

.header .box .navs a img{
    width: 70%;
}

.header .box .navs a:nth-child(1) {
    padding-top: 0;
}

.header .box .navs a:nth-child(2) {
    padding-top: 10px;
}

.header .box .navs a:nth-child(3) {
    padding-top: 20px;
}

.header .box .navs a:nth-child(4) {
    padding-top: 20px;
}

.header .box .navs a:nth-child(5) {
    padding-top: 10px;
}

.header .box .navs a:nth-child(6) {
    padding-top: 0;
}


/*ads*/
.ads {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.ads img {
    float: left;
    width: 100%;
}

/*ads_jietu*/
.ads_jietu {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

/*ads_title*/
.ads_title {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

/*ads_ios*/
.ads_ios {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

/*ads_ewm*/
.ads_ewm {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 0px;
}

.ads_ewm a {
    display: inline-block;
    width: 180px;
    margin: 0 20px;
}

.ads_ewm a img {
    float: left;
    width: 100%;
}

.ads_ewm a p {
    float: left;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}

/*ads_3*/
.ads_3 {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

.ads_3 a {
    display: inline-block;
    width: 213px;
    margin: 0 20px;
}

.ads_3 a img {
    float: left;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #b79839;
}

/*certify*/
#certify {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    top: 19%;
}
#certify .swiper-container{
    width: 800px;
}
#certify .swiper-slide {
    width: 274px;
    height: 486px;
}

#certify .swiper-slide img {
    display: block;
    width: 100%;
    float: left;
}

#certify .swiper-slide p {
    line-height: 98px;
    padding-top: 0;
    text-align: center;
    color: #636363;
    font-size: 1.1em;
    margin: 0;
}
.ads_down{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}