body {
    overflow-x: hidden;
}

.banner {
    width: 1200px;
    margin: 40px auto;
}

.banner h2 {
    text-align: center;
    color: #308085;
    /* width: 364px; */
    height: 36px;
    font-size: 36px;
    margin: 0 auto;
    /* line-height: 100px; */
    /* background: url(../images/spr.png) 0 0 no-repeat; */
    /* overflow: hidden; */
}

.swiper-container {
    width: 1100px;
    margin: 0 auto;
    overflow: visible;
}

.swiper-slide {
    position: relative;
    height: 780px;
    opacity: 0 !important;
}

.swiper-slide-active {
    opacity: 1 !important;
}

.swiper-slide .ren {
    position: absolute;
    left: 0;
    top: 0;
    width: 1436px;
    height: 840px;
}

.swiper-button-next,
.swiper-button-prev {
    width: 120px;
    height: 120px;
    background-image: url(../images/spr.png);
    background-size: initial;
}

.swiper-button-next {
    right: -50px;
    background-position: -170px -55px;
}

.swiper-button-prev {
    left: -50px;
    background-position: 0 -55px;
}

.swiper-container-horizontal .swiper-pagination-bullets {
    bottom: 60px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #c3c3c3;
}

.swiper-pagination-bullet-active {
    background-color: #01978e;
}