<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="../static/swiper/package/swiper-bundle.min.css">
    <link rel="stylesheet" href="child1.css">
</head>

<body>
    <div id="vue">
        <div class="swiper-container swiper1" v-show="showSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="item in imgList">
                    <img :src="`${src}config/${item}`" alt="" srcset="">
                </div>
            </div>
        </div>
        
        <div class="bg1" v-show="!showSwiper">
            <img class="bg2" :src="`${src}images/bg2.png`" alt="" srcset="">
            <div class="bg4" >
                <img v-if="newBg" :src="newBg" alt="" srcset="">
            </div>
            <!-- <img class="bg3" :src="btoaString" alt="" srcset=""> -->
            <!-- <img class="bg3" :src="`${src}images/bg2.png`" alt="" srcset=""> -->
        </div>

        <div v-show="!showSwiper" class="erweima2" @click="openerweima()">
            <div class="img">
                <img v-if="erweima" :src="erweima" alt="" srcset="">
                <!-- <img v-if="erweimaType==1" :src="erweima" alt="" srcset="">
                <div v-if="erweimaType==0">
                    二维码生成中
                </div>
                <div v-if="erweimaType==2">
                    生成失败，点击重新生成
                </div> -->
            </div>
            <div class="text">扫码二维码下载图片</div>
        </div>
        
        <img class="full" :src="`${src}images/full.png`" alt="" srcset="" @click="full()">
    </div>
    <script src="../static/vue.js"></script>
    <script src="../static/swiper/package/swiper-bundle.min.js"></script>
    <script src="child1.js"></script>
</body>

</html>