html,
body {
  height: 100%;
}
#vue {
  height: 100%;
  background: url(../image/bg.png);
  display: flex;
  flex-direction: column;
  overflow: auto;
}
#vue .box_1 {
  flex-shrink: 0;
}
#vue .content {
  flex-grow: 1;
}
ul {
  margin: 0px ;
  padding: 0px;
}
li {
  list-style: none;
}
.box_1 {
  background: #ffffff;
}
.box_1 .flex_1 {
  display: flex;
  height: 140px;
  align-items: center;
}
@media (max-width: 768px) {
  .box_1 .flex_1 {
    height: 90px;
  }
}
.box_1 .flex_1 img {
  max-width: 100%;
}
.box_1 .flex_2 {
  display: flex;
  height: 140px;
  align-items: center;
  justify-content: center;
}
.box_1 .flex_2 .center_1 {
  border: 4px solid #ff0000;
  width: 100%;
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #ff0000;
  font-weight: bold;
}
.box_1 .flex_2 .center_1 div {
  background: #ffffff;
  padding: 0px 10px;
}
.box_1 .flex_2 .center_1 > div:nth-child(1) {
  margin: -16px 0px 0px;
}
.box_1 .flex_2 .center_1 > div:nth-child(2) {
  margin: 0px 0px -15px;
}
.box_1 .flex_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
  width: 300px;
  max-width: 100%;
}
.box_1 .flex_3 img {
  max-width: 100%;
}
.box_1 .flex_3 .btn_1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.box_1 .flex_3 .btn_1 lI {
  width: calc(33.33333333%);
}
.box_1 .flex_3 .btn_1 li:not( :nth-child(1)) {
  border-left: 2px solid #cccccc;
}
.box_1 .flex_3 .service {
  text-align: center;
}
.box_2 {
  min-height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
.box_2 > div {
  padding: 10px;
}
.box_2 .list {
  background: #ffffff;
  margin-bottom: 10px;
}
.box_2 .title_1 {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #ff0000;
}
.box_2 .title_1 img {
  height: 30px;
}
.box_2 .item {
  margin-bottom: 20px;
}
.box_2 .item > a,
.box_2 .item > div {
  text-decoration: none;
  color: #000000;
  margin: 0px -10px;
  height: 60px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.box_2 .item > a img,
.box_2 .item > div img {
  margin: 0px 5px 0px 0px;
  height: 25px;
}
.box_2 .item > a .label_1,
.box_2 .item > div .label_1 {
  position: absolute;
  top: -10px;
  left: 60%;
  background: #ff0000;
  color: #ffffff;
  padding: 0px 5px;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.box_2 .item > a .label_1::after,
.box_2 .item > div .label_1::after {
  position: absolute;
  left: 0px;
  bottom: -5px;
  content: "";
  float: left;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #ff0000;
}
.yuMingRenZheng {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 10px 0px;
}
.yuMingRenZheng .title_2 > div:nth-child(1) {
  font-size: 50px;
  color: #ff0000;
  font-weight: bold;
}
@media (max-width: 768px) {
  .yuMingRenZheng .title_2 > div:nth-child(1) {
    font-size: 20px;
  }
}
.yuMingRenZheng .title_2 > div:nth-child(2) {
  font-size: 30px;
}
@media (max-width: 768px) {
  .yuMingRenZheng .title_2 > div:nth-child(2) {
    font-size: 16px;
  }
}
.yuMingRenZheng .tishi_1 > span:nth-child(1) {
  font-size: 18px;
}
.yuMingRenZheng .tishi_1 > span:nth-child(2) {
  font-size: 14px;
  color: #ff9200;
}
.yuMingRenZheng .input_1 {
  margin: 10px 0px;
}
.yuMingRenZheng .tishi_2 {
  font-size: 18px;
}
.yuMingRenZheng .tishi_2 .err {
  color: #ff9200;
}
.yuMingRenZheng .tishi_2 .chenggong {
  color: green;
}
