<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css"> -->

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->

    <link rel="stylesheet" href="index.css">

</head>

<body>
    <div id="vue">
        <div class="type">
            <el-select @change="change1" v-model="value" clearable placeholder="请选择">
                <el-option v-for="item in type" :key="item.name" :label="item.name" :value="item.id">
                </el-option>
            </el-select>
        </div>
        <ul class="list">
            <li v-for="(item, index) in list" :key="index">
                <span>{{typename(item)}}</span>
                <img class="img1" :src="item.imgUrl" alt="" srcset="">
                <img class="img2" src="删 除 .png" alt="" srcset="" @click="del(item)">
            </li>
        </ul>
        <div class="footer">
            <el-pagination background layout="prev, pager, next" :total="total" :page-size="100"
                @current-change="changePage">
            </el-pagination>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script>



        var app = new Vue({
            el: '#vue',
            data: {
                message: 'Hello Vue!',
                list: [],
                total: 0,
                pageIndex: 1,
                type: [],
                value:''
            },
            filters:{

            },
            methods: {
                change1(){
                    this.pageIndex=1
                    this.list = []
                    this.g()
                },
                typename(item){
                    let obj = this.type.find(x=>x.id == item.t1)
                    if(obj){
                        // return obj.id
                        return obj.name
                    }else{
                        return ''
                    }
                },
                g() {
                    $.ajax({
                        type: "post",
                        url: "http://10.10.27.150:81/shoujiBizi/public/index/queryImgList",
                        data: { pageIndex: this.pageIndex, pageSize: 100 ,t1:this.value},
                        dataType: "json",
                        success: (x) => {
                            // console.log(x)
                            this.list = x.data
                            this.total = x.total
                        },
                        error: (err) => {
                            // console.log(err)
                        }
                    });
                },
                changePage(x) {
                    console.log(x)
                    this.list = []
                    this.pageIndex = x;
                    this.g()
                },
                async del(item) {
                    let r = await this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => true).catch(() => false);
                    console.log(r)
                    if (!r) return
                    $.ajax({
                        type: "post",
                        url: "http://10.10.27.150:81/shoujiBizi/public/index/deleteImg",
                        data: { id: item.id },
                        dataType: "json",
                        success: (x) => {
                            console.log(x)
                            this.g()
                            if (x == 1) {
                                this.$message({ message: '删除成功', type: 'success', showClose: true });
                            } else {
                                this.$message({ message: '删除失败', type: 'success', showClose: true });
                            }
                        },
                        error: (err) => {
                            console.log(err)
                            this.g()

                            this.$message({ message: '系统错误，稍后再试', type: 'success', showClose: true });
                        }
                    });
                }
            },
            mounted() {
                this.g()
                $.ajax({
                    type: "post",
                    url: "http://10.10.27.150:81/shoujiBizi/public/index/queryT1",
                    dataType: "json",
                    success: (x)=>{
                        console.log(x)
                        this.type = x
                    }
                });
            },
        })
    </script>
</body>

</html>