html {
	/*margin-left: -462px;*/
	margin-left: 0;
	overflow: hidden;
	/*top:3px;*/
	left: 0
}

body {
	font-family: "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif, Georgia, "Times New Roman";
	color: #fff;
	/*transform: scale(0.313,0.284);/!*iphone 6s plus margin:85px;*!/*/
	/*transform: scale(0.2715,0.218); /*三星s4 margin:95px;*/
	margin: 0 !important;
}

.container {
	width: 1334px;
	height: 870px;
	overflow: hidden;
	position: relative;
}

.header {
	height: 114px;
	background-image: url(/video/pk10/img/top_header.jpg);
	position: relative;
}

.logo {
	position: absolute;
	top: 31px;
	left: 20px;
}

.position {
	position: absolute;
	top: 28px;
	left: 350px;
}

.positm {
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 5px;
}

.positm {
	background: url('/video/pk10/img/numbersprite.png') no-repeat top left;
	width: 64px;
	height: 64px;
}

.num1 {
	background-position: 0 0;
}

.num2 {
	background-position: 0 -64px;
}

.num3 {
	background-position: 0 -128px;
}

.num4 {
	background-position: 0 -192px;
}

.num5 {
	background-position: 0 -256px;
}

.num6 {
	background-position: 0 -320px;
}

.num7 {
	background-position: 0 -384px;
}

.num8 {
	background-position: 0 -448px;
}

.num9 {
	background-position: 0 -512px;
}

.num10 {
	background-position: 0 -576px;
}

.scenary {
	height: 119px;
	position: relative;
}

.scenaryitm {
	position: absolute;
	left: -1334px;
}

.road {
	height: 520px;
	position: relative;
}

.roadani {
	position: absolute;
	width: 1334px;
	height: 520px;
	top: 0;
	left: 0;
	overflow: hidden;
}

.roaditm {
	position: absolute;
	top: 0;
	left: -1300px;
}

.flag {
	position: absolute;
	bottom: 0;
	left: -150px;
}

.car1,
.car2,
.car3,
.car4,
.car5,
.car6,
.car7,
.car8,
.car9,
.car10 {
	position: absolute;
}

.car1 {
	top: -23px;
	left: 1206px;
}

.car2 {
	top: 19px;
	left: 1197px;
}

.car3 {
	top: 55px;
	left: 1181px;
}

.car4 {
	top: 104px;
	left: 1166px;
}

.car5 {
	top: 153px;
	left: 1153px;
}

.car6 {
	top: 204px;
	left: 1139px;
}

.car7 {
	top: 259px;
	left: 1128px;
}

.car8 {
	top: 321px;
	left: 1105px;
}

.car9 {
	top: 382px;
	left: 1084px;
}

.car10 {
	top: 451px;
	left: 1067px;
}

.roadstart {
	position: absolute;
	top: 0;
	left: 960px;
	display: block;
}

.wheel1a {
	position: absolute;
	left: 29px;
	top: 21px;
	display: none;
}

.wheel1b {
	position: absolute;
	left: 124px;
	top: 20px;
	display: none;
}

.wheel2a {
	position: absolute;
	left: 29px;
	top: 21px;
	display: none;
}

.wheel2b {
	position: absolute;
	left: 128px;
	top: 20px;
	display: none;
}

.wheel3a {
	position: absolute;
	left: 32px;
	top: 23px;
	display: none;
}

.wheel3b {
	position: absolute;
	left: 133px;
	top: 22px;
	display: none;
}

.wheel4a {
	position: absolute;
	left: 32px;
	top: 23px;
	display: none;
}

.wheel4b {
	position: absolute;
	left: 135px;
	top: 23px;
	display: none;
}

.wheel5a {
	position: absolute;
	left: 36px;
	top: 24px;
	display: none;
}

.wheel5b {
	position: absolute;
	left: 149px;
	top: 23px;
	display: none;
}

.wheel6a {
	position: absolute;
	left: 39px;
	top: 27px;
	display: none;
}

.wheel6b {
	position: absolute;
	left: 159px;
	top: 26px;
	display: none;
}

.wheel7a {
	position: absolute;
	left: 39px;
	top: 32px;
	display: none;
}

.wheel7b {
	position: absolute;
	left: 166px;
	top: 31px;
	display: none;
}

.wheel8a {
	position: absolute;
	left: 42px;
	top: 31px;
	display: none;
}

.wheel8b {
	position: absolute;
	left: 172px;
	top: 31px;
	display: none;
}

.wheel9a {
	position: absolute;
	left: 44px;
	top: 33px;
	display: none;
}

.wheel9b {
	position: absolute;
	left: 182px;
	top: 32px;
	display: none;
}

.wheel10a {
	position: absolute;
	left: 46px;
	top: 35px;
	display: none;
}

.wheel10b {
	position: absolute;
	left: 191px;
	top: 33px;
	display: none;
}

.trafficlight {
	position: absolute;
	top: 145px;
	left: 340px;
	background-image: url(/video/pk10/img/trafficlight.png);
	width: 636px;
	height: 128px;
}

.redlight {
	position: absolute;
	left: 377px;
	top: -32px;
	display: none;
}

.yellowlight {
	position: absolute;
	left: 179px;
	top: -32px;
	display: none;
}

.greenlight {
	position: absolute;
	left: -23px;
	top: -33px;
	display: none;
}

.countdownnum {
	font-family: 'DS-Digital';
	position: absolute;
	top: -99px;
	left: 115px;
	font-size: 120px;
	line-height: 80px;
	color: #fff;
	widht: 200px;
	text-align: right;
	width: 308px;
	height: 87px;
}

.countdownnum2 {
	font-family: 'DS-Digital';
	position: absolute;
	top: -72px;
	left: 433px;
	font-size: 70px;
	line-height: 60px;
	color: #fff;
	widht: 200px;
	text-align: left;
	width: 90px;
	height: 63px;
}

.currentdraw {
	position: absolute;
	left: 1055px;
	top: 33px;
	font-size: 35px;
	width: 255px;
	height: 51px;
	white-space: nowrap
}

#currentdrawid {
	font-family: arial;
}

.footer {
	height: 140px;
	width: 100%;
	background-color: #202020;
	position: absolute;
	font-size: 31px;
	top: 753px;
}

.footer1 {
	margin-top: 10px;
	margin-left: 13px;
	width: 370px;
	height: 88px;
	border: 4px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	white-space: nowrap
}

.footer1_1 {
	float: left;
	width: 80px;
	margin-left: 20px;
	margin-top: 20px;
}

.footer1_2 {
	float: left;
	width: 250px;
	margin-left: 10px;
	margin-top: 16px;
	line-height: 28px;
	font-family: arial;
}

.footer2 {
	margin-top: 10px;
	margin-left: 10px;
	width: 370px;
	height: 88px;
	border: 4px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	white-space: nowrap
}

.footer2_1 {
	float: left;
	width: 141px;
	margin-left: 5px;
	margin-top: 20px;
}

.footer2_2 {
	float: left;
	margin-left: 10px;
	margin-top: 12px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #0191de;
	background: -moz-linear-gradient(top, #0191de 0%, #09418b 100%);
	background: -webkit-linear-gradient(top, #0191de 0%, #09418b 100%);
	background: linear-gradient(to bottom, #0191de 0%, #09418b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0191de', endColorstr='#09418b', GradientType=0);
}

.footer3 {
	margin-top: 10px;
	margin-left: 10px;
	width: 530px;
	height: 88px;
	border: 4px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	white-space: nowrap
}

.flashlight {
	width: 100%;
	height: 639px;
	background-color: #fff;
	position: absolute;
	top: 114px;
	display: none;
}


/*
@media screen and (orientation:portrait) {
	.footer {
		display: block;
	}
}
 landscape 
@media screen and (orientation:landscape) {
	.footer {
		display: none;
	}
}
*/

.wind {
	position: absolute;
	top: -3px;
	left: -11px;
	display: none;
}

.flame {
	position: absolute;
	display: none;
}

.page1 {
	display: block;
}

.resultpage {
	width: 1334px;
	height: 639px;
	display: none;
	position: relative;
	background-image: url(/video/pk10/img/resultbg.jpg);
}

.resultitm {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	/* For IE8 and earlier */
}

.result1 {
	top: 80px;
	left: 568px;
}

.result2 {
	left: 173px;
	top: 107px;
}

.result3 {
	left: 960px;
	top: 121px;
}

.resultcar1 {
	top: 328px;
	left: 395px;
}

.resultcar2 {
	top: 287px;
	left: 81px;
}

.resultcar3 {
	top: 291px;
	left: 859px;
}

#preloader {
	width: 230% !important;
}

button {
	/* display: none; */
	/*margin-top:850px;*/
}

#closeSound {
	display: inline-block;
	height: 100%;
	width:22%;
	background: url(/video/pk10/img/vulebtn.png) no-repeat 0 8%;
	background-size: 90%;
	cursor: pointer;
	position: absolute;
	right: 0;
}
.closesoundbtn{
	background-position-y: 80% !important;
}
