@charset "utf-8";

body{ background: #fff; font-size:.25rem;}

/* --------------index-start-------------- */
.header { position:fixed; left:0; top:0; width:100%; background:#fff; height:.82rem;}
.headerBox { position:relative;  box-sizing:border-box; padding-top:.1rem;}
.headerBox img { width:1.85rem; margin:0 auto 0;}
.headerBox .resign { display:block; background:url(../kkqhb/resign.jpg) center no-repeat; width:1.46rem; height:.37rem; position:absolute;
 background-size:100%; top:.2rem; left:.1rem;}
.headerBox .online { position:absolute; top:.2rem; right:.1rem; display:block; background:url(../kkqhb/online.jpg) center no-repeat; width:1.46rem; height:.37rem; background-size:100%;}
.h82 { height:.82rem;}
.appIntro { overflow:hidden; padding:.2rem;}
.appIntro .appImg { float:left; width:2.08rem;}
.appinfor { padding-left:.27rem; float:left;}
.appinfor h2 { font-size:.34rem; color:#d9293e; line-height:.62rem; font-weight:bold;}
.appinfor p { color:#666666; font-size:.2rem; line-height:.34rem;}
.appinfor p img { width:.23rem; display:inline-block;}
.btnBar { display: flex;justify-content: space-around; overflow:hidden; padding-left:1rem; padding-right:1rem; padding-bottom:.3rem; border-bottom:.1rem solid #eeeeee;height:2.5rem;}
.btnBar a { display:block;width:2.12rem; height:.64rem; background-size:100%;}
.btnBar a:last-child { margin-right:0;}
.tit { margin-top:.2rem;}
.tit h2{ background:url(../kkqhb/tit.png) center no-repeat; width:5.71rem; height:.74rem; background-size:100%; margin:0 auto; text-align:center;
font-size:.33rem; line-height:.64rem; font-weight:bold; color:#ff0000;}
.tit p { text-align:center; font-size:.24rem; color:#505050; margin-bottom:.2rem;}
.teach { width:6.66rem; margin:.65rem auto 0; border:1px solid #ff4800; border-radius:6px;}
.tit2 h2{background:url(../kkqhb/tit.png) center no-repeat; width:4.71rem; height:.74rem; background-size:100%; margin:-.35rem auto 0; text-align:center;
font-size:.33rem; line-height:.64rem; font-weight:bold; color:#ff0000;}
.step { overflow:hidden;}
.step p { float:left; color:#4a4a4a; margin-left:.3rem; font-size:.4rem; font-weight:bold; line-height:.48rem;}
.step span { float:left; width:5.55rem; line-height:.48rem; font-size:.32rem;}
.teach img { width:5.6rem; margin:.2rem auto .3rem;}
.footer { font-size:.24rem; color:#727272; line-height:.82rem; text-align:center;}
.online { background:url(../kkqhb/kf.png) center no-repeat; display:block; width:1.55rem; height:1.82rem; background-size:100%; position:fixed; top:6.14rem; right:.1rem;}
