.赛选1{
    display: flex;
    label{
        margin: 0px 0px 0px 15px;
    }
}

.红{
    background: #f8223c;
}
.绿{
    background: #84c26b;
}
.蓝{
    background: #0093e8;
}
.opacity{
    opacity: 0.2;
}