@media (max-width: 1200px) {
    html{
        font-size: calc(100vw / 375 * 100) ;
    }
}
@media (min-width: 1200px) {
    html{
        font-size: calc(1200px / 375 * 100);
    }
}

/* html font-size = 16px 1rem = 16px  不好计算*/
/* html font-size = 10px ? 这个 10px 怎么才能不固定？100% font-size = 1vw= 100vw(375)   1rem = 10px  16 / 1.6=10 */
/* 我希望 在 375 的情况下 1rem = 10px  */
/* 我希望 在 750 的情况下 1rem = 20px  */

html,body{
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}
body.swal2-height-auto{
    height: 100% !important;
}
body{
    margin: 0px;
    font-size: 0.16rem;
}

[v-cloak] {
    display: none;
}

.swal2-popup{
    font-size: 16px;
}

.loading {
    /* display: none; */
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    z-index:2;
    transition: all 0.3s;
}

.loading div {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.loading img {
    width: 60%;
    animation: xuanzhuan 1.5s infinite linear;
    display: inline-block;
}

@keyframes xuanzhuan {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.back {
    /* display: none; */
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0.05rem 0.1rem;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    font-size: 0.14rem;
    color: #ffffff;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
}


.content{
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    background: #e21d26;
}

.content .bg_1{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
}
.content .bg_2{
    position: relative;
    z-index: 1;
    margin: 0px auto;
    text-align: center;
    padding: 0.75rem 0px 0px;
}
.content .bg_2 img{
    width: 80%;
}

.swiper_box{
    height: 3.38rem;
    margin: 0.7rem 0px 0px;
    position: relative;
    z-index: 1;
}

.swiper_box .swiper-container{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 0.2rem;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}
.swiper_box .swiper-slide{
    width: 58%;
    display: flex;
    align-items: center;
}
.swiper_box .item{
    width: 100%;
    position: relative;

}
.swiper_box .swiper-slide-active .mask{
    display: none;
}
.swiper_box .mask{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 2;
}
.swiper_box .hongbao_1{
    font-size: 0;
}
.swiper_box .lingqu,
.swiper_box .shixiao{
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 71%;
    display: none;
    z-index:2;
}
.swiper_box .yilingqu .lingqu{
    display: block;
}
.swiper_box .yishixiao .shixiao{
    display: block;
}
.swiper_box .yishixiao{
    filter: sepia(1);
}
.swiper_box .不可领取 .btn_1{
    display: none;
}


.swiper_box .swiper-slide .hongbao_1{
    width: 100%;
}
.swiper_box .text{
    color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 1.15rem;
    box-sizing: border-box;
    text-align: center;
}
.swiper_box .text img{
    width: 10px;
}
@font-face{
    font-family: "zidingyi";
    /* src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2") */
    /* src: url("image/IMPACT.TTF") */
}
.swiper_box .money{
    font-family: "zidingyi";
    font-size: 0.38rem;
    color: #ffffff;
}
.swiper_box .day{
    margin: 0px 0px 7px 0px;
    position: relative;
}
.swiper_box .day::after{
    position: absolute;
    left: 5%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    content: '';    
    width: 90%;
    height: 1px;
    background: #ffffff;
    opacity: 0.5;
}
.swiper_box .day span{
    background: #e9390c;
    position: relative;
    z-index: 1;
    padding: 0px 10px;
}
.swiper_box .yilingqu .tishi_1,
.swiper_box .当前 .tishi_1{
    opacity: 1;
}
.swiper_box .tishi_1{
    font-size: 0.12rem;
    color: #ececec;
    margin: 5px 0px 5px;
    opacity: 0;
}
.swiper_box .huode{
    color: #ffe92f;
}
.swiper_box .btn_1{
    background: #ffe92f;
    color: #ff5001;
    width: 62%;
    line-height: 0.3rem;
    border-radius: 0.3rem;
    margin: 0.07rem auto 0px;
    font-size: 0.14rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.guize{
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 10px 0px;
}
.guize img{
    width: 94%;
}

.start_stop{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}





