<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="4044" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/kenneth/index.html" responseMode="ExecuteURL" />
        </httpErrors>
        <httpRedirect enabled="true" destination="http://www.test123456.com/kenneth" childOnly="true" />
    </system.webServer>
</configuration>
