@media (max-width: 1200px) {
    html{
        font-size: calc(100vw / 375 * 100) ;
    }
}
@media (min-width: 1200px) {
    html{
        font-size: calc(1200px / 375 * 100);
    }
}

.loading2{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.4); */
}
.loading2>div{
    width: 280px;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 10px;
    color: #ffffff;
}
.loading2 .title_1{
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
}
.loading2 .title_2{
    text-align: center;
    font-size: 13px;
    color: #d4d4d4;
}
.loading2 .title_3{
    text-align: center;
    color: #a5a5a5;
    font-size: 12px;
    padding: 5px 0px;
}

.loading2 .container{
    width: 140px;
    height: 140px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: relative;
    
    -webkit-animation: container 5s linear infinite;
    -moz-animation: container 5s linear infinite;
    -o-animation: container 5s linear infinite;
    -ms-animation: container 5s linear infinite;
    animation: container 5s linear infinite; 
}

@keyframes container {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}
@-webkit-keyframes container{
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}


.loading2 .common {
    height: 30px;
    max-height: 100%;
    overflow: auto;
    width: 12px;
    margin: auto;
    max-width: 100%;
    position: absolute;
    border-radius: 0vw 10vw 0vw 10vw;
    box-shadow: inset 0vw 0vw 0vw .1vw #E645D0, 0vw 0vw 1.5vw 0vw #E645D0;
}
.loading2 .one {
    transform: rotate(45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 60px;
    animation: eight 1s ease infinite;
}
.loading2 .two {
    transform: rotate(90deg);
    left: 40px;
    right: 0;
    top: 0;
    bottom: 40px;
    animation: eight 1s .125s ease infinite;
}
.loading2 .three {
    transform: rotate(135deg);
    left: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    animation: eight 1s .25s ease infinite;
} 
.loading2 .four {
    transform: rotate(180deg);
    left: 40px;
    right: 0;
    top: 40px;
    bottom: 0;
    animation: eight 1s .375s ease infinite;
} 
.loading2 .five {
    transform: rotate(225deg);
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;

    animation: eight 1s .5s ease infinite;
} 
.loading2 .six {
    transform: rotate(270deg);
    left: 0;
    right: 40px;
    top: 40px;
    bottom: 0;

    animation: eight 1s .625s ease infinite;
}
.loading2 .seven {
    transform: rotate(315deg);
    left: 0;
    right: 60px;
    top: 0;
    bottom: 0;
    animation: eight 1s .750s ease infinite;
}
.loading2 .eight {
    transform: rotate(360deg);
    left: 0;
    right: 40px;
    top: 0;
    bottom: 40px;

    animation: eight 1s .875s ease infinite;
    -moz-animation: eight 1s .875s ease infinite;
    /* Firefox */
    -webkit-animation: eight 1s .875s ease infinite;
    /* Safari and Chrome */
    -o-animation: eight 1s .875s ease infinite;
    /* Opera */
}
@keyframes eight {
    0%,
    100% {}
    50% {
        box-shadow: inset 0vw 0vw 0vw 1px #17E1E6, 0vw 0vw 0px 0vw #17E1E6;
    }
}
/* ============================   */

html,body{
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}
body.swal2-height-auto{
    height: 100% !important;
}

[v-cloak]{
    display: none;
}

body{
    margin: 0px;
    font-size: 0.16rem;
}
/* 弹出框 */
.swal2-popup{
    font-size: 16px;
}
.swal2-container{
    overflow-y:auto !important;
}
[v-cloak] {
    display: none;
}

.loading {
    /* display: none; */
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    z-index:2;
    transition: all 0.3s;
}

.loading div {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.loading img {
    width: 60%;
    animation: xuanzhuan 1.5s infinite linear;
    display: inline-block;
}

@keyframes xuanzhuan {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.back {
    /* display: none; */
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0.05rem 0.1rem;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
    font-size: 0.14rem;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
@font-face{
    font-family: "zidingyi";
    src: url("IMPACT.TTF")
}


#vue{
    height: 100%;
}
.content{
    /* background-image: url(image/bg.jpg); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    background-color: #bb0007;
}



.content .content_2{
    background-image: url('http://tu.xxqsw.com/imgs/2020/%E6%8A%A2%E7%BA%A2%E5%8C%85%E5%80%92%E8%AE%A1%E6%97%B64-bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #bb0007;
    /* background-position:top center ; */
    position: relative;
    z-index: 2;
    padding: 1px 0px 0px;
}
.bg_1{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 0;
    font-size: 0px;
}
.bg_1 img{
    width: 100%;
}

.daojishi{
    display: flex;
    margin: 2.3rem 0px 0px;
    justify-content: center;
    align-items: center;
    font-size: 0.12rem;
    color:#ffffff;
    text-align: center;
    line-height: 0.3rem;
    /* background-image: url(./image/组-2.png); */
    /* background-repeat:no-repeat; */
    /* background-position: center; */
    /* background-size: auto 100%; */
}
.daojishi li{
    margin: 0px 1px;
}
.daojishi .t{
    width: 0.33rem;
    height: 0.3rem;
    /* background-image:url(./image/1.png); */
    /* background-size: auto 100%; */
    background: linear-gradient(#110d0e, #484848,#110d0e);
    font-family: 'zidingyi';
    font-size: 0.18rem;
}

.btn_1{
    width: 0.95rem;
    height: 0.95rem;
    margin: 0.04rem auto 0px;
    position: relative;
    z-index: 1;
}
.btn_1 img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}
.btn_1.active img{
    filter: grayscale(0);
    animation: donghua1 0.5s infinite linear;
}

@keyframes donghua1{
    0%{
        transform: scale(1);
    }50%{
        transform: scale(0.8);
    }100%{
        transform: scale(1);
    }
}
/* 名额 */
.minge{
    text-align: center;
}
.minge img{
    width: 85%;
}

.img_list{
    width: 88%;
    margin: 0px auto 0px;
}
.img_list img{
    width: 100%;
}
.img_list .item{
    transform: translateY(-240px) rotateX(720deg);
    opacity: 0;
    transition: all 1s;
}
.img_list .item.active{
    transform: translateY(0px) rotateX(0deg);
    opacity: 1;
}



.footer{
    font-size: 0px;
}
.footer img{
    width: 100%;
}




