<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>668-彩票</title>
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="vue">

    <div class="box_1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-6">
                    <img src="image/logo1.png" alt="" srcset="">
                </div>
                <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                    <img src="image/logo2.png" alt="" srcset="">
                </div>
                <div class="col-lg-4 col-md-4 col-xs-6 kefu">
                    <img src="image/logo3.png" alt="" srcset="">
                    7*24小时在线客服
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header_1">
                    线路检查
                </div>
            </div>
        </div>

        <div class="row text-center box_2">
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>1</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp00.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>2</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp11.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>3</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp22.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>4</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp33.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>5</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp44.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>6</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp55.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>7</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp66.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>8</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp77.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>9</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp88.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>10</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp99.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>11</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp11.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <a target="view_window" href="http://www.668cp00.com">
                    <div class="img_box">
                        <img src="image/bg1.png" alt="" srcset="">
                        <div>12</div>
                    </div>
                    <div>668彩票线路一</div>
                    <div>668cp12.com</div>
                    <div class="xingxing">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </div>
                </a>
            </div>
            
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="header_1">
                    域名认证
                </div>
            </div>
        </div>

        <!-- 域名认证 -->
        <div class="row yuMingRenZheng">
                <div class="col-lg-12">
                    <div class="title_2">
                        <div>域名认证</div>
                        <div>DOMAIN NAME AUTHENTICTION</div>
                    </div>
                    <div class="tishi_1">
                        <span></span>
                        <span>提示：请在下方输入域名，验证是否为我公司官方域名</span>
                    </div>
                    <div class="input_1">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">http://</span>
                            <input type="text" class="form-control" v-model="url" aria-describedby="basic-addon1" @keyup.enter="attestation()">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" @click="attestation()" type="button">验证</button>
                            </span>
                        </div>
                    </div>
                    <div class="tishi_2">
                        <span v-if="err" class="err">{{err}}</span>
                        <span v-if="chenggong" class="chenggong">
                            <!-- 认证成功 -->
                            {{chenggong}}
                        </span>
                    </div>
                </div>
            </div>



        <div class="row hidden-xs">
            <div class="col-lg-12">
                <div class="header_1">
                    快捷入口
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-lg-12">
                <ul class="box_3">
                    <li>
                        <a target="view_window" href="">
                            <img src="image/3_1.png" alt="" srcset="">
                            <div>免费开户</div>
                        </a>
                    </li>
                    <li>
                        <a target="view_window" href="">
                            <img src="image/3_2.png" alt="" srcset="">
                            <div>活动大厅</div>
                        </a>
                    </li>
                    <li>
                        <a target="view_window" href="">
                            <img src="image/3_3.png" alt="" srcset="">
                            <div>代理加盟</div>
                        </a>
                    </li>
                    <li>
                        <a target="view_window" href="">
                            <img src="image/3_4.png" alt="" srcset="">
                            <div>客服中心</div>
                        </a>
                    </li>
                    <li>
                        <a target="view_window" href="">
                            <img src="image/3_5.png" alt="" srcset="">
                            <div>最新优惠</div>
                        </a>
                    </li>
                    <li>
                        <a target="view_window" href="">
                            <img src="image/3_6.png" alt="" srcset="">
                            <div>快速充值</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="header_1">
                    推荐浏览器
                </div>
            </div>
        </div>

        <div class="row box_4">
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://www.ub58.com/">
                    <div>
                        <img src="image/uc.png" alt="">
                    </div>
                    <div>Uc浏览器</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://www.google.cn/intl/zh-CN/chrome/">
                    <div>
                        <img src="image/google.png" alt="" srcset="">
                    </div>
                    <div>谷歌浏览器</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://www.maxthon.cn/custom/">
                    <div>
                        <img src="image/l_3.jpg" alt="" srcset="">
                    </div>
                    <div>傲游浏览器</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://liulanqi.baidu.com/download.html">
                    <div>
                        <img src="image/baidu.png" alt="" srcset="">
                    </div>
                    <div>百度浏览器</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://www.firefox.com.cn/">
                    <div>
                        <img src="image/huofu.png" alt="">
                    </div>
                    <div>火狐浏览器</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://browser.360.cn/">
                    <div>
                        <img src="image/360.png" alt="">
                    </div>
                    <div>360浏览器</div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="header_1">
                    常用网站
                </div>
            </div>
        </div>

        <div class="row box_4">
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://www.ub58.com/">
                    <div>
                        <img src="image/logo/zhongguo.png" alt="">
                    </div>
                    <div>中国银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://www.icbc.com.cn/icbc/">
                    <div>
                        <img src="image/logo/gongshang.png" alt="" srcset="">
                    </div>
                    <div>工商银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://www.ccb.com/cn/home/indexv3.html">
                    <div>
                        <img src="image/logo/jianshe.png" alt="" srcset="">
                    </div>
                    <div>建设银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://www.abchina.com/cn/">
                    <div>
                        <img src="image/logo/nongye.png" alt="" srcset="">
                    </div>
                    <div>农业银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://www.bankcomm.com/BankCommSite/default.shtml">
                    <div>
                        <img src="image/logo/jiaotong.png" alt="">
                    </div>
                    <div>交通银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://www.cmbchina.com/">
                    <div>
                        <img src="image/logo/zhaoshang.png" alt="">
                    </div>
                    <div>招商银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://www.ub58.com/">
                    <div>
                        <img src="image/logo/youzheng.png" alt="">
                    </div>
                    <div>邮政银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://www.bankofbeijing.com.cn/">
                    <div>
                        <img src="image/logo/beijin.png" alt="" srcset="">
                    </div>
                    <div>北京银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://www.cib.com.cn/cn/index.html">
                    <div>
                        <img src="image/logo/xingye.png" alt="" srcset="">
                    </div>
                    <div>兴业银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="http://www.cgbchina.com.cn/">
                    <div>
                        <img src="image/logo/guangfa.png" alt="" srcset="">
                    </div>
                    <div>广发银行</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://www.alipay.com/">
                    <div>
                        <img src="image/logo/zhifubao.png" alt="">
                    </div>
                    <div>支付宝</div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <a target="view_window" href="https://weixin.qq.com/">
                    <div>
                        <img src="image/logo/weixin.png" alt="">
                    </div>
                    <div>微信支付</div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="footer">
                    <li class="left">
                        <div class="img_1">
                            <!-- <img src="image/font.png" alt="" srcset=""> -->
                        </div>
                        <div class="img_2">
                            <img src="image/logo4.png" alt="" srcset="">
                            <span>汇聚全球顶级平台</span>
                        </div>
                        <div>
                            提供30000多款<a target="view_window" href="">电子游艺</a>、<a target="view_window" href="">棋牌游戏</a>、<a target="view_window" href="">捕鱼</a>、<a target="view_window" href="">彩票投注</a>等游戏
                        </div>
                        <div>
                            全面支持手机1元一键存/取款，方便快捷，财富尽在掌握之中。
                        </div>
                        <div class="download">
                            <div>
                                <a target="view_window" href="">
                                    <img src="image/ios.png" alt="" srcset="">
                                </a>
                                <a target="view_window" href="">
                                    <span>ios客户端下载</span>
                                </a>
                                <a target="view_window" href="" class="margin_left">
                                    <img src="image/android.png" alt="" srcset="">
                                </a>
                                <a target="view_window" href="">
                                    <span>Android客户端下载</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="right">
                        <img src="image/footer.png" alt="" srcset="">
                    </li> -->
                </ul>
            </div>
        </div>

    </div>

    </div>

    
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="vue/vue.js"></script>
    <script src="userList.js"></script>
    <script>
        new Vue({
            el:"#vue",
            data() {
                return {
                    url:"",
                    err:"",
                    chenggong:""
                }
            },
            methods: {
                attestation(){
                    if(!this.url){
                        this.err="请输入要检测的域名"
                    }else if(this.url.indexOf('.')==-1 ){
                        this.err="请输入要检测的域名"
                    }else {
                        var url=this.url.toLowerCase().replace('http://','').replace('https://','')//.replace('www.','').replace('.com','').replace('.cn','');
                        var url_2=this.url.toLowerCase()
                        var isok=false;
                            userList.forEach(item => {
                                var item_1=item.replace('http://','').replace('https://','')//.replace('www.','').replace('.com','').replace('.cn','')
                                if(item.indexOf(url)!=-1 || url_2.indexOf(item_1)!=-1 ){
                                    isok=true
                                }
                            });
                        if(isok){
                            this.err='';
                            this.chenggong="此域名通过认证，欢迎访问网站"
                        }else{
                            this.err="此域名未通过官方认证，请勿浏览！";
                            this.chenggong=""
                        }
                    }
                }
            },
        })
    </script>
</body>
</html>