<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="css/index.css?0122" media="all and (min-width: 750px)">
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    
    <link rel="stylesheet" type="text/css" media="all and (max-width: 750px)" href="css/media.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/media.css"> -->
    <title>金鼠贺年</title>
</head>

<body>
    <div id="vue" v-cloak>
        <div class="back" @click="back()" v-show="isback">返回</div> 
        <div class="bg_1 m_1200">
            <div class="time"><span class="pcShow">活动</span>时间：01-24 至 02-09</div>
        </div>
        <div class="whole box_2 m_1200">
            <div class="cont_1200 info">
                <div class="djs">
                    <div class="text">{{typeText[type]}}</div>
                    <span class="time">
                        <span class="ss">{{endTime.d}}</span>
                        <span class="ss">{{endTime.h}}</span>
                        <span class="ss">{{endTime.m}}</span>
                        <span class="ss">{{endTime.s}}</span>
                    </span>
                </div>
                <div class="marquee-wrap">
                    <ul class="marquee-list" :class="{'animate-up': animateUp}">
                        <li v-for="(item, index) in listData" :key="index">{{item}}</li>
                    </ul>
                </div>
                <div class="mainbar">
                    <div class="quanquan">
                        <h3>当前活动奖池余额</h3>
                        <h2>￥<b>{{jiangChi2}}</b></h2>
                    </div>
                    <div class="inner">
                        <table class="info_table">
                            <tbody>
                                <tr>
                                    <td width="25%"><b>{{info.Dml}}</b> 元</td>
                                    <td width="25%"><b>{{info.Count}}</b> 次</td>
                                    <td width="22%"><b>{{info.CountEnd}}</b> 次</td>
                                    <td width="28%"><b>{{info.CountEndMoney}}</b> 元</td>
                                </tr>
                                <tr>
                                    <td>累积存款</td>
                                    <td>活动抽奖机会</td>
                                    <td>已参与抽奖</td>
                                    <td>已获奖金</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="btn_draw" @click="lingQuCiShu()" :disabled="info.TodayAccount==0" :class="{red:info.TodayAccount!=0}">点击领取<span>{{info.TodayAccount}}</span>次</button>
                    <button type="button" @click="chouJiangTk()" class="btn_draw red">开始抽奖</button>
                </div>

                <!-- <div class="announce">
                    <img src="image/icon_cup.png" alt="" srcset="">
                    <ul class="list">
                        <li>01-16 13:44 恭喜会员 tb*jd12* 抽中 <b>268</b> 元</li>
                        <li>01-16 13:41 恭喜会员 tb*qj77*** 抽中 <b>188</b> 元</li>
                        <li>01-16 13:29 恭喜会员 tb**aolei1** 抽中 <b>128</b> 元</li>
                    </ul>
                </div> -->
            </div>
        </div>

        <div class="whole box_3 m_1200">
            <div class="cont_1200 medals">
                <div class="desc">
                    <img class="shoujiShow" src="image/shouji/draw_list.png" alt="">
                    <div class="shoujiShow" >抽奖时显示不同颜色的背面，所代表相对应不同的奖金组，在每个奖金组区间内，给予的奖金也是随机的。</div>
                    <div class="pcShow">
                        抽奖时显示不同颜色的背面，所代表相对应不同的奖金组，在每个奖金组区间内，给予的奖金也是随机的。 <br>
                        灰、黄、红、绿、蓝、紫红、深紫，颜色越往后，代表可能获得的奖金组金额越高！
                    </div>
                </div>
                <ul class="items">
                    <li>
                        <div class="title_1"></div>
                        <div class="money">1元</div>
                    </li>
                    <li>
                        <div class="title_1">8</div>
                        <div class="money">8元</div class="money">
                    </li>
                    <li>
                        <div class="title_1">??</div  class="title_1">
                        <div class="money">18元~88元</div class="money">
                    </li>
                    <li>
                        <div class="title_1">???</div>
                        <div class="money">128元~888元</div class="money">
                    </li>
                    <li>
                        <div class="title_1">????</div>
                        <div class="money">1288元~2888元</div class="money">
                    </li>
                    <li>
                        <div class="title_1"></div>
                        <div class="money">当前奖池的1%奖金</div class="money">
                    </li>
                    <li>
                        <div class="title_1"></div>
                        <div class="money">当前奖池的5%奖金</div class="money">
                    </li>
                </ul>
            </div>
            <div class="cont_1200 box_4">
                <div class="shoujiShow">
                    <img src="image/shouji/active_rules.png" alt="" srcset="">
                </div>
                <ul class="rules">
                    <li><span class="shoujiShow">1.</span>活动时间：1月24日 至 2月9日 (在此期间存款的用户，均可参与活动)。</li>
                    <li><span class="shoujiShow">2.</span>玩家每成功累积存款500元可领取一张幸运抽奖券，抽奖券使用有效期至2月24日.</li>
                    <li><span class="shoujiShow">3.</span>奖池奖金：奖池金额800万。若提前被领完，则活动自动结束，请合理安排抽奖券的使用。</li>
                    <li><span class="shoujiShow">4.</span>活动礼金不限游戏，只需8倍流水即可提款。</li>
                    <li><span class="shoujiShow">5.</span>所有客户只能拥有一个账号：同一个IP、同一个存/提款卡、同一个手机号码、同一个邮箱都视为同一客户，如果威尼斯人发现客户有滥用此优惠的行为，我们保留撤回奖金及由此赢得的任何彩金的权利。一旦此情况发生，威尼斯人将终止此玩家享受此优惠的资格。</li>
                    <li><span class="shoujiShow">6.</span>该活动若存在文字理解的差异，则最终解释权归【威尼斯人】所有，且【威尼斯人】保留随时修改，暂停或取消活动的权利。</li>
                </ul>
            </div>
        </div>
        
        <!-- active 表示正在抽奖 -->
        <div class="tk" :class="[tkClassName,tkShow]">
            <div class="choujiang">
                <img class="close" @click="close()" src="image/close.png" />
                <div class="title"><img src="image/text2.png" alt=""></div>
                <div class="drawing">
                    <div class="disc">
                        <ul class="gundong" >
                            <div v-for="(item, index) in 20" :key="index">
                                <!-- 福字 -->
                                <li class="a_f">
                                    <div class="text"></div>
                                </li>
                                <!-- ========= -->
                                <li class="a_1">
                                    <div class="text"></div>
                                </li>
                                <li class="a_2">
                                    <div class="text">{{(抽中金额 && !正在开奖) ? 抽中金额 : 8}}</div>
                                </li>
                                <li class="a_3">
                                    <div class="text">{{(抽中金额 && !正在开奖) ? 抽中金额 : 88}}</div>
                                </li>
                                <li class="a_4">
                                    <div class="text">{{(抽中金额 && !正在开奖) ? 抽中金额 : 888}}</div>
                                </li>
                                <li class="a_5">
                                    <div class="text">{{(抽中金额 && !正在开奖) ? 抽中金额 : 2888}}</div>
                                </li>
                                <li class="a_6">
                                    <div class="text"></div>
                                </li>
                                <li class="a_7">
                                    <div class="text"></div>
                                </li>
                                <!-- =================== -->
                                <!-- <li class="a_f">
                                    <div class="text"></div>
                                </li> -->
                            </div>
                        </ul>
                        <!-- <div class="medal"></div> -->
                    </div>
                </div>
                <div class="foot">
                    <button class="btn_once" @click="choujiang()" :disabled="正在开奖"><span>点击抽奖</span></button>
                    <!-- <button class="btn_multi"><span>连抽<b>10</b>次</span></button> -->
                    <div class="rest">剩余次数<b>{{info.Count}}</b> 次</div>
                </div>
                <!-- <div class="result_money d_n">
                    共抽获 <b id="gotten">0</b> 元礼金
                    <div class="pos-r" style="padding-top: 16px;"><button class="btn_once" @click="close()"><span>确定</span></button></div>
                </div> -->
            </div>
        </div>

    </div>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
    <!-- <script>
     var vConsole = new VConsole();
    </script> -->
    <script src="text-swiper.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/easing.min.js"></script>
    <!-- 时间格式化 -->
    <script src="js/moment.js"></script>
    <script src="sweetalert2/sweetalert2.js"></script>
    <script src="js/vue.js"></script>
    <!-- <script src="js/rem.js"></script> -->
    <script src="index.js?v=0123"></script>
</body>

</html>