<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>艺术照</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="vue" @click="点击屏幕($event)">
        <!-- <div class="btns">
            <button @click="sedchildren()">按钮1</button>
        </div> -->

        <div class="bg1" >
            <img class="bg2" v-if="!btoaString || newBg" :src="`${src}images/bg2.png`" alt="" srcset="">
            <div class="bg4" v-if="newBg" >
                <img :src="newBg" alt="" srcset="">
            </div>
            <!-- <img class="bg2" v-if="newBg" :src="newBg" alt="" srcset=""> -->
            <img class="bg3" v-if="btoaString && !newBg" :src="btoaString" alt="" srcset="">
        </div>
        <div class="video-2" v-if="showVideo2" @click="playVideo()">
            <video id="video2" autoplay :src="videoSrc"></video>
            <div class="btn-2"  @click="kaishi()">画像</div>
        </div>
        <!-- 开始 -->
        <div v-show="step==1" class="btn-1"  @click="kaishi()">画像</div>

        <!-- 选择画家 -->
        <div class="step-2" v-show="step==2">
            <div class="title">请选择一名画家为您画像</div>
            <ul>
                <li>
                    <img @click="xuanZuoZhe('cubism')" :src="`${src}images/step-2-1.png`" alt="" srcset="">
                    <div>毕加索</div>
                </li>
                <li>
                    <img @click="xuanZuoZhe('pointillism')" :src="`${src}images/step-2-2.png`" alt="" srcset="">
                    <div>印象主义点彩</div>
                </li>
                <li>
                    <img @click="xuanZuoZhe('the_scream')" :src="`${src}images/step-2-3.png`" alt="" srcset="">
                    <div>爱德华蒙克的呐喊</div>
                </li>
                <li>
                    <img @click="xuanZuoZhe('rain')" :src="`${src}images/rain.png`" alt="" srcset="">
                    <div>阿夫列莫夫</div>
                </li>
                <li>
                    <img @click="xuanZuoZhe('starry')" :src="`${src}images/starry.png`" alt="" srcset="">
                    <div>梵高</div>
                </li>
            </ul>
        </div>

        <div class="step-paiSheQian" v-show="step == 3 || step == 4">
            <canvas id="canvas" ></canvas>
            <video v-show="showVideo" id="video" autoplay ></video>

            <!-- <img v-show="step == 3 " :src="`${src}images/icon-camera.svg`" alt="" srcset="" @click="daojishi()" > -->
            <div class="daojishi" v-show="step == 4">
                <div>{{time_1}}</div>
            </div>
        </div>
        
        <!-- 制作中 -->
        <div class="step-3" v-show="step==5">
            <img :src="`${src}images/icon-prompt.svg`" alt="" srcset="">
            <span>{{user[style]}} 正在为您画像，请耐心等待!</span>
        </div>
        <!-- 完成 -->
        <div class="step-4" v-show="step==6">
            <img :src="`${src}images/icon-carry-out.svg`" alt="" srcset="">
            <span>提示：画像完成</span>
        </div>

        <!-- 完成收重新选择风格 -->
        <div class="step-7" v-show="step==7">
            <div class="title">重新选择风格</div>
            <!-- <img @click="openerweima()" class="erweima1" src="images/erweima.png" alt="" srcset=""> -->
            <ul>
                <li>
                    <img @click="step=2" :src="`${src}images/chongxin.png`" alt="" srcset="">
                    <div>重新画像</div>
                </li>
                <li :class="{active:style=='cubism'}">
                    <img @click="chongXing('cubism')" :src="`${src}images/step-2-1.png`" alt="" srcset="">
                    <div>毕加索</div>
                </li>
                <li :class="{active:style=='pointillism'}">
                    <img @click="chongXing('pointillism')" :src="`${src}images/step-2-2.png`" alt="" srcset="">
                    <div>印象主义点彩</div>
                </li>
                <li :class="{active:style=='the_scream'}">
                    <img @click="chongXing('the_scream')" :src="`${src}images/step-2-3.png`" alt="" srcset="">
                    <div>爱德华蒙克的呐喊</div>
                </li>
                <li :class="{active:style=='rain'}">
                    <img @click="chongXing('rain')" :src="`${src}images/rain.png`" alt="" srcset="">
                    <div>阿夫列莫夫</div>
                </li>
                <li :class="{active:style=='starry'}">
                    <img @click="chongXing('starry')" :src="`${src}images/starry.png`" alt="" srcset="">
                    <div>梵高</div>
                </li>
            </ul>
        </div>

        <div class="step-err" v-show="step=='err'">
            <img :src="`${src}images/icon_err.png`" alt="" srcset="">
            <span>提示：{{errText}}</span>
        </div>

        <div v-show="step==7" class="erweima2" @click="openerweima()">
            <div class="img">
                <img v-if="erweimaType==1" :src="erweima" alt="" srcset="">
                <div v-if="erweimaType==0">
                    二维码生成中
                </div>
                <div v-if="erweimaType==2">
                    生成失败，点击重新生成
                </div>
            </div>
            <div class="text">扫码二维码下载图片</div>
        </div>

        <img class="full" :src="`${src}images/full.png`" alt="" srcset=""  @dblclick="full()">
        <!-- <input class="file" v-if="showFile" @change="fileChagne" type="file" accept="image/*" capture="camera"> -->
    </div>
    
    <script src="../static/vue.js"></script>
    <script src="../static/upload.js"></script>
    <script src="../static/axios.min.js"></script>
    <script src="index.js"></script>
</body>
</html>