html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  background: #252525;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.btns {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

#vue {
  height: 100%;
}

.file {
  display: none;
}

.bg1 {
  width: 100%;
  height: 100%;
}

.bg1 .bg2 {
  width: 100%;
}

.bg1 .bg3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bg4 {
  position: absolute;
  left: 0px;
  right: 2.31481vw;
  top: 28.7037vw;
  margin: auto;
  width: 59.25926vw;
  height: 75.92593vw;
  overflow: hidden;
}

.bg4 img {
  width: 101%;
  height: 101%;
  object-fit: cover;
}

.btn-2,
.btn-1 {
  position: absolute;
  right: 2.68519vw;
  bottom: 2.68519vw;
  margin: auto;
  cursor: pointer;
  width: 9.25926vw;
  height: 9.25926vw;
  border-radius: 100%;
  background: #BA7F39;
  line-height: 9.25926vw;
  color: #FFFFFF;
  font-size: 2.22222vw;
  text-align: center;
}

.btn-2 {
  z-index: 2;
  right: 2.68519vw;
  left: auto;
}

.step-3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1.94444vw;
}

.step-3 img {
  width: 3.14815vw;
  height: 3.14815vw;
  margin: 0px 1.15741vw 0px 0px;
}

.step-err,
.step-4 {
  height: 7.73148vw;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 1.94444vw;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7.73148vw;
}

.step-err img,
.step-4 img {
  width: 4.35185vw;
  height: 4.35185vw;
  margin: 0px 1.15741vw 0px 0px;
}

.step-4 {
  width: 25.46296vw;
}

.step-err {
  width: 34.72222vw;
}

.step-5 {
  cursor: pointer;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 6.01852vw;
  margin: auto;
  width: 11.57407vw;
  height: 11.57407vw;
  border-radius: 100%;
  background: #D33715;
  color: #FFFFFF;
  font-size: 2.22222vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 1.85185vw -0.87963vw #D33715;
}

.step-2,
.step-7 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 1.38889vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.92593vw 0px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0px 1.15741vw;
}

.step-2 .title,
.step-7 .title {
  color: #8a87f3;
  text-align: center;
  margin: 0px 0px 0.92593vw;
  padding: 0.69444vw 0.92593vw;
  border-radius: 5px;
  margin: 0px auto;
  font-size: 1.75926vw;
}

.step-2 .erweima1,
.step-7 .erweima1 {
  position: absolute;
  right: 0.46296vw;
  top: 0.46296vw;
  width: 2.77778vw;
}

.step-2 ul,
.step-7 ul {
  height: 13.37963vw;
  border-radius: 1.11111vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.75926vw;
  text-align: center;
  white-space: nowrap;
}

.step-2 ul .active,
.step-7 ul .active {
  color: #3fd6c0;
}

.step-2 ul .active img,
.step-7 ul .active img {
  border: 0.46296vw solid #3fd6c0;
}

.step-2 ul li,
.step-7 ul li {
  width: 14.35185vw;
}

.step-2 ul img,
.step-7 ul img {
  width: 7.68519vw;
  height: 7.68519vw;
  border-radius: 100%;
}

.video-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video-2 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-paiSheQian {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
}

.step-paiSheQian video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.step-paiSheQian canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.step-paiSheQian img {
  width: 10.92593vw;
  height: 10.92593vw;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4.07407vw;
  margin: auto;
  z-index: 2;
}

.step-paiSheQian .daojishi {
  width: 10.92593vw;
  height: 10.92593vw;
  position: absolute;
  z-index: 2;
  left: 0px;
  right: 0px;
  bottom: 4.07407vw;
  margin: auto;
  border-radius: 100%;
  text-align: center;
  font-size: 4.62963vw;
  color: #fff;
  border: 0.46296vw solid #BA7F39;
  padding: 0.46296vw;
}

.step-paiSheQian .daojishi div {
  height: 100%;
  background: #BA7F39;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.full {
  position: absolute;
  bottom: 1.85185vw;
  left: 1.85185vw;
  width: 40px;
  z-index: 3;
  opacity: 0.5;
}

.erweima2 {
  position: absolute;
  top: 108.7963vw;
  left: 0px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff8c;
  font-size: 1.38889vw;
}

.erweima2 .img {
  width: 13.88889vw;
  height: 13.88889vw;
  border: 0.46296vw solid #ffffff47;
  margin: 0px 0px 1.38889vw;
  padding: 0.46296vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

.erweima2 img {
  width: 100%;
  height: 100%;
}
